[2018-02-28 13:22] Lukasa opened #41 "Flaky test for HTTP delayed upgrade."
One of the HTTP delayed upgrade tests occasionally fails with the following backtrace:

[code]

We should investigate why this is happening, but it seems to just be a problem in the test code itself: probably a race.

[2018-03-01 03:02] weissi opened #43 "it's too hard to make HTTP/1.1 pipelining work correctly, we should offer a solution"
At the moment, it's too hard to make HTTP/1.1 pipelining work correctly. SwiftNIO just forwards you the HTTP request parts as they come in and the user needs to make sure everything works correctly with pipelining which is hard (even our example `NIOHTTP1Server` doesn't do that (see #9)).

We should offer a `HTTP1PipeliningHandler` which forwards the n-th request only if the (n-1)th request has be

[2018-03-01 16:27] tanner0101 opened #51 "in event loop assertion failing with multiple threads"
[This line](https://github.com/apple/swift-nio/blob/master/Sources/NIO/EventLoopFuture.swift#L523) is getting hit when `MultiThreadedEventLoopGroup` is configured with `numThreads > 1` [right here](https://github.com/apple/swift-nio/blob/master/Sources/NIOHTTP1Server/main.swift#L389).

You can recreate this with the following steps:

1: clone swift-nio master
2: configure `group` to `System.coreCo

[2018-03-01 21:01] tanner0101 opened #54 "publicize `NIOFoundationCompat`"
Is there a reason this package was not added to the products array in the package manifest?

If that's just an oversight, I'm happy to submit a PR. :)

[2018-03-01 22:29] SebastianThiebaud opened #55 "Thoughts on gRPC"
Thank you for this library, this is some great work.
I was wondering if there is any plan to work on a gRPC library in Swift, built on top of `swift-nio`. I'd be more than interested to contribute and wanted to check if gRPC was part of some roadmap, directly (or undirectly) related to `swift-nio` and this project.
Thank you.

[2018-03-01 22:51] normanmaurer commented on #54
@tanner0101 its an oversight :( Yes please provide a pr @tanner0101 :)

[2018-03-01 22:52] normanmaurer commented on #51
@tanner0101 we will have a look. This is definitely a bug ...

[2018-03-01 22:57] normanmaurer commented on #51
@weissi can you have a look ?

[2018-03-01 23:08] Lukasa commented on #55
We'd love to have gRPC support. 👍 However, a NIO-native gRPC implementation has some protocol implementation requirements for us to build first: we need HTTP/2. HTTP/2 is pretty early on the roadmap, and some work has been done already, so we're definitely on the way there.

In the meantime, if you need gRPC today you can work with the reference implementation in a background thread and use Dispat

[2018-03-02 00:04] SebastianThiebaud commented on #55
Glad to hear about this! Thanks for the quick answer.

[2018-03-02 00:04] #55 closed

[2018-03-02 01:48] weissi opened #59 "consider exposing the current `EventLoop`"
In certain cases nicer APIs can be created if there's a public way to get the _current_ `EventLoop` from within a SwiftNIO app. We should consider doing that. The most straight-forward implementation is obviously to just store in in a `ThreadSpecificVariable`.

[2018-03-02 01:50] normanmaurer commented on #59
@weissi This sounds very reasonable and cheap to support... +1 for this.

[2018-03-02 01:50] weissi opened #60 "consider offering an API to attach metadata to an EventLoop"
It can be very useful for users of SwiftNIO to attach metadata to an `EventLoop`, we should consider having an API for that.

[2018-03-02 01:51] normanmaurer commented on #60
@weissi what would be the access pattern for it ? Is it only allow to add / get / remove on the `current` EventLoop ?

[2018-03-02 01:52] #54 closed

[2018-03-02 01:53] weissi opened #61 "consider making ThreadSpecificVariable public"
We should consider making [`ThreadSpecificVariable`](https://github.com/apple/swift-nio/blob/master/Sources/NIO/Thread.swift#L133) public.
Related to #60 (consider having an API to allow attaching metadata to an `EventLoop`)

[2018-03-02 14:49] normanmaurer commented on #51
Was fixed via #63

[2018-03-02 14:49] #51 closed

[2018-03-02 14:49] normanmaurer commented on #41
Was fixed in #53

[2018-03-02 14:49] #41 closed

[2018-03-03 02:36] Jamez312 opened #80 "Spanish translation"
I'm interested in beginning translating the project into Spanish and I was wondering if I could start pull requests of the files. Many thanks in advance!

[2018-03-03 03:42] tiagomartinho opened #83 "One Failing Test Case on Ubuntu"
### Insight
I saw that in the Docker configuration multiple versions of Swift are defined (4.0.2 & 4.0). There is a particular reason for it @tomerd?
Upgrading it to the latest version (4.0.3) makes all the Test Suite pass on Ubuntu.
Should I do directly a PR with these changes?

### Expected behavior
All tests in the Test Suite to pass.

### Actual behavior
1 Failing Test Case:

Logs:
[code]

###

[2018-03-03 06:33] tiagomartinho opened #86 "One Failing Integration Test"
### Expected behavior
All tests in the integration Test Suite to pass.

### Actual behavior
1 Failing integration test:

Logs:

[code]

### Steps to reproduce

1. Run: swift build
2. Run: swift test
3. Run: scripts/integration_tests.sh

### SwiftNIO version/commit hash

1.0.0 / 5ff6d9ba7241b1f4d8121d84531bf87c901d930b

### Swift & OS version (output of `swift --version && uname -a`)
Apple Swift ve

[2018-03-03 09:10] tomerd commented on #83
thanks for reporting, will address shortly

[2018-03-03 09:16] tomerd commented on #86
the key here is `maybe_nio_host='3(NXDOMAIN)'` which means its not able to retrieve the host name correctly which sometimes happen with VPN or proxies

fwiw, all pull requests go through ci that runs these tests

[2018-03-03 10:18] normanmaurer commented on #80
I am afraid but I think we are currently not on a stage to accept PRs for translations as we can not guarantee that we will be able to keep these up to date to reflect the changes that are done.

With this in mind I think we should close this for now.

[2018-03-03 10:18] #80 closed

[2018-03-03 10:19] normanmaurer commented on #80
@Jamez312 that said thanks for the offer!

[2018-03-03 10:43] normanmaurer commented on #60
At the moment I think I am leaning to not do this and just do #61 . This way the semantics related to concurrency are clear and its always safe.

@Lukasa @weissi thoughts ?

Also @tanner0101 wdyt ?

[2018-03-03 10:56] tiagomartinho commented on #86
@tomerd I'm not currently using a VPN or proxy, but maybe is a VPN configuration I have even, if it's not currently active?

I also tried to run the integration test suite from Docker but I got:
`FAILURE (oks: 3, failures: 14)`
Is this expected?

Moreover I had 4 other questions:
- There is a particular reason not to use XCTest for the integration tests?
- Why the integration tests are not invoked

[2018-03-03 11:29] tiagomartinho commented on #83
@tomerd I open the PR for this issue https://github.com/apple/swift-nio/pull/89

[2018-03-03 13:33] tomerd commented on #86
how did you try to run it? in any case the work i am doing towards #83 should help make this run in docker correctly

[2018-03-03 14:06] tomerd commented on #83
i'v determined that `HTTPUpgradeTestCase.testDelayedUpgradeBehaviour` is flaky, regardless of swift version. we'll fix that first then we can do the docker config cleanup and 4.0.3 upgrade

[2018-03-03 16:12] Lukasa commented on #83
#92 should address the test failure.

[2018-03-03 22:25] tanner0101 commented on #60
My use-case is that I'd like to have one service container (dependency injection container) for each event loop. This let's me design all of our services to not care about being thread safe (since any initialized service will only be used by one thread). It seems that the distinction here between being actually _attached_ to each event loop and just being attached to a particular thread isn't real

[2018-03-04 19:41] ezfe opened #97 "Missing remoteAddress in ChatServer (Crash)"
### Expected behavior
When the ChatClient sends a message, other clients see

`(##remoteAddress##) - ##message##`

### Actual behavior
The ChatServer force-unwraps the remoteAddress field, encountering nil, and crashes.

### Steps to reproduce

1. Run ChatServer
2. Run ChatClient (once is all that's needed to demonstrate crash, twice for full set up)
3. Send message by typing in ChatClient and pre

[2018-03-04 19:59] normanmaurer commented on #97
Will have a look

[2018-03-04 20:57] normanmaurer commented on #97
@ezfe hmm I can not reproduce it :( The remoteAddress should never be `nil` when `channelRead` is called.

[2018-03-04 21:02] normanmaurer commented on #97
@ezfe ah never mind... I did execute the wrong example :(

[2018-03-04 21:32] normanmaurer commented on #97
@ezfe this should be fixed by https://github.com/apple/swift-nio/pull/98 ... Please check

[2018-03-04 22:28] normanmaurer commented on #60
Yep this sounds right @tanner0101

[2018-03-04 22:30] normanmaurer commented on #61
@Lukasa are you cool with this change ? If so I will make it happen

[2018-03-04 23:41] ezfe commented on #97
@normanmaurer I've confirmed that this resolves the issue

[2018-03-05 09:44] Lukasa commented on #97
Resolved by #98.

[2018-03-05 09:44] #97 closed

[2018-03-05 10:40] Lukasa commented on #61
Yeah, I'm happy enough to do that.

[2018-03-05 16:21] normanmaurer commented on #61
Was merged...

[2018-03-05 16:21] #61 closed

[2018-03-05 16:21] normanmaurer commented on #60
I think we close this for now as  #61 was fixed.

[2018-03-05 16:21] #60 closed

[2018-03-05 23:13] tomerd commented on #83
addressed via #92 and #90

[2018-03-05 23:14] #83 closed

[2018-03-07 08:05] jkmathew opened #107 "Consider adding example usage for Server apps"
It would be better if there is usage examples for
[code]

[2018-03-07 09:38] Lukasa commented on #107
Yeah, that seems reasonable. Would a comment at the top of the source files suffice?

[2018-03-07 10:59] Lukasa opened #108 "ByteToMessageDecoder behaves gracelessly when channelInactive is triggered while decode() is on the stack."
### Expected behavior

When a `ByteToMessageDecoder` calls `ctx.close()` during its processing, and that `close` completes synchronously, receiving `channelInactive` will not cause ByteToMessageDecoder to re-parse previously parsed data.

### Actual behavior

When this happens, `ByteToMessageDecoder.channelInactive` calls `decodeLast` with a fresh copy `self.cumulationBuffer`. By default, `decodeL

[2018-03-07 11:29] helje5 commented on #43
This should probably be a blocking bug for the 1.0 release because the implications are so bad. Oh, wait ;-)

[2018-03-07 13:32] jkmathew commented on #107
It would be great if there is a Readme in corresponding folder.

[2018-03-07 16:19] helje5 opened #110 "IPv6 Address description contains 0-bytes"
### Expected behavior
No 0 bytes in strings

### Actual behavior
0 bytes in strings

### Steps to reproduce

In Xcode:
1. after a server bootstrap, do```print("Server running on:", serverChannel.localAddress!)```
2. copy output to e.g. TextMate

It says:
```Server running on: [IPv6]::1<NUL><NUL><NUL>....lots...```

Some editors seem to eat the \0's.

### Cause

I think it is
[code]
That leaves the

[2018-03-07 17:08] Lukasa commented on #110
Agreed, this looks wrong. Are you open to filing a patch to fix that?

[2018-03-07 17:18] helje5 commented on #110
Sure, why not. I'll send a PR later this evening.

[2018-03-07 17:18] normanmaurer commented on #110
@helje5 thanks!

[2018-03-07 18:18] karim-elngr commented on #107
How about adding example projects to serve as a quick start point? @Lukasa

[2018-03-08 09:38] helje5 opened #114 "CI: Docker image for testing throws quite a few errors, no consistent base image"
### Expected behavior
- The docker build should run w/o errors. That doesn't increase trust in a test environment.
- Also for a test environment, there should be an image in the first place. Otherwise you can guarantee reproducibility. (and it makes the setup slow as a minor inconvenience, but that somewhat matters for contributors who actually just want to contribute a single line fix). The curre

[2018-03-08 11:11] ianpartridge commented on #114
I think adding `ARG DEBIAN_FRONTEND=noninteractive` to the Dockerfile might be enough to fix the debconf messages.

[2018-03-08 11:24] helje5 commented on #114
There are a few others, like the `policy-rc.d` permission thing above.

[2018-03-08 11:31] ianpartridge commented on #114
Yes I saw them - just trying to help out with the debconf one :)

[2018-03-08 17:43] weissi commented on #43
@helje5 1.0.0 for us doesn't mean it's complete by any means. It's just for SemVer purposes and we tagged 1.0.0 on release day. The only thing 1.0.0 means is that we intend to make the version 2.0.0 whenever we break existing API. Currently I think we're at 1.1.0 and also PR #62 addresses this issue which will likely be released as 1.2.0. Makes sense?

[2018-03-08 21:35] normanmaurer commented on #110
Fixed by https://github.com/apple/swift-nio/pull/111

[2018-03-08 21:35] #110 closed

[2018-03-08 23:32] helje5 commented on #43
Hey, you call Swift 4, Swift *4*, so I think expectations are set quite right :-)

BTW: If I'm not mistaken PR #62 is a SemVer breaking change (adding a parameter to a function in a base type), even if it is unlikely that it _actually_ break something.

[2018-03-09 10:48] Lukasa commented on #43
I don't think so, at least not meaningfully. `ChannelPipeline` is a `final` class, so there cannot be an `override` that is requiring this method to have a specific signature. The only thing we could plausibly collide with is an extension defined by a third-party that happened to have the signature. However, if we say that the requirement of SemVer minor is that we don't ever collide with a method

[2018-03-09 11:44] helje5 commented on #43
I don't want to educate you about SemVer, but you are very right in that Swift is super fragile wrt it. (I think it is best if you would call it "SwiVer" and then outline the Swift features the API consumer is not allowed to use, say adding an extension to an API class.)
Do I think that this is "meaningful" *right now*? No, there is no adoption yet, so you don't really break anyone :-) It would ha

[2018-03-09 15:01] Lukasa commented on #43
Version numbers are free and in functionally infinite supply. We didn't really waste anything. :smile: More importantly, SwiftPM works a lot better if you go to 1.0.0 early (e.g. `from:` behaves sensibly).

That has very similar problems: if such an extension already exists in user code, the Swift compiler will complain that it doesn't know which method it wants to call.

Your ABI note is definite

[2018-03-09 16:23] helje5 commented on #43
In response I can only refer to [SemVer](https://semver.org/#if-even-the-tiniest-backwards-incompatible-changes-to-the-public-api-require-a-major-version-bump-wont-i-end-up-at-version-4200-very-rapidly):

🤷

Did you try it? I tried it. As a matter of fact there is no such complain. If the compiler sees a symbol, it always picks the one from the current module (as you would expect). No ambiguity to

[2018-03-09 17:06] #107 closed

[2018-03-09 17:27] Lukasa commented on #43
Sure, I'm in agreement. However, I see no reason to be afraid of breaking changes, just to take them seriously. As you'll note, we have currently left breaking changes pending in our open PR's, without merging them. We aren't revving or breaking without reason. We're just also not tying ourselves to year-long release cycles at this early stage.

Awesome, then we're fine! You inspired me to test th

[2018-03-09 19:22] helje5 commented on #43
There is no misbehaviour for any class, final or not. Non-protocol Swift extensions are always statically dispatched, they are not Objective-C categories. (in fact that is the whole point, avoid the issues categories have when they are consumed by a different module)

[2018-03-11 21:48] toffaletti opened #127 "Too many calls to futex"
### Expected behavior
I expect there not to be so many futex calls.

### Actual behavior

[code]

### Steps to reproduce

1. `docker run --security-opt seccomp:unconfined -v$CWD:/code -it --rm swiftnio`
2. `cd /code && swift build`
3. `strace -s 1024 -fF -tT -o trace.out ./.build/x86_64-unknown-linux/debug/NIOHTTP1Server 0.0.0.0 8888 .`

### If possible, minimal yet complete reproducer code (or UR

[2018-03-11 22:05] toffaletti commented on #127
I introduced pthreads just to be sure:

[code]

The futex here is the pthread_join.

[2018-03-11 22:28] toffaletti commented on #127
I have a minimal reproducer in a branch https://github.com/toffaletti/swift-nio/blob/wtfutex/Sources/WTFutex/main.swift

[2018-03-11 22:33] toffaletti commented on #127
Got it:

[code]

[code]

Every `static let` is causing a futex from pthread_once to support once semantics. This seems non-optimal for direct assignments.

[2018-03-11 22:44] toffaletti commented on #127
@jckarter @gparker42 Anything to be done about this? SwiftNIO is using `static let` all over the place wanting something like `constexpr` but incurring cost of `swift::swift_once`.

[2018-03-12 03:35] toffaletti commented on #114
As of c8d198020717b8bbb4c3be4e47c06aab4085c7fc the image built by the Dockerfile doesn't seem to setup the environment correctly. I have to manually source /root/.profile.

[code]

[2018-03-12 03:43] toffaletti commented on #114
`libcurl.so` seems to be built / installed incorrectly as well:

[code]

[2018-03-12 05:12] toffaletti commented on #127
Optimization seems to eliminate all futex calls in the reduced repro, but I still see a lot of futex calls in `NIOHTTP1Server` responding to a request:

[code]

[2018-03-12 05:56] toffaletti commented on #127
Looks like `swift_getGenericMetadata` is causing a futex instantiating `public final class HTTPRequestDecoder: HTTPDecoder<HTTPServerRequestPart>`:

[code]

The rest seem to be in SwiftNIO from the lock protecting `SelectableEventLoop.scheduledTasks`:

[code]

[code]

[2018-03-12 10:06] Lukasa commented on #127
This is definitely worth diving into to see if we can elide the calls to `futex`, but I don't think this is the highest priority right now: in general `futex`es are fast, particularly where there is relatively little contention on them as in the case of a channel handler `init`.

I'm going to reach out to some folks on the Swift team and see if they have any particular thoughts on whether we can a

[2018-03-12 10:07] Lukasa commented on #127
(Naturally it goes without saying that the `futex` around `scheduledTasks` is unavoidable in the current implementation. At some point we'll want to investigate the performance profile of a lock-free heap, but that's not necessarily a guaranteed win either.)

[2018-03-12 12:33] MrMage opened #130 "What are the plans to support macOS 10.11 and iOS?"
I am interested in using SwiftNIO's HTTP2 implementation (once available) to add an NIO-based server implementation to https://github.com/grpc/grpc-swift. Given that that project currently depends on several other fairly large libraries, it would be great to also move the client code to SwiftNIO to eliminate those dependencies.

For that to happen, though, SwiftNIO would need to support those clie

[2018-03-12 12:53] Lukasa commented on #130
Great question, and thanks for your interest!

Let me break this down slightly into two separate parts. First, macOS 10.11. I do not think there would be much technical difficulty in supporting that target, though some compatibility code may be required. That would be easy enough to do though, and should only require changing some `if #available` guards and fixing any compile and test failures tha

[2018-03-12 14:06] weissi commented on #86
@tiagomartinho Sorry for the late reply, I was on holiday the last week:

Yes: These tests are end-to-end tests so they make sure everything works in an actual binary without mocking anything. This can't be done using XCTest. That said, we obviously have XCTest tests too. Some of those tests also test assertions (ie. make sure the program crashes) or compile binaries in a special mode. Also they f

[2018-03-12 14:07] weissi opened #132 "end2end tests 12 & 14 are disabled at the moment, fix them"
see title, for @weissi to do as he promised that a while ago and then forgot :|

[2018-03-12 14:07] weissi commented on #86
filed as #132

[2018-03-12 17:36] jckarter commented on #127
Does the futex happen on every access, or only the first? We could consider using `dispatch_once` for one-time initializations like we do on Darwin, which should not have any barrier after the initialization happens. If you're writing `static let`s that are constants, and the optimizer is not turning them into static initializations, then please file optimizer bugs too.

[2018-03-12 18:41] tomerd commented on #114
@toffaletti try  `docker run --security-opt seccomp:unconfined -v `pwd`:/code -it --rm swiftnio /bin/bash -l`

[2018-03-12 20:47] helje5 commented on #114
It may be crazy to ask in the context of how much other efforts NIO duplicates, but is there a specific reason why this doesn't just use the official Swift docker image as a base?

[2018-03-12 20:49] gparker42 commented on #127
Yes, it would help if you could distinguish between futex accesses during launch time or at first use, versus futex accesses during steady-state operation. Both are worth investigating to improve performance, but the latter would be a more significant problem.

[2018-03-12 20:55] toffaletti commented on #127
Thanks, I will work on teasing those apart. The issue I'm running into now is that I have to use an optimized build which makes debugging a bit more difficult and I haven't figured out a way to make gdb only pause execution on the futex calls in the thread I care about and pausing on all threads calls to futex seems to introduce different behavior because of timeouts and various timing issues. I m

[2018-03-12 21:03] helje5 commented on #130
I'm not entirely sure what do you mean by that, would you be so kind to elaborate? (I'm using a BSD socket server + GCD on iOS, and it is not clear to me what else you could do here)

On iOS I would assume you would never run more than a single thread aka `MultiThreadedEventLoopGroup(numThreads: 1)`. I can't see how this wouldn't be sufficient (if a handler does expensive work, he can always dispa

[2018-03-12 21:10] Lukasa commented on #130
Sure, my source here is the [official networking documentation](https://developer.apple.com/library/content/documentation/NetworkingInternet/Conceptual/NetworkingTopics/Articles/UsingSocketsandSocketStreams.html), which contains this note:

Oh sure, that would definitely work. I should probably have been a bit clearer. On iOS it's advantageous to give `Dispatch` as much insight into the work patte

[2018-03-12 22:05] helje5 commented on #130
OK, but this is for software connecting away from the device, it doesn't matter for the server part. (I'm not aware of any other API one could use here). In fact the very same documentation says that *right after the part you quoted* :-):

I wonder how you would hook up non-Posix stuff for outgoing traffic (that is NSURLSession). Certainly possible and probably required for the reasons mentioned.

[2018-03-13 08:25] ianpartridge commented on #114
AFAIK that image is not "official", but is created and maintained by members of the Swift OSS community. I agree that this is a wheel that shouldn't need to be reinvented though - although we at IBM are also guilty of this... https://github.com/IBM-Swift/swift-ubuntu-docker

[2018-03-13 08:27] Lukasa commented on #130
Ah, we were talking past each other: I was talking about client usage. Yes, for server usage BSD sockets are the way to go.

I mean, we won't remove the `MultiThreadedEventLoopGroup` from iOS builds, so in situations where you'd prefer to have a single OS thread, that will continue to be an option. We just want to *also* provide a `Dispatch`-based abstraction.

[2018-03-13 10:54] helje5 commented on #114
Yes, it is community maintained (kinda like Linux Swift Foundation), but AFAIK it is the official, Swift.org approved Swift Docker image.

Look, it even says "OFFICIAL REPOSITORY" 😁: https://hub.docker.com/_/swift/

It would be great if IBM would contribute to this, but this is out of scope for the issue here ;-) For the issue here it would be cool not do redo all the work and rather contribute to

[2018-03-13 10:57] helje5 commented on #130
BTW: The way I read the docs, a Dispatch based solution wouldn't actually fix the issue. I don't know what CFStream does extra to do the stuff a BSD connect doesn't. But I suppose it would be easier to just add that code section for iOS targets, instead of switching the whole stack (unless that part is closed source of course).

[2018-03-13 11:45] Lukasa opened #138 "Write narrative documentation to explain what Inbound/Outbound mean"
Given that `channelRead` is the most prominent `ChannelInboundHandler` method, and that `write` is the most prominent `ChannelOutboundHandler` method, it's easy for users to assume that inbound means reads, and outbound means writes. This will cause user confusion when they discover that `channelWritabilityChanged` is an Inbound method, and that `read` is an Outbound one!

We should write some nar

[2018-03-13 12:50] jordan2936 opened #140 "Yep"
### Expected behavior
_[what you expected to happen]_

### Actual behavior
_[what actually happened]_

### Steps to reproduce

1. ...
2. ...

### If possible, minimal yet complete reproducer code (or URL to code)

_[anything to help us reproducing the issue]_

### SwiftNIO version/commit hash

_[the SwiftNIO tag/commit hash]_

### Swift & OS version (output of `swift --version && uname -a`)

[2018-03-13 13:30] #140 closed

[2018-03-13 13:33] normanmaurer commented on #108
Yep I think 3) sounds like the best idea here.

[2018-03-13 15:01] normanmaurer opened #141 "Performance improvements for HTTP"
Currently the HTTP performance is not as good as we have hoped for.... This may be caused by multiple things:

- cross-module calls (no optimisations for this in swift yet :( )
- HttpHeaders create Strings in a non-lazy fashion
- others....

We should look into what we can do to make it faster.

[2018-03-13 15:01] normanmaurer commented on #141
@Lukasa @weissi @tanner0101 ping...

[2018-03-13 15:02] normanmaurer commented on #141
As suggested by @Lukasa we may be able to just "lazy parse and create Strings" and just make the `HttpHeaders` directly operate on `ByteBuffer`. This way we would only need to create Strings if the user ask for a specific header etc.

[2018-03-13 15:13] tanner0101 commented on #141
@normanmaurer pre-NIO, Vapor had implemented lazy headers and that gave us a huge performance gain. Definitely the biggest gain over any previous optimizations we had done (besides non-blocking :P).

Some notes about how we did it:
- `HTTPHeaders` struct has a COW `HTTPHeadersStorage` class.
- `HTTPHeadersStorage` is backed by an `UnsafeMutablePointer<UInt8>`.
- Reading headers means scanning over

[2018-03-13 15:28] Lukasa commented on #43
Resolved by #62.

[2018-03-13 15:28] #43 closed

[2018-03-13 15:41] tomerd commented on #114
@helje5 this is an interesting point and requires a separate discussion, do you mind carving out a separate issue to track it, so we can use this one to track @toffaletti feedback

[2018-03-13 15:50] helje5 opened #143 "Use official Swift Docker image"
### Expected behavior
Swift NIO reuses the official Swift Docker image instead of brewing its own soup.

### Actual behavior
The Swift NIO Docker builds its own environment, with all the dependencies etc.

### Steps to reproduce
docker build

First of all, people w/ Docker on the Mac, quite likely already have the image downloaded and can get started quicker.
Second, you use a consistent environme

[2018-03-13 16:09] helje5 commented on #141
https://lists.swift.org/pipermail/swift-server-dev/Week-of-Mon-20171211/000735.html

`¯\_(ツ)_/¯`

Or in other words: I absolutely agree. We had this discussion w/ @weissi in the HTTP list and IIRR he said that Strings are cool ;-)

[2018-03-13 16:55] weissi commented on #141
@helje5 Well, I still think the API should be `String`s or at least some `String`-like type and not `[UInt8]`, `ByteBuffer` or `Unsafe[Raw]BufferPointer` directly. So today I think we should make the `String` creation lazy and hope that that's good enough. Swift 5 (or maybe even 4.2) should improve the performance quite a bit because AFAIK it'll have a native UTF-8 backing and also the short strin

[2018-03-13 16:58] helje5 commented on #141
@jckarter may provide input on this, but my feeling is that this won't actually change. Or in other words, it may make sense to have one big module (I made that mistake in Noze.io, and used a lot of tiny modules, which is pretty bad for perf, especially if generics are involved).

The other thing I noticed from a performance perspective, is that you create quite few helper objects and make a lot o

[2018-03-13 17:03] helje5 commented on #141
Yes, I never suggested that ;-)

There is a lot of optimisation potential in here. It may also make sense to provide static strings as the subscript input (sth like header[NIO.Headers.ContentLength]). And for some values (User-Agent etc) come to mind, it may make sense to maintain an intern table.

[2018-03-13 17:13] helje5 opened #146 "`HTTPMethod` should not be an enum"
### Expected behavior
No API breakage if an HTTP method is added to the enum.

### Actual behavior
API breakage if an HTTP method is added to the enum.

### SwiftNIO version/commit hash
1.1

As long as Swift doesn't provide an `open enum` construct (which I think was in discussion, don't know the state of it), it is not wise to use a (closed) enum for constants which are unstable (in an API which

[2018-03-13 17:15] Lukasa commented on #146
Is there a reason the `.RAW` escape hatch is insufficient here?

[2018-03-13 17:50] helje5 commented on #146
Well, first it doesn't change the issue (you cannot add a case w/o a major bump), and second it is ugly :-)

Let's assume we add `BATCH` (which we will), do you want all code to look like
[code]
Booo! No! ;-)

Now, this may be OK for a sub minor hotfix, but you really want a new .BATCH case and it is kinda stupid to wait for a major release (which is usually major for other reasons ...) to address

[2018-03-13 18:41] tanner0101 opened #147 "clang 3.6 not supported"
It seems that clang 3.8 or later is required for use with Swift NIO.

### Environment

[code]

[code]

### Error

[code]

[2018-03-13 18:42] weissi commented on #147
thanks @tanner0101 I will look into that. I'll likely be tomorrow though until this is resolved.

[2018-03-13 20:07] jckarter commented on #141
Cross-module inlining is planned to become publicly available using the `@inlinable` attribute from https://forums.swift.org/t/se-0193-cross-module-inlining-and-specialization/7310 once that's finalized; the design is unlikely to diverge substantially from the existing `@_inlineable` (note the second `e`) internal attribute that's already present in 4.x except in spelling. Longer term, the build s

[2018-03-13 21:21] tanner0101 commented on #141
Just lazy String creation will be a huge win by itself. I think this makes sense as a first step before needing to delve into optimizing the actual String type.

Ideally, parsing an HTTP/1.1 message head (startline and headers), would require zero copies. After the OS reads the data into a ByteBuffer, that buffer should then be used to produce all needed data lazily. Done--at this point it has bee

[2018-03-13 22:04] weissi commented on #147
- clang 3.7 already works.
- clang 3.6 has two problems:
  - `_Nonnull` is not defined (which can easily be fixed by `#define _Nonnull __attribute__((nonnull))`
  - clang importer doesn't seem to import nonnull attributes properly so they'll still get IUOs instead of straight types

[2018-03-14 07:03] helje5 commented on #141
HTTP/2 does something similar to what I suggested above:

The disadvantage of preserving the HTTP header as-is, is that the header block can actually become sizeable (1K or more) and may require multiple reallocs. Another way to approach this are as mentioned string tables and maybe structured values.

The far majority of header names *and* values are very static. Only few headers actually change

[2018-03-14 09:40] Lukasa commented on #146
I am very much on the fence. I quite like the way the enum solution affords compactness in the vast majority of common cases, but I've also frequently wanted to discourage users from assuming that HTTP verbs are necessarily particularly well known or well formed. So I'd be open to making this kind of change in a 2.0 or 3.0 release.

[2018-03-14 10:08] helje5 opened #151 "HTTPMethod.hasRequestBody `.unlikely`"
The current implementation of `hasRequestBody` uses `unlikely` for a lot of cases where a body is actually `very likely` or a plain `.yes` (not sure what the different is, a PUT can also have an empty body).

Examples MKCOL, PROPFIND, REPORT, MKCALENDAR, etc.

[2018-03-14 10:24] helje5 commented on #146
Not sure what you mean by `compactness`. On the user side it is the same and on the implementation side too.

Closed enum:

[code]

User:
[code]

Open "Enum":
[code]

User:
[code]

That would have to wait for 2.0 of course, SemVer and all that ;->

[2018-03-14 10:40] Lukasa opened #153 "Add better support for handling signals."
The traditional UNIX signal model is not really ideal for programs like NIO, where signal handlers are basically incapable of doing any real work that affects the event loops. Signal handlers are not able to obtain locks or do basically anything that may require that other code on the thread runs, so in a NIO program a signal handler can basically do nothing of interest: it can't even call `malloc

[2018-03-14 10:41] Lukasa commented on #146
I mean compactness in terms of memory layout. :smile:

[2018-03-14 12:09] weissi commented on #147
should be fixed in #154

[2018-03-14 13:11] Lukasa commented on #147
Resolved by #154.

[2018-03-14 13:11] #147 closed

[2018-03-14 13:49] helje5 commented on #146
Well, it isn't more compact than the above and probably need to be 64bit aligned in any case (so a String pointer would actually be kinda OK too).

[2018-03-14 14:33] weissi opened #156 "Correctly delete `pthread_key`s"
### Expected behavior

You'd expect all memory allocated when creating a `ThreadSpecificVariable` to be deallocated when it goes out of scope.

### Actual behavior

The `pthread_key` might actually never be deallocated as we never call `pthread_key_delete`.

### SwiftNIO version/commit hash

all versions up to and including 1.1.0

### Swift & OS version (output of `swift --version && uname -a`)

d

[2018-03-14 15:03] normanmaurer commented on #141
I will work on this next week.... Or @tanner0101 you want to try port your stuff from vapor ?

[2018-03-14 15:45] weissi commented on #156
fixed by #157

[2018-03-14 21:19] helje5 opened #160 "`channelRead` is triggered w/ autoRead = false"
### Expected behavior
No `channelRead` is triggered on the inbound handler if autoRead is off, and the outbound handler does no `read()` request.

### Actual behavior
After connecting to a server socket, one `read` seems to happen regardless of the autoRead option:
[code]

Subsequent input is not reported (just the first stuff entered in `nc`).

### Steps to reproduce

I have no minimal reproduce

[2018-03-14 21:20] normanmaurer commented on #160
@helje5 thats clearly a bug... let me look into it

[2018-03-14 22:40] helje5 opened #162 "The BackPressure handler should be dropped"
The included `BackPressureHandler` only applies to a non-existing use case and gives a false sense of back-pressure-security. It is DoS-dangerous and should rather be dropped completely, or at least renamed to something like `PassThroughBackPressureHandler`. It should not be advertised to be used, only with very specific instructions when it actually applies (like echo ;-) ).

## Rational

The ide

[2018-03-14 22:53] helje5 opened #163 "Project Icon Missing"
Seriously. An Apple project w/o a Logo? Maybe some swallow crashing into a S/390 or something? Or a bug running around in an Xserve? Neo from Matrix? Something!

[2018-03-15 08:09] Lukasa commented on #163
Thanks, but I don’t think we need a github issue for this. A logo will arrive when it arrives. Let’s let this issue tracker focus on the software itself. 😁

[2018-03-15 08:09] #163 closed

[2018-03-15 09:37] Lukasa commented on #162
The backpressure handler addresses one real case. The lens through which it makes sense is to conceptualise of reading data as “accepting more work”, and writing data as “completing work”. The backpressure handler addresses the following attack vector (illustrative python code):

[code]

This attack can cause an application to accept wildly too much work, buffering the output data that the other p

[2018-03-15 09:47] dirk68-fu opened #166 "Is ByteBuffer thread-safe?"
Sorry, if this question is dumb, because the whole purpose of the object may be to allow exactly this, but the documentation does not specifically clarify this.

Is it safe to write from one thread and read from another?

[2018-03-15 10:30] Lukasa commented on #166
Yes, but it won’t do what you want.

ByteBuffer is a *copy on write* value-type data structure. If you are writing and reading from multiple threads, you necessarily have multiple references to the underlying buffer. Thus, the reading thread will not see the writes from the writing thread.

In general, however, it is recommended that you don’t do this: it only makes sense if you conceptualise of B

[2018-03-15 10:30] #166 closed

[2018-03-15 10:32] normanmaurer commented on #166
@dirk68-fu just to clarify its still "valid" to write to the ByteBuffer from one thread, pass it to another thread and read from it tho. Basically the reading side will see a "snapshot" of the written data.

[2018-03-15 11:44] helje5 commented on #162
@Lukasa Please re-read what I wrote. My complaint is that the current BP handler specifically does *not* address the attack vector you describe. I'm going to bring down any real world HTTP endpoint using NIO which relies on the BP handler within minutes (it is naive in precisely the way you describe) :-)

The core of your misconception is that you consider

This is almost never the case (also noti

[2018-03-15 13:22] Lukasa commented on #162
Sure it does, but only if you read my code carefully. :wink: I am very deliberately producing well-formed requests for work: I'm not shoving an infinitely large request body down the pipeline, which will be subject to your notes, I am just sending well-formed short web requests and never reading the bodies. This is related to, but not the same as, sending request bodies of unbounded size.

I shoul

[2018-03-15 14:31] helje5 commented on #162
Thanks, I read it carefully. What is wrong in my analysis of it? It associates readability with writability on the same socket. Anything I missed?

You are drifting off and mixin in other topics. As part of this issue I'm  solely concerned about the topic "back pressure" and the (non)usefulness of the existing BackPressureHandler.

I'm not trying to consider topics like "how do you properly implem

[2018-03-15 14:31] #162 closed

[2018-03-15 14:41] Lukasa commented on #162
Sure, *per request*. But if the client doesn't read from their socket, where do you think the bytes end up? They don't magically vanish. The client's receive buffer initially fills up, then the server's send buffer, then NIO itself has to start buffering it. That's what I'm getting at here.

[2018-03-15 14:50] Lukasa commented on #86
With #132 present I think we can close this.

[2018-03-15 14:50] #86 closed

[2018-03-15 15:05] normanmaurer commented on #59
Fixed by https://github.com/apple/swift-nio/pull/120

[2018-03-15 15:05] #59 closed

[2018-03-15 15:09] helje5 commented on #162
If the OS receive buffer is full, TCP flow control will take over and block the client, whose write buffer will fill up and eventually stop sending. We call that back pressure ;-)

[2018-03-15 15:23] Lukasa commented on #162
That is not how TCP flow control works. TCP is fully-duplex: being unable to send in one direction does not block sending in the other direction.

If the client's receive buffer is full, it prevents the *server* from sending, but so long as the server's is not full the client can continue to send. That is specifically what the BackpressureHandler addresses: it performs the function you are (incorr

[2018-03-15 17:53] #160 closed

[2018-03-15 19:22] helje5 commented on #162
Man, you are really stressing it ... I mean, I already closed the issue in a `lets agree that we disagree` ;-)

TCP flow works exactly how I think it does. I'm TCP flowing for like 25 years now ;-)
You asked:

There is nothing duplex in that. If one end doesn't read what the other writes - and the reverse, the other end gets blocked. This is plain back pressure and it works like it always worked.

[2018-03-15 20:51] GeorgeLyon opened #172 "Add reference implementation for higher numbers of concurrent requests to HTTP1Server"
It is likely I'm missing something, but here we go:

### Expected behavior
I should be able to get more than 6 concurrent requests from NIOHTTP1Server

### Actual behavior
I'm tracking concurrent requests like so:
https://gist.github.com/GeorgeLyon/df6f34c7260997f5c373ac9a1e81c9a7

If I spam the server with requests to `/write-delay`, my max stays at 6. I would like that to be much higher.

It see

[2018-03-15 21:10] helje5 commented on #172
Your "end" counter is flawed, you need to put your counter in the schedule block:

Not this:
[code]

but this:

[code]

(you count before the artificial "delay")

[2018-03-15 21:17] GeorgeLyon commented on #172
Whoops, I actually did catch this but posted an incorrect gist (I have updated it). This just adds 1. to the max (before it was 5, after it becomes 6) which is consistent with my theory that a single request seems to be blocking the full event loop

[2018-03-15 21:20] helje5 commented on #172
How do you "spam the server"?

[2018-03-15 21:27] GeorgeLyon commented on #172
Ah thank you! You guessed correctly. My test environment was going between HTTP2 (for reference) and HTTP1 (for swift-nio, since it doesn't support 2 yet). Maximum number of HTTP1 connections (for my client) was 6. Increasing the maximum worked correctly.

[2018-03-15 21:27] #172 closed

[2018-03-16 08:42] Lukasa opened #173 "Add deterministic unit test for the issue fixed in #170"

[2018-03-16 12:53] helje5 opened #178 "Compiling NIO in Release Mode throws warnings"
### Expected behavior
No warnings, clean compile.

### Actual behavior
A set of warnings, no clean compile.

[code]

### Steps to reproduce

`swift build -c release`

### SwiftNIO version/commit hash

1.2.1

### Swift & OS version (output of `swift --version && uname -a`)

Apple Swift version 4.0.3 (swiftlang-900.0.74.1 clang-900.0.39.2)
Target: x86_64-apple-macosx10.9
Darwin ZeaPro.local 16.7.0 D

[2018-03-16 13:16] Lukasa commented on #178
Sadly, you're right. 😞

The first four warnings are all related to our debugging code for Futures/Promises, which keeps track of where futures and promises are allocated and then performs checking on deinit. Naturally this is very slow, so we want to avoid doing it in release builds. Sadly, the Swift compiler complains about anything guarded by `_isDebugAssertConfiguration`, and there is no way to

[2018-03-16 13:22] Lukasa commented on #178
See #179.

[2018-03-16 13:26] helje5 commented on #178
Why can't you embed the relevant code in `#if Debug`?

[2018-03-16 13:43] Lukasa commented on #178
Because it's not a real thing in Swift. Nothing sets that automatically, not Xcode, and not SwiftPM, so adding it in there still keeps the code out unless you remember to manually set the `#define` either in Xcode or via `-Xswiftc "-D Debug"`, which makes it not very useful.

[2018-03-16 14:01] helje5 commented on #178
Oh right, that is funny. I could have sworn `#if DEBUG` works for me. Looks like I never left Xcode ;-)

[2018-03-16 14:53] #178 closed

[2018-03-16 15:33] helje5 opened #182 "Docker fails: `docker-compose -f docker/docker-compose.yaml up test`"
### Expected behavior

`docker-compose -f docker/docker-compose.yaml up test` runs the test suite.

### Actual behavior

Building the docker image fails:

[code]

### Steps to reproduce

Run `docker-compose -f docker/docker-compose.yaml up test`

### Swift & OS version (output of `swift --version && uname -a`)

Apple Swift version 4.0.3 (swiftlang-900.0.74.1 clang-900.0.39.2)
Target: x86_64-apple-

[2018-03-16 17:18] Lukasa opened #184 "Improve EventLoopFuture code"
A lot of the EventLoopFuture code is quite prone to subtle correctness bugs. This happens for a bunch of reasons, most of them relating to the way the code has grown over time. While we've patched over them a bit, we should really take a step to clean this code up more profoundly, ideally one method at a time.

Here are some things we should aim to do:

- [ ] Make `map` faster.

    Right now `map

[2018-03-16 18:42] tomerd commented on #143
thank for bringing this up, couple of things to discuss here

1. totally agree that if we had an official image using the base os and swift runtime we need for swift-nio it would speed up the first docker bring up. that said, this is a one time cost given docker's layers and cache

2. as @ianpartridge correctly points out in https://github.com/apple/swift-nio/issues/114#issuecomment-372584162, whi

[2018-03-16 18:44] tomerd commented on #182
wget error code 4 is a network failure, so there is nothing wrong afaict in the docker setup.

happy to chat more about the "official" docker image in https://github.com/apple/swift-nio/issues/143

[2018-03-16 18:44] #182 closed

[2018-03-16 19:15] helje5 commented on #182
Hm, right, this part works at-home. Srz for the noise.

[2018-03-16 21:10] ianpartridge commented on #143
I think there are a number of problems with using that particular Docker image.

As @tomerd points out, it's Ubuntu 16.04 only, which is a shame as Swift supports Ubuntu 14.04, 16.04, and 16.10. I think SwiftNIO should support all the levels of Ubuntu that Swift does, for maximum compatibility and adoption.

It is also x86 only. We all hope NIO has a big future on other platforms, whether that is

[2018-03-16 21:46] helje5 commented on #143
I think  I technically agree with all of what you two are saying. Actually I can even extend that: the thing I dislike a lot about the official image is that it doesn't distinguish between runtime environment and development environment (to the degree that I wouldn't personally use it for deployment 😬). I *specifically* don't want clang, SPM etc in an image I deploy to the cloud, i.e. in an NIO se

[2018-03-16 21:50] tomerd commented on #143
+1

[2018-03-16 21:53] tomerd commented on #143
Should we close this issue and reopen another one for the image?

personally i tend to agree but i'd like to see what the rest of the team thinks and also what @ddunbar thinks about us publishing such image, given that this is an apple project

[2018-03-16 22:09] ianpartridge commented on #143
I think the fragmented state of Docker for Swift is quite clear from this thread. It's not something NIO can solve, it needs the combined efforts of interested parties, coordinated from swift.org and with the blessing of the Swift core team.

[2018-03-16 22:36] helje5 commented on #143
As mentioned - as far as I know (and as always there is a chance I remember it wrong) - the Swift DockerHub image in fact _has_ the blessing of the Swift core team. They did not just declare themselves as "official", it was a coordinated effort. It is the "others" who fragmented instead of contributing. It is too long ago, but I'm certain that this was discussed on swift-users maybe 2 years ago or

[2018-03-17 13:50] helje5 opened #185 "No non-blocking file-open operation"
### Expected behavior

The way to open files seems to be:

   `NIO.FileHandle.init(path:)`

which is a blocking operation. That seems no good.

### Actual behavior

A non-blocking way to open a file. Maybe this belongs into `NonBlockingFileIO`.

### SwiftNIO version/commit hash

The HEAD when I pressed "Submit".

[2018-03-17 13:53] helje5 opened #186 "Rename `BlockingIOThreadPool` to `ThreadPool`?"
There doesn't seem to be anything specific to blocking I/O in this and I don't want to create yet another thread pool for other synchronous operations, but just reuse this.

[2018-03-17 14:00] Lukasa commented on #185
Yup, we should extend the `NonBlockingFileIO` struct to add support for this.

[2018-03-17 14:06] Lukasa commented on #186
Yeah, we should definitely consider it. My hesitation comes from the fact that the threadpool was originally built for the non-blocking file I/O, and we made it `public` primarily to avoid restricting people too badly. But it's not necessarily a good replacement for a generalised thread pool executor: for example, it isn't capable of doing any kind of dynamic scaling of parallelism.

In general if

[2018-03-18 16:55] helje5 commented on #143
I'm sure no one wants unhappy faces over here 🙂 I also think that everyone tries to be constructive. By any means the discussion really doesn't belong *here*. Maybe you want to re-raise the Docker topic on some Swift.org forum group.

I think the way forward is what I said above:

Maybe @tomerd can figure out whether they can publish a custom base image for NIO testing (or maybe even contribute to

[2018-03-19 05:44] vlm opened #187 "fatalError() during high concurrency test"
### Expected behavior

Users generally expect Swift NIO not to fail with internal assertions and `fatalError`s they couldn't catch.

### Actual behavior

[code]

### Steps to reproduce

Compile and run the attached code against the master.

### If possible, minimal yet complete reproducer code (or URL to code)

[reproduce.swift](https://github.com/apple/swift-nio/files/1823817/reproduce.swift.txt)

[2018-03-19 12:46] Lukasa commented on #187
Should be fixed by #191.

[2018-03-19 18:38] #138 closed

[2018-03-20 00:12] vlm opened #196 "channelRead invoked before channelActive"
### Expected behavior

The Channel callbacks lifecycle should start with `channelActive` and end with `channelInactive`.

### Actual behavior

Sometimes under high concurrency the `channelRead` is invoked prior to `channelActive`.

### Steps to reproduce

Run the attached code.

The code fails in one of three ways:

1. It either gets stuck
2. Or it fails with Illegal Instruction on a DispatchQueue

[2018-03-20 01:06] vlm commented on #196
FYI: https://github.com/apple/swift-nio/pull/195 did not help.

[2018-03-20 06:05] normanmaurer commented on #196
Thanks... will have a look later today 👍

[2018-03-20 14:46] Lukasa opened #199 "ChannelNotificationTest.testActiveBeforeChannelRead is flaky."
Blocking the merge of #191:

[code]

[2018-03-20 14:59] #199 closed

[2018-03-20 16:14] #187 closed

[2018-03-20 16:31] weissi opened #201 "we should query getaddrinfo more precisely"
### Expected behavior

When asking getaddrinfo about an IP address, we should not get two results that contain the _same_ IP address.

### Actual behavior

we do get two, example here:

[code]

whereby `ai_protocol = 17` is `IPPROTO_UDP` and `ai_protocol = 6` is `IPPROTO_TCP`. But since we know which one we want we should query correctly.

### Steps to reproduce

- connect to say `127.0.0.1`
- set

[2018-03-20 16:35] Lukasa opened #202 "ChannelInvoker.newPromise should pass file and line to eventLoop.newPromise"
We normally want debugging information to keep track of where our promises are allocated in debug modes. However, if someone does `Channel.newPromise` instead of `eventLoop.newPromise`, that information is lost. The core issue is here: https://github.com/apple/swift-nio/blob/fef728cab0cdb65459e3028d7ab7ffece0f34f6f/Sources/NIO/ChannelInvoker.swift#L182-L184

This indirection should preserve the #f

[2018-03-20 22:35] weissi opened #206 "work around SR-7242"
Swift does a pretty terrible job with global constants that are C functions unless they're annotated `@convention(c) ...`. This is filed as [SR-7242](https://bugs.swift.org/browse/SR-7242) and will hopefully be fixed soon however we should probably work around as it's very simple.

This is quite a straightforward fix, just all instances of `let sysSomething = something` need to be changed to `let

[2018-03-21 07:53] tib commented on #202
Hey guys, I think I've fixed this with my [PR](https://github.com/apple/swift-nio/pull/208).

[2018-03-21 08:28] vlm commented on #196
FYI: https://github.com/apple/swift-nio/pull/204 did not help either. It just made it pop up a bit less frequently.

[2018-03-21 10:15] #202 closed

[2018-03-21 10:16] normanmaurer commented on #206
@weissi oh my... thanks for reporting it.

[2018-03-21 14:08] weissi opened #211 "agree on `EventLoop{Future,Promise}<Void>` vs `EventLoop{Future,Promise}<()>`"
In our code base we use both `EventLoop{Future,Promise}<Void>` and `EventLoop{Future,Promise}<()>`. We should probably be consistent but we need to decide what we want first :).

[2018-03-21 14:09] weissi commented on #211
@weissi's personal opinion: should be `()` because we succeed the promise with the type `()`'s only value `()`. I know `Void` is equivalent to `()` so it's not a strong feeling but got to have an opinion, right ;)?

[2018-03-21 17:37] tanner0101 opened #213 "rename `then` -> `flatMap`"
Swift's standard library makes extensive use of the map/flatMap pattern for working with generics. The basic concept behind this pattern is preventing generics from becoming nested (i.e., keeping them "flat").

The concept of map/flatMap can be represented abstractly like so:

|before|signature|after|
|-|-|-|
|`T<U>`|`map(_: U -> V)`|`T<V>`|
|`T<U>`|`flatMap(_: U -> T<V>)`|`T<V>`|

`map` is used t

[2018-03-21 17:41] tanner0101 commented on #213
@normanmaurer yeah, definitely. :)

[2018-03-21 17:47] helje5 commented on #213
I don't particularly care, but to me this feels wrong for two reasons:

a) flatMap just does a flatMap function on some entity. It is pure functional and there is no timing aspect to it. `then` attaches an event handler to the future, which may *or may not* be called. In other words, the `then`/timing aspect is the focus of the call, not the mapping aspect.

b) `then` is not always called, there c

[2018-03-21 17:51] airspeedswift commented on #213
Same goes for the other cases. The function you pass to `Optional.flatMap` may or may not be called depending on whether the value is `nil`. The difference is when it is called, not if it is.

[2018-03-21 17:51] tanner0101 commented on #213
@helje5 by your argument `.map` should be renamed to something else then because it also has an async nature to it.

[2018-03-21 17:53] airspeedswift commented on #213
I am a bit conflicted. Consistency is good, but so is clarity. There isn't a clearly better name for `Optional.flatMap` (only bad verbose alternatives like `mapAndUnwrap`). `then` OTOH is a pretty nice name for what this particular method does.

[2018-03-21 17:56] tanner0101 commented on #141
@normanmaurer honestly very tempting offer... but I don't have enough free time right now to do the job right. I am more than happy to help out with code review and testing though!

[2018-03-21 17:57] John-Connolly commented on #213
I prefer flatmap, I think its consistent with other monadic types that are commonly used in swift. The result type [https://github.com/antitypical/Result](url) also uses this naming.

[2018-03-21 18:28] helje5 commented on #213
I think I agree with this. As mentioned not only because it is async (the significance being on the temporal part), but also because you can attach multiple handlers in a non-functional way.

Guesswork: Presumably `map` is only not-named `then` because otherwise you would end up having to type the return values explicitly? (to disambiguate)

Two other suggestions which come to mind: `thenMap` and

[2018-03-21 18:59] normanmaurer commented on #211
@airspeedswift is there a preference ?

[2018-03-21 19:07] airspeedswift commented on #211
I think our style is to prefer `<Void>`. We use that form in a couple of places in the documentation. But I don't think we have a hard rule – the only one of those we have is that it's `()->Void`, not `Void->Void` or `()->()`.

[2018-03-21 19:16] normanmaurer commented on #211
@weissi are you ok with doing the same in our code-base ? if so I will do a pr....

[2018-03-21 19:48] Lukasa commented on #213
This is historically true for our implementation: we split `then` up into two largely in order to help the Swift compiler do the right thing with type inference.

---

So I'm basically -0 on this. I don't care very much, and I buy the arguments in favour of changing. However, I also think that the name change is basically a bikeshed: the `.then` name is not a source of confusion, and the value of

[2018-03-21 21:36] weissi commented on #213
Couldn’t have commented better than @airspeedswift . Why could have both `then` and `flatMap`? I don’t think deprecating `then` is a good call right now as it’s everywhere and `then` arguably sounds nicer.
Once Swift gains higher kinded types, we should obviously follow what the `Applicative`/`Monad` or whatever they’ll be called protocol mandate. But I don’t think there’s anything from with havin

[2018-03-21 21:45] helje5 commented on #213
But what about the reverse thing. Should `map` be called differently? Maybe `now`? 🤪

[2018-03-21 22:56] tomerd commented on #213
cc @scottmitch @niteshkant

[2018-03-21 23:54] vlm commented on #213
Having both `.then` and `.flatMap` is a source of confusion. Even having `.map` and `.flatMap` is a source of confusion, and you'll have a fun time explaining all that in the documentation. I prefer `map`+`then`.

[2018-03-22 06:29] dirk68-fu opened #215 "Does swift-nio have support for writing UDP clients?"
It trying to figure out how to use swift-nio for connecting to an UDP port on a remote host.

This is what I have so far:

[code]

Unfortunately the bootstrap.bind line fails with `error: bind(descriptor:ptr:bytes:) failed: Can't assign requested address (errno: 49)`

I am most probably doing it all wrong because UDP doensn't have a connection and bind seems to be for the server part, but unfortun

[2018-03-22 06:58] Lukasa commented on #215
You want to bind a *local* address on the client side, and then send `AddressedEnvelope<ByteBuffer>` whose destination address is the server address you want to speak to.

[2018-03-22 07:00] dirk68-fu commented on #215
Thanks, that makes sense. I will try that.

[2018-03-22 14:05] weissi commented on #211
@normanmaurer sure. You _could_ also leave that as a starter bug if you wanted.

[2018-03-22 14:05] weissi commented on #211
but I'm totally fine with the change

[2018-03-22 14:06] normanmaurer commented on #211
@weissi sounds good... I marked it as such but may just do it if I have a few cycles if no-one else does it first.

[2018-03-22 14:31] #215 closed

[2018-03-22 15:02] tib commented on #211
@normanmaurer I've made the required changes, please check PR. Thanks.

[2018-03-22 16:36] #211 closed

[2018-03-22 17:17] normanmaurer commented on #141
@tanner0101 ok will hopefully start on monday

[2018-03-22 22:30] weissi opened #222 "Calling write on a ServerSocketChannel fatal errors with bogus message"
### Expected behavior

Calling write on a `ServerSocketChannel` should fail the promise with `ChannelError.unsupportedOperation`.

### Actual behavior

It fatal errors with a bogus message that suggests the subclass (which is `ServerSocketChannel` must implement a method)

### Steps to reproduce

1. create a server bootstrap
2. bind
3. .wait/.then
4. write to the `Channel` returned (which is a `Se

[2018-03-23 08:47] pushkarnk opened #224 "[Enhancement]Add an initial dummy value to HTTPResponseStatus"
I have been working with SwiftNIO over the last couple of days. In the previous networking framework that we used, there was support to initialise vars tracking the `HTTP status code` with a dummy value like `unknown = -1`.

The only way to do something similar with HTTPResponseStatus is by using the `custom` value. However, IMO, simple checks tend to become bigger because `.custom` has associated

[2018-03-23 08:53] gps commented on #213
FWIW, [Ratpack](https://ratpack.io) has both [then](https://ratpack.io/manual/current/api/ratpack/exec/Promise.html#then-ratpack.func.Action-), and [flatMap](https://ratpack.io/manual/current/api/ratpack/exec/Promise.html#flatMap-ratpack.func.Function-), but they do different things. They also have [flatLeft](https://ratpack.io/manual/current/api/ratpack/exec/Promise.html#flatLeft-ratpack.func.Fun

[2018-03-23 08:54] helje5 commented on #224
The way you would do this in Swift is by using an Optional, no?

[2018-03-23 08:59] pushkarnk commented on #224
Yes, I agree that using an Optional is another way. But won't that further increase the checks?

[2018-03-23 09:06] Lukasa commented on #213
Right now `then` only does one thing, and I don't think there's any plan to move to only having `then`. We pulled `then` and `map` apart for good reason. :smile:

[2018-03-23 09:36] Lukasa commented on #224
No. In fact, using an Optional `enum` is exactly isomorphic to what you've asked for: the Swift compiler will synthesize an extra `enum` case to be the "not present" value in any situation where you're using the Optional.

[2018-03-23 09:36] #224 closed

[2018-03-23 09:37] #206 closed

[2018-03-23 09:39] pushkarnk commented on #224
Thanks for the suggestion!

[2018-03-23 10:26] helje5 commented on #213
But don’t you think that `map` is a little confusing wrt the original question? Specifically considering that it really is a `then` and just named differently to pleaze the compiler?

(I‘m not really suggesting we should rename it, but maybe it is worth a consideration to create consistency „the other way around“ as originally proposed)

[2018-03-23 13:03] Lukasa commented on #213
I think `map` is a fine name, tbh. It doesn't have an asynchronous property, nor does it claim to: it takes a concrete value and maps it to a new concrete value.

[2018-03-23 15:09] normanmaurer commented on #222
This was fixed

[2018-03-23 15:09] #222 closed

[2018-03-23 15:14] mremond opened #227 "Guidance to implement a client with starttls"
Hello,

Do you have any tips, pointers or guidance on how to upgrade a channel to use TLS (to support starttls on a client)?

[2018-03-23 15:16] 0xTim opened #228 "Swift Build warnings in 4.1"
### Expected behavior
Build to complete successfully without any warnings

### Actual behavior

[code]

### Steps to reproduce

1. Build NIO in Xcode 9.3 Beta 4

### SwiftNIO version/commit hash

1.3.0

### Swift & OS version (output of `swift --version && uname -a`)

[code]

[2018-03-23 15:31] Lukasa commented on #228
Well that looks silly. Want to open a PR for it?

[2018-03-23 15:32] 0xTim commented on #228
Will do

[2018-03-23 16:05] airspeedswift commented on #213
FWIW, it's very likely the swift std lib will get a future at some point, which will get bikeshod on evolution. Renaming stuff now is probably tempting fate for the new name to conflict with whatever the std lib implementation ends up being.

[2018-03-23 16:28] #228 closed

[2018-03-24 14:38] mremond commented on #227
Thanks!

[2018-03-24 21:01] karim-elngr commented on #184
About part 3 - More utility functions - extending `andAll`

Having both `andAll<Void> -> EventLoopFuture<Void>` and `andAll<T> -> EventLoopFuture<[T]>` would introduce ambiguity to the compiler causing compile errors. For example the compiler would complain about this code `EventLoopFuture<Void>.andAll(writeFutures, eventLoop: channel.eventLoop)` unless we do the following `let someFuture: EventLo

[2018-03-26 09:16] Lukasa commented on #184
Yeah, that's a rough one. We could do `EventLoopFuture.reduce<T>(futures:eventLoop:_ reducer:) -> EventLoopFuture<T>` instead, I suppose, which allows us to recompose the `Void` implementation. The easier thing to do, though, is to just give it a different name, which fixes the compiler's misery. :wink:

[2018-03-26 10:38] MrMage commented on #130
@Lukasa sorry for the delay in replying to this. Thank you for the feedback, this is very illuminating. I noticed that [`MultiThreadedEventLoopGroup`](https://github.com/apple/swift-nio/blob/be00f2ebb991ceb675e064054695176962cfcdf6/Sources/NIO/EventLoop.swift#L653) only works on macOS 10.12 and above — do you know if there's a specific reason for excluding 10.11 there? (I assume the team just used

[2018-03-26 10:42] MrMage opened #232 "What are the plans to support HTTP2?"
First of all, thanks for all this great work! I am a contributor to the [`grpc-swift`](https://github.com/grpc/grpc-swift) project and interested in building a fully Swift-native gRPC implementation on top of SwiftNIO. Having an existing HTTP2 stack to build on would greatly simplify that, and the docs say that such a stack is planned. Is there any information to that module's development plans an

[2018-03-26 11:00] Lukasa commented on #232
HTTP/2 support is being actively worked on, but we want to build a few abstractions on top of it to make it easier to use in the HTTP server/client case as well. This means it's a TBD as to exactly when it'll ship. We are at this stage reluctant to commit to any timeline more aggressive than Soon™️.

[2018-03-26 11:00] #232 closed

[2018-03-26 11:01] Lukasa commented on #232
(See also #55.)

[2018-03-26 11:03] Lukasa commented on #130
As discussed above, macOS 11 has been excluded only because it was not actively considered a target we needed to support. There is no profound reason that I'm aware of, and support could be added by dropping the version in those guards and fixing whatever compile errors occur.

The `MultiThreadedEventLoopGroup` is being used on Linux. You're misreading that guard. The asterisk means "on all platfo

[2018-03-26 11:05] normanmaurer commented on #130
Also the check is not needed anymore as we use our own `Thread` class and not Foundation.

See https://github.com/apple/swift-nio/pull/233

[2018-03-26 11:05] MrMage commented on #130
So `if #available(OSX 10.12, *)` means "on macOS, but only 10.12 or newer, _or any other platform that is not macOS_"? Thanks, I was not aware of this.

[2018-03-26 11:08] Lukasa commented on #130
Yeah, that's what the guard means. :smile:

[2018-03-27 10:28] weissi opened #243 "EmbeddedChannel.readOutbound should be able to deal with types other than IOData"
### Expected behavior

You'd expect that with an `EmbeddedChannel` you can read any type from the outbound buffer. Unfortunately the signature is `public func readOutbound() -> IOData?`. This should be changed to `public func readOutbound() -> NIOAny?` or `public func readOutbound() -> Any?`.

The reason that this is important is that for testing you don't want to serialise everything before testi

[2018-03-27 15:36] weissi opened #246 "EchoServerClientTest.testPendingReadProcessedAfterWriteError flaky"
### Expected behavior
tests not flaky

### Actual behavior

apparently `EchoServerClientTest.testPendingReadProcessedAfterWriteError` is flaky:

[code]

### Steps to reproduce

sadly unknown. I tried to `while true` that test case but without success so far...

[2018-03-27 15:59] tanner0101 commented on #213
I'm OK sticking with `then` if it seems everyone likes that name. It's less inconsistent with the rest of stdlib, but more consistent with other promise implementations which may be more important.

I do agree that we should definitely not add any overloads to `then`. Swift's type system already has a hard enough time inferring the return type as is.

I'm fine closing this. :)

[2018-03-27 21:48] karim-elngr commented on #184
I think we also need a `eventLoopFuture.thenCombine(other:bifunction)` as currently the only way to combine the values of 2 futures and map it into a new value is through `and` followed by a `map` and that is really not good in terms of performance due to allocation of 2 new promises and a succeeded future.

[2018-03-27 22:33] vlm opened #248 "Futures: expose quick init"
We'd like to use something like that:

[code]

however, this specialization is not public. So instead we have to go through the promise, and it adds boilerplate and affects performance a bit:

[code]

And we can't fix the boilerplate, because the EventLoopFutures class is final.

Please advise.

[2018-03-28 06:01] Lukasa commented on #248
Is `eventLoop.newSuccededFuture()` not sufficient?

[2018-03-28 07:41] vlm commented on #248
* Missed that for some reason, thanks!
 * it calls `EventLoopFuture<T>(eventLoop: self, result: result, file: "n/a", line: 0)`, which robs it from the useful debug information, probably makes sense to address the file/line properly.
 * Same for newFailedFuture().

[2018-03-28 07:47] #248 closed

[2018-03-28 08:36] Lukasa opened #249 "Constrain published targets"
Right now we over publish some targets by making them available as part of our top-level products. This includes our SHA1 target, for example, which we strongly consider non-public. We should more aggressively restrict the exposure of these targets in SwiftPM.

Changing this is probably a 2.0 change.

[2018-03-28 08:48] Lukasa commented on #248
Yeah, they should probably do better.

[2018-03-28 08:49] #201 closed

[2018-03-28 15:00] helje5 commented on #141
JFYI: https://github.com/Geal/parser_benchmarks

[2018-03-28 15:15] helje5 opened #253 "`ByteBuffer.set(string:)` returns an `Optional` Int"
### Expected behavior
[code]

The `set(string:at:)` (and `write(string:)`) return an `Optional<Int>` even though they never fail (looking at the implementation).
Presumably (and talking to @weissi ) this is a left-over from an old variant of the func which supported different encodings.

Also: the comment doesn't say anything about the optionality, making it even more confusing. Does it mean no bu

[2018-03-28 16:13] weissi commented on #253
@Lukasa / @normanmaurer As @helje5 points out we first had this as back in the day when we used `Foundation.Data`'s encoding APIs they could fail. At the moment we only support UTF8 and the Swift stdlib's API for encoding/decoding UTF8 actually never fails. Therefore this is currently needlessly returning an optional.
Should we make this non-optional or add a docs why this is optional?

[2018-03-28 17:54] moiseev commented on #253
How about adding an overload: `set(utf8String:at:)`? This way the API won't need to change again later when other encodings are supported.

[2018-03-28 18:28] helje5 commented on #253
My assumption would be this:
[code]
Easy API for the common case, more work for the elaborate case.

Maybe even
[code]
Not sure about this one.

P.S.: I thought the Swift API Styleguide says that one should use `setString(_ s:...)`, `setData(_ d: ...)`, not `set(string:)`, `set(data:`)?

[2018-03-28 18:41] moiseev commented on #253
As for the naming convention, I would even go further and say that the argument label repeats the type information. I believe, I mentioned this to @weissi once and he explained why this choice had been made. But quite possible it's false memory.

[2018-03-28 18:49] helje5 commented on #253
I think the API guidelines also say something about repeating the type when the overload isn't obvious, not sure it applies here. But what I can say that I walked over this issue while extending ByteBuffer w/ this:
[code]
(e.g. for something like `Content-Length: 10`)

So maybe something like that should be considered too. (you might have set functions which have "micro-encoders" builtin, integerA

[2018-03-28 18:52] moiseev commented on #253
Maybe that was the exact justification I got ;-)

[2018-03-29 09:10] Lukasa commented on #253
Certainly a downside of the implementation we have now is that it's not clear what encoding is used when we `set` the string unless you read the docs (and as we all know, people do not read documentation, they just auto-complete in their IDE until they find a function that looks about right).

I'd be open to deprecating the current function and replacing it with @moiseev's overloads (possibly rena

[2018-03-29 09:44] Lukasa commented on #130
I believe this is addressed in the current master. Please let me know if it's not.

[2018-03-29 09:44] #130 closed

[2018-03-29 09:49] normanmaurer commented on #130
+1 this should just work now

[2018-03-29 10:57] weissi commented on #253
@moiseev I'd like to keep the `string` label as otherwise these things will become ambiguous. You can use a string literal at least for `String`, `StaticString`, `UnsafePointer<UInt8>` and probably loads more.

[code]

and I really want people to know which one they are calling

[2018-03-29 11:00] weissi commented on #253
for the record: what I really dislike about the current API is that the return value is a `@discardableResult` and therefore in most cases users probably don't check it at all. But if we return `Int?` the `Int` might not be that interesting (as you don't care where the string has been written to) but if it were `nil` that'd be really interesting as your string wouldn't actually have been written t

[2018-03-29 15:35] Lukasa opened #254 "HTTP/1 parser should handle semantic EOF."
Right now the HTTP/1 decoder does not correctly handle EOF. EOF can potentially be semantic in HTTP/1.1, and so we should correctly pass it to HTTPParser when we see it. Right now we don't. I bumped into this while working on an unrelated patch so I don't plan to handle it immediately, but I wanted to file this issue so I didn't forget.

[2018-03-29 17:31] moiseev commented on #253
@weissi If the error can be meaningful, the function should be throwing. The combination of `throws` and `@discardableResult` should give exactly what you describe: possibility to ignore the resulting `Int` value, but require attention to possible error.

[2018-03-29 19:16] weissi commented on #253
@moiseev yes, we should probably just make it throwing...
@helje5 why is `writeString()` more Swift-like than `write(string:)`? I'd have said the opposite but don't really mind.

[2018-03-29 20:15] helje5 commented on #253
My feeling is that they don't want you to overload the method name like that. The base name should denote what it does, and if it is overloading, just the type.

I'm looking primarily at the "Compensate for weak type information" of the [API Design Guidelines](https://swift.org/documentation/api-design-guidelines/).
Look how they do `addObserver(...)` instead of `add(observer:)`.

Or `makeWidget(_

[2018-03-29 22:32] karim-elngr commented on #184
@Lukasa Would be ok if we add a new protocol `Future` to allow us to define protocol extensions on sequences of EventLoopFuture like this example:
[code]
Which would allow the caller to omit the prefix `EventLoopFuture<SomeType>.`

[2018-03-30 03:02] SetoKaiba commented on #130
I'd like to know whether it just does not work on iOS. Or it works, but it does not activate the cellular radio or on-demand VPN?

[2018-03-30 03:27] Lukasa commented on #130
The second.

[2018-03-30 03:29] Lukasa commented on #184
We certainly could, yeah. I’m a bit reluctant to, though, on the grounds that we can’t really prevent the user from implementing that protocol themselves, even though doing so would be useless.

That said, maybe that’s just ok. @weissi?

[2018-03-30 03:37] SetoKaiba commented on #130
Is there any time frame for a iOS support?
https://stackoverflow.com/questions/25045829/how-can-i-activate-the-cellular-radio-in-ios-since-bsd-sockets-doesnt-activate

According to this post, it seems that I can just listen for Tcp and do nothing. It will keep the cellular radio or on demand VPN activated. Does it mean that this can be a temp workaround for iOS using?

I really love to use Netty l

[2018-03-30 03:48] SetoKaiba commented on #130
I noticed that you mentioned the pthread management used by swift-nio.
And I found the #233 says that it removes the check, because swift-nio uses its own thread impl now.
Is `MultiThreadedEventLoopGroup(numThreads: 1)` and dispatch to GCD is still preferred?

[2018-03-30 06:59] helje5 commented on #130
I’m not sure what the latter question relates too. It doesn’t sound like the radio/vpn issue? But yes, on a *device* I can’t imagine why you’d want to have more than one NIO thread. (unless you put it in a rack an use it as a server ;-) )

You definitely don’t want to do the former. (only listen to keep the radio active) The users will hate you ;-)

[2018-03-30 10:24] Lukasa commented on #130
Whether NIO works for your needs is entirely dependent on what your needs are. In general, BSD sockets are less than ideal on iOS because the contract given by the operating system does not give you much feedback about the state of the system. The OS is free to do as it pleases with your BSD sockets in non-main-line scenarios (e.g. background your app could invalidate your FDs without notifying yo

[2018-03-31 16:29] Andrewangeta opened #265 "Xcode 9.3 release not compiling the concurrency module"
### Expected behavior
Compilation to be successful

### Actual behavior
Xcode is upset with the concurrency helpers

### Steps to reproduce

1. Have latest Xcode 9.3
2. try to compile

### SwiftNIO version/commit hash

_[1.3.1]_

### Swift & OS version (output of `swift --version && uname -a`)
swift 4.1 macOS 10.13.3
<img width="1125" alt="screen shot 2018-03-31 at 12 11 45 pm" src="https://user-i

[2018-03-31 17:16] Andrewangeta commented on #265
Closing. Old .`xcodeproj` file was the issue.

[2018-03-31 17:16] #265 closed

[2018-04-03 09:58] weissi commented on #184
@karim-elngr your `Monad` protocol doesn't define a monad. In fact you can't define a very useful `Monad` (or `Applicative`) protocol in Swift as that requires higher kinded types.

[2018-04-03 13:58] khoogheem opened #270 "Multicast UDP"
Anywork being done on Multicast for UDP?

wanted to see where that is on the priority and if I can lend a hand here or if someone else is already working on it.

[2018-04-03 14:02] Lukasa commented on #270
Currently we're not actively working on it, but it's something we want. If you're interested in doing the work we'd be happy to review a patch.

You may find it useful to kick API design ideas around before you get too far into coding though!

[2018-04-03 14:04] normanmaurer commented on #270
We did not start it yet... that said we Love PRs

[2018-04-03 14:52] Lukasa opened #271 "Document the behaviour of the promise in `close` and the channel `closeFuture`."
It's not necessarily totally apparent to users how `close` and `closeFuture` work, nor is it clear that the promise passed to `close` will fire *way* before the `closeFuture` completes. The two have very different signals but very similar names, which could easily cause confusion. We should document the difference.

[2018-04-03 19:18] normanmaurer commented on #141
@tanner0101 can you share how you ran the benchmark ? Like what command you used on the client side and what response you expected etc

[2018-04-03 22:47] tanner0101 commented on #141
I always run this same command to keep things consistent:

[code]

And it hits a route that returns:

[code]

In Vapor, that looks like:

[code]

Since the `String` doesn't change between requests, we can use `StaticString` which gives a nice boost.

[2018-04-04 05:49] ldewailly opened #274 "API Doc for NIOWebSocket"
### Expected behavior
List `NIOWebSocket` in [list of modules](https://apple.github.io/swift-nio/docs/current/NIO/index.html)

### Actual behavior
Not present in the list

### Steps to reproduce

Navigate to https://apple.github.io/swift-nio/docs/current/NIO/index.html

### If possible, minimal yet complete reproducer code (or URL to code)

n/a

### SwiftNIO version/commit hash

n/a

### Swift & O

[2018-04-04 07:11] normanmaurer commented on #141
@tanner0101 thanks. Could you also provide me with an example that I can run using `vapor-core` only ?

[2018-04-04 13:49] Lukasa opened #277 "NIO mishandles EPOLLHUP"
## The Problem

Right now, NIO on Linux does not trigger any event on `EPOLLHUP`. This is because NIO never registers itself for EPOLLHUP, so it doesn't particularly expect to see it. That is, unfortunately, not how epoll works. From [the man page](https://linux.die.net/man/2/epoll_ctl):

Put another way, `EPOLLHUP` is *unmaskable*: we cannot prevent `epoll_wait` from returning it to us.

Most of

[2018-04-04 13:55] normanmaurer commented on #277
1) Sounds ok to me

[2018-04-04 15:18] helje5 opened #278 "Add a way to retrieve the FileDescriptor of a Channel"
It would be great to get access to the file descriptor of a Channel (usually socket, but could be pipes or thread-wrapped files too). This is mostly for logging/debugging purposes, not for sidelining NIO (though I think this may make sometimes sense).

Discussion:

@helje5:

@Lukasa:

@helje5:

@Lukasa:

My suggestion:
[code]

[2018-04-04 15:31] helje5 opened #279 "Enhance CircularBuffer with insertFirst and popFirst/Last"
I'd like to abuse the `CircularBuffer` as a CoW data structure w/ linked list behaviour (better index-0 insert/remove behaviour than `ContiguousArray`, which I currently use). Since the ivars are all private, I can't extend `CircularBuffer` with the operations I need. I think it would be those (also available in the stdlib, excluding insertFirst):
[code]
Would be great to get those (and a CoW link

[2018-04-04 16:45] #274 closed

[2018-04-04 16:59] weissi commented on #279
sure, we can totally just implement the missing methods. @Lukasa / @normanmaurer opinions?

[2018-04-04 17:12] twof commented on #141
@tanner0101 Do you have any stats on memory usage during those benchmarks?

[2018-04-04 18:24] normanmaurer commented on #278
While I am not against this in general I think it is kind of "dangerous" as people can just "willy-nilly" do things with the fd

[2018-04-04 18:34] helje5 commented on #278
I think this should be OK for a low level library like NIO. In the end, what do you expect people to do with the fd? The few who might want to, probably know what they are doing ... Not worse than withVeryUnsafeBuffer for sure ;-)

[2018-04-05 00:00] tanner0101 commented on #141
@twof 6.3MB at boot, 7.1MB during peak load.

@normanmaurer here is a base Vapor 3 (release candidate) project with the `ping` route.

[nio-http.zip](https://github.com/apple/swift-nio/files/1878190/nio-http.zip)

Use this to run it:
[code]

Beware that (at time of writing this) Vapor hasn't had the official 3.0.0 tag placed yet and thus hasn't undergone any in-depth performance or memory analysis

[2018-04-05 08:46] Lukasa commented on #279
Eh, sure, why not?

[2018-04-05 10:14] normanmaurer commented on #279
If we can without any perf hit for our use-case I am in

[2018-04-05 15:26] Lukasa opened #281 "Forbid HTTP versions we don't understand."
Right now, NIO's sample server (and any server using NIO's HTTP layer) will be wildly over generous with the parsing in two different ways.

Firstly, it will accept *later* major versions of HTTP (e.g. a hypothetical HTTP/2.0, distinct from HTTP/2). This is a bad idea, because we don't know the semantics of those HTTP versions. We should treat those as parser errors.

Secondly, and more annoyingly

[2018-04-05 16:11] karim-elngr opened #282 "ChannelTests - testBasicLifecycle fatal error"
### Expected behavior
ChannelTests - testBasicLifecycle should pass

### Actual behavior
ChannelTests - testBasicLifecycle - on very rare occasions throws fatal error when trying to execute `serverAcceptedChannel!` in this line of code `try EventLoopFuture<Void>.andAll([clientChannel.closeFuture, serverAcceptedChannel!.closeFuture], eventLoop: group.next()).map`:

Thread 1: EXC_BAD_INSTRUCTION (co

[2018-04-05 16:35] Lukasa commented on #282
Yup, this should probably use a `Promise` to communicate rather than this unsynchronized cross-thread communication.

[2018-04-06 03:44] #282 closed

[2018-04-06 08:53] helje5 opened #287 "Add a `FileChannel`"
Instead of doing a separate API in that NonBlockingFileIO thing for reading and writing files, I think it would be nicer to have a `FileChannel` API. (And a `FileBootstrap` for opening etc)

Rational:

1. For one we already have the Channel API to work on streams of incoming/outgoing data. Make it consistent.
2. Many handlers which you inject into socket pipelines also make plenty of sense in the

[2018-04-06 08:57] helje5 opened #288 "Add a `ProcessChannel`"
Something which would be nice and I'd really like to have is a `ProcessChannel`. Its associated bootstrap would fork a process and bind the stdin/out pipes to the ProcessChannel.

The toughest issue with that is that you really have two (or even more in/) output streams, not sure how that would work? Maybe similar to a server channel? (create a separate pipeline for stdout and stderr, or any other

[2018-04-06 10:26] #281 closed

[2018-04-06 12:36] weissi commented on #277
just to add a bit of info: On a UDS without waiting for either read or write, we get this:

    [pid  8372] epoll_wait(8, [{EPOLLHUP, {u32=42, u64=42}}], 64, -1) = 1

over local TCP, I can't get it to throw EPOLLHUP (probably no `RST` packets). Over actual TCP/IP from another machine I always get

    [pid  8602] epoll_wait(11, [{EPOLLERR|EPOLLHUP, {u32=42, u64=42}}], 64, -1) = 1

which we always

[2018-04-06 14:14] Lukasa commented on #277
Yeah, `EPOLLERR|EPOLLHUP` feels plausible for "proper" TCP: they want to tell you about "connection reset by peer". Frankly Linux's UDS behaviour here seems broken, but it's also our primary platform, so...I guess we're stuck with it.

[2018-04-06 18:00] weissi opened #292 "investigate master TSan issues"
see title

[2018-04-06 18:44] vlm commented on #292
Reference commit: https://github.com/apple/swift-nio/commit/cce02c9e40aefa2669dec9d2ed0dd38a8bfa1e2b

[2018-04-09 11:05] #292 closed

[2018-04-09 11:11] #213 closed

[2018-04-09 16:36] weissi commented on #277
#286 should fix this

[2018-04-10 09:07] #132 closed

[2018-04-11 20:52] pushkarnk opened #302 "New assert failure with 1.4.1"
I've been working on rebasing Kitura on top of swift-nio. Things were all good with 1.3.1. However, with 1.4.1, I see a new assert failure at `Sources/NIO/BaseSocketChannel.swift, line 384`. I tried switching back to 1.3.1 and the assert failure goes away.

This is the assert:
`assert(self.lifecycleManager.isActive)`

I'm not sure what causes the failure. Can someone please explain, from an API us

[2018-04-11 20:55] BasThomas commented on #302
For reference, [this](https://github.com/apple/swift-nio/blob/master/Sources/NIO/BaseSocketChannel.swift#L384) is the mentioned line of code, and [this](https://github.com/apple/swift-nio/pull/220) the pull request that introduced it.

[2018-04-11 21:12] vlm opened #303 "Thread Sanitizer failure"
### Expected behavior

No failures in release mode under ThreadSanitizer.

### Actual behavior

Lots of ThreadSanitizer failures.

### Steps to reproduce

[code]

[2018-04-12 06:35] Lukasa commented on #302
This assertion was added to validate our channel lifecycle management. It essentially asserts that we only try to write to a socket when we believe the channel is active. In this case, you are probably getting there through `writable`, which means we were marked writable but are currently inactive.

We do not believe this should be possible, but it may be. Do you have a repro scenario we can look

[2018-04-12 07:11] pushkarnk commented on #302
Thanks @Lukasa I'll work on a distilled repro scenario

[2018-04-12 08:08] normanmaurer commented on #303
Will look into it.

[2018-04-12 08:38] weissi opened #305 "put a ping/pong client/server in the allocation tests"
ping/pong client/server would be great as they should basically work allocation free after the connection is up. We should verify that and make sure we don't regress.

[2018-04-12 08:39] weissi opened #306 "put a websockets test client/server in the allocation tests"
by having HTTP (and soon a ping/pong --> #305) in the allocation counter tests, we cover a lot of NIO's code in the allocation counting. However we now have web sockets and we should put something simple there just to make sure we don't regress there.

[2018-04-12 08:47] weissi commented on #303
here's the log

[code]

So I have seen this one before wanted to analyse and then forgot :(. The reason this one is interesting is this:

[code]

this _might_ be a TSan false positive or a bug in the Swift runtime. This seems to be the global 'empty array' which then always gets CoW'd when you change an array. But this is _NOT COMFIRMED_, need to make a small isolated repro first.

[2018-04-12 08:49] weissi commented on #303
<img width="1406" alt="screen shot 2018-04-12 at 9 48 29 am" src="https://user-images.githubusercontent.com/624238/38666394-b0eba9ec-3e36-11e8-89e4-fef3fe540696.png">

reproing in Xcode suggests something similar. There's really no data race in this code

[code]

as there's no shared mutable state here.

[2018-04-12 09:12] Lukasa commented on #302
I also have another report of someone in the Vapor community hitting this. I was able to get a call stack from them (though I have not yet been able to reproduce this myself). The call stack was:

[code]

[2018-04-12 09:15] Lukasa commented on #302
The main highlight of this stack is that it does demonstrate that this is occurring because of a channel being marked `writable`. The call stack also indicates the error was occurring on macOS (though this doesn't preclude the possibility that we could hit it on Linux: again, I haven't yet got a repro so can't check).

[2018-04-12 09:30] normanmaurer commented on #303
@weissi so you are looking into it already ?

[2018-04-12 09:50] Lukasa opened #307 "Assert hit on TCP RST with full write buffer."
When a TCP channel has a full send buffer (e.g. the channel is registered for writability) and the socket is closed by TCP RST, an assert is hit with the following backtrace:

[code]

[2018-04-12 09:58] Lukasa commented on #307
This appears to be a simple ordering issue: right now the pending writes are failed (transitioning the PWM to "closed") *before* the channel lifecycle manager transitions to `closed`. This means that if there is a write promise that calls `ChannelHandlerContext.close`, this assertion will trigger, because we are only *partially* closed.

As a general rule, this assertion is probably right: there s

[2018-04-12 10:31] weissi commented on #307
a fix for this is in https://github.com/apple/swift-nio/pull/286/files#diff-c8d9db5af379f19953c31d0baf337291R664 . @Lukasa volunteered to pull it out and write unit tests for it

[2018-04-12 11:27] weissi commented on #302
@pushkarnk thanks very much for filing, fix should be up and I'm positive we can release it today.

[2018-04-12 12:04] pushkarnk commented on #302
I see the same stack as [this one](https://github.com/apple/swift-nio/issues/302#issuecomment-380734231) on *Linux*

[code]

[2018-04-12 12:05] weissi commented on #302
@pushkarnk yes, this problem will affect _all_ platforms

[2018-04-12 12:49] #307 closed

[2018-04-12 13:34] pushkarnk commented on #302
Thanks @weissi for fixing this!

[2018-04-12 14:12] #254 closed

[2018-04-13 19:09] vlm commented on #303
@weissi turns out, this particular manifestation happens on Swift 4.1. With Swift-4.2, the problem goes elsewhere:

<details>
 <summary>ThreadSanitizer output</summary>

[code]

</details>

[2018-04-13 19:42] vlm commented on #303
An updated script which builds and tests with Swift-4.2:

## Invoke

`mkdir -p tmp && WORKDIR=${HOME}/tmp ./build-and-test.sh`

## Script body

<details><summary>build-and-test.sh source code</summary>

[code]

</details>

[2018-04-16 09:59] weissi commented on #303
@vlm thank you! It's still with `Location is global '_swiftEmptyArrayStorage' at 0x000108fe8138` though so I think that further shows that it might be a Swift runtime/TSan problem. But still not confirmed.
I tried making a small isolated repro of that problem outside of NIO but I haven't managed to cause the TSan hiccup in the isolated repro yet :(. So the safe assumption is still that it's a NIO

[2018-04-16 17:08] pushkarnk opened #317 "IdleStateHandler.IdleStateEvent is marked internal"
I have a question about using the IdleStateHandler. I see the the IdleStateEvent is received via

`public func userInboundEventTriggered(ctx: ChannelHandlerContext, event: Any)`

In this method I was hoping to do something like
[code]

However, `IdleStateHandler.IdleStateEvent` seems to be `internal`. Can we make it public?

[2018-04-16 17:11] pushkarnk commented on #317
Or if there's an alternate way of doing this, I'd be glad to know what it is! Thanks!

[2018-04-16 17:14] normanmaurer commented on #317
Yes should be public

[2018-04-16 17:17] pushkarnk commented on #317
I'll do my first PR on swift-nio then ;)

[2018-04-16 17:36] #277 closed

[2018-04-16 17:57] vlm commented on #303
@weissi, how do you see that the location is `_swiftEmptyArrayStorage`? Do you see the same trace that I posted above, or something different? Please make sure you're running on swiftc 4.2 though (what does `swift package -v` calls?).

[2018-04-16 18:58] normanmaurer commented on #279
@helje5 btw we love PRs :)

[2018-04-16 19:12] helje5 commented on #279
Every one loves PRs! But then @Lukasa wants you to write tests for perfectly working code and a 2 minute patch becomes hours and hours. Been there, done that ;-)

But yes, I consider doing a PR. I need to fully understand it to do the `insertFirst` right, the only reason I didn't approach that yet (apart from the fact that it would probably take @weissi 2 minutes to do those 😉)

[2018-04-17 07:50] Lukasa commented on #279
I'm a monster, I know. And yet I feel so little guilt!

[2018-04-17 07:50] Lukasa commented on #279
(Also I'd definitely make @weissi write the tests too.)

[2018-04-17 07:55] normanmaurer commented on #279
@Lukasa maybe I should write the patch then as it seems I will not need to write tests 🤷‍♂️  ;)

[2018-04-17 10:32] weissi commented on #303
@vlm ok, I have now updated to the latest dev snapshot from swift.org:

[code]

and I'm getting loads of TSan warnings with this command line:

[code]

Mostly in three categories:

1. the old array storage thing:

[code]

2. it's complaining about `free`

[code]

but that's really odd because with ARC it's impossible to predict what thread a `free` is coming from

3. a new one referring to diction

[2018-04-17 13:07] rafiki270 opened #320 "NIO missing important HTTP status code"
HTTP status code 418 is missing and we had to implement it ourselves, quite a shame for such great framework!

Thanks for your consideration!

[2018-04-17 13:09] calebkleveter commented on #320
Also missing 420, meaning Twitter will never have a chance to use NIO. Too big to pass up on!

[2018-04-17 14:56] pushkarnk opened #322 "Synchronous connect errors do not properly unregister their selector."
The Kitura test suite that runs with swift-nio 1.3.1 in 3-4 seconds, takes 133-134 seconds with 1.4.2.

I drilled down a bit and found each `ClientBootstrap.connect().wait()` waiting longer  with 1.4.2(~0.25s) as compared to 1.3.1 (~0.01s). We're using only loopback connections.

Came across this change: https://github.com/apple/swift-nio/pull/221  Not sure if that causes the problem.

I'll try to

[2018-04-17 15:27] Lukasa commented on #322
This is really startling. #221 should, in a general case, only have sped things up, as it would have reduced the number of DNS results to retrieve. That said, I suppose it's possible that the libc implementation burns an enormous amount of CPU to do that filtering.

The more likely outcome of that change is to have broken some inlining or other performance gain.

[2018-04-17 15:36] normanmaurer commented on #322
Can you just revert the change and test?

[2018-04-17 16:26] pushkarnk commented on #322
@normanmaurer Tried that. Doesn't improve the times. So its not #221

[2018-04-17 17:56] normanmaurer commented on #279
I will take a stab on this once https://github.com/apple/swift-nio/pull/313 is merged

[2018-04-17 18:54] weissi commented on #322
this reproes it for me in Docker:

[code]

takes 4.5s on 1.3.1 and about 20s on 1.4.1 .

[2018-04-18 07:29] pushkarnk commented on #322
@normanmaurer Yes, crashed for me on Linux too. But even connecting like this reproduces the problem:
[code]

[2018-04-18 07:32] normanmaurer commented on #322
@pushkarnk is it possible that you run the test in debug mode ? I think I can reproduce it now when running in debug mode but not when in release mode. Can you try to run the code snipped in both modes and let me know what you see ?

[2018-04-18 07:34] normanmaurer commented on #322
@pushkarnk also yep thats what I used now as well in my code...

Here is the "updated test code I used":

[code]

[2018-04-18 07:58] weissi commented on #322
update for me. With this code

[code]

these are the results:

[code]

running Norman's code now

[2018-04-18 08:02] normanmaurer commented on #322
@weissi thanks... please report back one you have the numbers for my code reported by it :)

[2018-04-18 08:09] weissi commented on #322
ok, with @normanmaurer 's code

[code]

so master now seems faster than 1.3.1 and 1.4.1 haha

[2018-04-18 08:36] pushkarnk commented on #322
Wow, the master is indeed faster. Kitura tests are finishing in 3.6-3.8s with master. Thanks @normanmaurer and @weissi ! Btw, can you tell us why the connect times increased in 1.4.1? :)

[2018-04-18 08:41] normanmaurer commented on #322
@pushkarnk we are on it ;) Not sure yet

[2018-04-18 11:37] Lukasa commented on #322
Ok, we worked this out.

This bug manifested only on systems that had `getaddrinfo` implementations that would return IPv6 addresses on systems that had no IPv6 stack enabled. When that happens, we fall into the following strace flow.

Firstly, we attempt our first outbound connections. This is to `::1`. We begin by creating the socket, and registering for nothing. In 1.4.1, registering for nothin

[2018-04-18 11:40] Lukasa opened #328 "Set ai_family appropriately in getaddrinfo hints on non-dual-stack systems."
Found while investigating #322.

On Linux or Darwin systems without dual-stack IP configurations (e.g. IPv4-only or IPv6-only), we should set `ai_family` in our `getaddrinfo` hints. This will prevent us issuing connect calls that cannot possibly succeed if we get a DNS result for a stack we do not support.

[2018-04-18 11:41] Lukasa commented on #322
See #328 for the second issue.

[2018-04-18 15:07] #322 closed

[2018-04-18 17:45] weissi opened #333 "EventLoopTest.testShuttingDownFailsRegistration shouldn't fail"
### Expected behavior
`EventLoopTest.testShuttingDownFailsRegistration` should be stable and not randomly fail.

### Actual behavior

[code]

from here: https://ci.swiftnio.io:4433/job/swift-nio-master/195/console

### Steps to reproduce

dunno, run test in a loop on Linux?

### If possible, minimal yet complete reproducer code (or URL to code)

test should be fairly minimal

### SwiftNIO version/

[2018-04-18 18:02] weissi commented on #333
yes, reproes by just looping it:

[code]

did it after 137 runs.

[2018-04-19 08:32] Lukasa commented on #333
This is the same issue as #334. I'll do a quick sweep over the tests to confirm we aren't making this mistake anywhere else.

[2018-04-19 08:37] Lukasa commented on #333
Sorry, I don't know why I said that: looking at the code again doesn't seem to back up the idea that this is the same issue.

[2018-04-19 08:44] Lukasa commented on #333
I'm suspicious of the fact that the first channel registration+connect got wrapped in `submit`. I wonder if this ends up creating a race where `Channel.close` doesn't get called, because the connection attempt races with the `loop.closeGently` in the other line.

As a general rule, you're waiting on `submit` blocks, but not waiting on the futures that the calls inside those blocks create. That is

[2018-04-19 09:03] Lukasa commented on #333
Hrm, that theory doesn't seem to be right though, as adding a wait for that connection does not make the problem go away.

[2018-04-19 11:10] Lukasa commented on #333
Ok, got it.

The issue here is a simple one of timing. The premise of the test is that the `WedgeOpenHandler` will keep the channel open by catching calls to `close`, which will prevent the selector closing the channel during graceful shutdown. This is true!

However, the `WedgeOpenHandler` only prevents that for the client channel. However, there is a server side to that channel too, and that cha

[2018-04-19 11:14] normanmaurer commented on #333
Wedge both sound like a better option to me for the reason you said

[2018-04-19 12:34] Lukasa commented on #185
Resolved by #256.

[2018-04-19 12:34] #185 closed

[2018-04-19 23:37] tanner0101 opened #342 "more performant uri access"
Currently the only way to access a request head's uri is via a computed property that converts it to a String. The internal storage however is usually a byte buffer. For vapor's purpose, being able to access the uri bytes without going through String would be a performance win.

Here is an idea I have on how this could work:

### HTTPURI

[code]

### HTTPRequestHead.rawURI

[code]

Interested to h

[2018-04-20 12:00] normanmaurer commented on #342
@Lukasa @weissi what are your thoughts on this ? I think there is probably no harm supporting this.

[2018-04-20 14:09] helje5 commented on #342
I'd like that too, though not for performance. I'm working on a proxy for a telco, and that essentially gets any kind of URI crap you can possibly imagine. For this, it would be nice to be able to pass over the thing as a buffer, as it doesn't always form a valid UTF-8 string.

Technically this is true for any header field too. Though UTF-8 is common today, HTTP headers at least used to be spec'ed

[2018-04-20 17:11] tanner0101 commented on #342
as long as I can get the count of bytes and iterate over them to do comparison (for routing) I will be happy 👍

[2018-04-20 17:12] weissi commented on #342
@tanner0101 good point, probably `C: Collection where C.Element == UInt8`

[2018-04-22 18:38] pushkarnk opened #345 "Missing error codes in WebSocketErrorCode"
This isn't affecting my work as such for now, but I just noticed that we haven't included codes 1005(`no reason code`),  1006 (`closed abnormally`) and 1015(`TLS handshake error`) in the WebSocketErrorCode enum. Is there any specific reason for that?

See: https://tools.ietf.org/html/rfc6455#section-7.4

[2018-04-22 18:47] Lukasa commented on #345
Yeah, they're RFC-excluded. :smile:

1005 is guarded by a MUST NOT, as is 1006, and 1015. The purpose of those codes is to be synthesised up to applications whose primary signaling mechanism is error codes. Generally speaking this doesn't include NIO applications, which have a substantial number of alternative mechanisms for signalling these errors.

The error codes in the `enum` are intended to b

[2018-04-22 18:57] pushkarnk commented on #345
Ah, makes sense. I now looked more closely at the `MUST NOT`.

Kitura-WebSocket does permit their use, because the `WebSocketCloseReasonCode` enum includes them. Nevertheless, given your reasoning it makes sense to not include them here. I'll close this issue.

Thanks @Lukasa !

[2018-04-22 18:57] #345 closed

[2018-04-23 10:32] #333 closed

[2018-04-23 17:46] normanmaurer commented on #342
@tanner0101 want to take a stab on this ?

[2018-04-24 08:27] normanmaurer opened #350 "CircularBuffer should conform to more protocols"
See https://github.com/apple/swift-nio/pull/347#discussion_r183440334

[2018-04-24 17:53] weissi commented on #305
fixed with #316

[2018-04-24 17:53] #305 closed

[2018-04-25 18:10] tanner0101 commented on #342
@normanmaurer sure

[2018-04-26 19:02] tanner0101 opened #364 "[feature request] pipeline debug logger"
A generic channel handler for verbose logging of pipeline activity would be really helpful. I'm not sure exactly what that would look like, but opening this issue up for discussion. I think at a minimum the logger should show all incoming and outgoing `NIOAny`s.

[2018-04-26 19:04] Lukasa commented on #364
Good idea! I think this may be better handled by a special debug-only mode for channel pipelines that updates the contexts to do the logging. The context is intentionally opaque to handlers, and it’d be good for it to stay that way.

[2018-04-26 19:06] normanmaurer commented on #364
Not 100 % what you are looking for but we provide some sort of logging handler for netty that can be used for something like this:

https://github.com/netty/netty/blob/4.1/handler/src/main/java/io/netty/handler/logging/LoggingHandler.java

Maybe this can give some inspiration

[2018-04-26 19:12] tanner0101 commented on #364
@normanmaurer as long as it prints a readable form of the data getting passed between handlers I would be happy. I think a big advantage to having something like this built into NIO (with an easy way to enable it) is that it provides a consistent, reliable method for developers to share and parse this debug info. I imagine ones' eye could become fairly well trained to reading them eventually.

[2018-04-27 08:43] helje5 commented on #364
A log would be a great starting point, but an actual visualisation of the message flow (an app or an Instrument thing showing this) would be really cool. In Node you get this kind of thing for free w/ the event listeners. In NIO I think one would need to (optionally) replace the pipeline driver with a debug variant offering the additional listener delegate (which could then log or do fancier stuff

[2018-04-27 08:51] Lukasa commented on #342
I mean, it's not within spec, but people do all kinds of insane nonsense and call it HTTP.

[2018-04-27 08:55] helje5 commented on #342
@Lukasa probably knows better, my assumption is that there is an addendum RFC which say that those fields must be UTF-8 (probably this one: [RFC 8187](https://tools.ietf.org/html/rfc8187)).
My point is that the original HTTP/1.1 ([RFC 2616](https://www.ietf.org/rfc/rfc2616.txt)) was explicitly spec'ed to not use UTF-8 but ISO-Latin-1. So while this will hopefully die eventually, it'll take a long

[2018-04-27 11:14] weissi commented on #342
@Lukasa in other words we should support it, right? So maybe we should take @tanner0101’s patch and later introduce a bool flag for HTTPDecoder and configureHTTPServerHandlers whether to eagerly decode the URI as String or not. Then most people should set that to `true` but @helje5’s proxy should set it to `false` and @tanner0101 can do either depending on the outcome of the String benchmarks

[2018-04-27 13:49] Lukasa commented on #342
Works for me.

[2018-04-30 13:11] weissi opened #372 "tool to generate contributors file"
Our contributors file is outdated and it doesn't really make sense to maintain it manually, this should be fixed by having a script.

[2018-04-30 17:06] weissi commented on #246
hit again today

[code]

[2018-05-01 12:26] fadi-botros commented on #141
Very good issue. Actually I tried to benchmark SwiftNIO against Vertx (tried to make a benchmark under https://www.techempower.com/benchmarks/), and the results were extremely disappointing to me.

I think we need a WHOLE NEW string class, also, JSON Encoding / Decoding, we need it in a high-performance way (I know SwiftNIO is low-level, it may not support JSON out-of-the-box, but I see making a l

[2018-05-01 12:27] mcdappdev commented on #141
@fadi-botros Can you please share the results from the benchmarks you ran?

[2018-05-01 15:37] helje5 commented on #141
@fadi-botros It would be very helpful if you would provide a lot more info on this, as such this is just a pretty useless claim? You did JSON encoding/decoding? How? Using Codable? Maybe even Foundation.JSONDecoder? You'll get _very_ disappointing performance with those for sure. What Swift version did you use? etc.

Wrt the Swift String performance, I think the claim is, that a Swift 4.1 UTF-8 St

[2018-05-01 16:44] twof commented on #141
Can you also post the code for your tests? There are some very confusing results coming out of Vapor too. No idea if anyone's looked into those yet.

[2018-05-01 18:27] fadi-botros commented on #141
Also,  may using low-level threading primitives may be better than GCD ??
@helje5 Says in his performance analysis to his tool Redi/S, that using one thread was faster than using GCD or EventLoop (EventLoop code is also built on GCD I guess).

@twof For the code: Here is it:
https://gist.github.com/fadi-botros/b8276bb5e2b83a63045877aeb7415f34

[2018-05-01 18:34] mcdappdev commented on #141
@fadi-botros Can you share the actual results of your benchmark? Including what you hardware and software you used to run it (wrk, etc). It's hard to contextualize your concerns without seeing the numbers and I'm curious to know what you used to perform the tests.

[2018-05-01 19:05] fadi-botros commented on #141
@mcdappdev This is the results
Sorry, it is as it is resultant from TechEmpower framework benchmark scripts.

https://gist.github.com/fadi-botros/fc0aeb0bbd27a986a1f2a4c3056a5e3d

Also note, my try of "plaintext" test has problems and I don't know where

This is my code (anyway, the link was also in a previous reply)
https://gist.github.com/fadi-botros/b8276bb5e2b83a63045877aeb7415f34

[2018-05-01 20:34] helje5 commented on #342
i would rather opt for one choice instead of complicating the code. if you really think it should be string, do that.

special purpose stuff can always do the parsing manually, that is not my main point against string. i personally think that string is wrong here for the reasons mentioned.

[2018-05-02 13:30] weissi commented on #342
@helje5 I personally think `String` should definitely be a possibility. But given what you posted we can not only do `String` as that would prevent certain use-cases (like your proxy which needs to proxy non compliant stuff) so I don't think we have choice...

[2018-05-02 14:17] weissi opened #378 "SocketChannelTest.testAcceptFailsWith{EMFILE,ENFILE} flaky"
just got this in Docker (Swift 4.1):

[code]

[2018-05-02 14:32] weissi commented on #378
and again

[code]

[2018-05-02 14:43] weissi opened #380 "implement selector late registration"
With `epoll` we cannot register an fd in a selector that didn't have `bind`/`connect` called on it. Therefore we should really implement late registration where we actually only register when `connect`/`bind` is called.
That way the behaviour on Darwin & Linux is the same.

[2018-05-02 14:44] weissi opened #381 "remove the `deregistrationsHappened` workaround from Selector"
we should remove the `deregistrationsHappened` workaround from `Selector` and replace it with something better.

[2018-05-02 15:02] weissi opened #382 "Integration test test_20_connection_drop_while_waiting_for_response_tcp.sh flaky on Linux"
`test_20_connection_drop_while_waiting_for_response_tcp.sh` seems to sometimes cause an fd to be leaked! `TCP localhost:32923->localhost:52984 (CLOSE_WAIT)`

[code]

[2018-05-02 15:44] #378 closed

[2018-05-02 15:54] helje5 commented on #342
My point is that certain use-cases, like my proxy (and I'm not even sure whether I can ever redo that in NIO yet, we'll see), do not warrant complicating the code in this way. So if it is just this specific thing, opt for the choice you prefer (or which is more performant). We (or I) could have a NIOHTTP1Raw module if necessary or deemed worthwhile.

I think my main argument against doing the stri

[2018-05-02 20:02] tanner0101 opened #386 "small memory leak in SelectableEventLoop"
### Expected behavior

Allocated memory should grow by 0 bytes between requests.

### Actual behavior

Allocated memory grows by 96-320 bytes between requests.

### Steps to reproduce

1. clone apple/swift-nio:master
2. run `NIOHTTP1Server` in instruments (`command+i`)
3. perform the following steps:
a: boot `NIOHTTP1Server`
b: mark generation
c: `curl localhost:8888`
d: goto b

You should see mem

[2018-05-03 02:00] fadi-botros commented on #141
@helje5 Sorry but could you suggest improvements of my code ?
I tried removing date formatter and using C time library { time, gmtime }

    var t: time_t = 0
    time(&t)
    let a = gmtime(&t).pointee
    let weekday = weekdays[Int(a.tm_wday)]
    let month = months[Int(a.tm_mon)]

    let weekdays = ["Sun", "Mon", "Tue", "Wed", "Thu", "Fri", "Sat"]
    let months = ["January", "February", "Marc

[2018-05-04 17:10] #380 closed

[2018-05-07 21:49] ldewailly opened #393 "Minor typo: becuase -> because"
As per title, small type, in 3 places

### SwiftNIO version/commit hash

current master: 12cae95c641bbd213080bdb3cf31cb5dec048c2f

[2018-05-07 21:52] ldewailly commented on #393
https://github.com/apple/swift-nio/pull/394

[2018-05-08 08:05] #393 closed

[2018-05-08 13:13] weissi commented on #386
@tanner0101 I just had a look at this issue and it turns out it's not actually a leak: What you see if the `autoreleasepool` itself which allocates some objects for the pool. Presumably some array where it'll store the objects someone might autorelease. When you hit 'Mark Generation', NIO will be inside of the `kevent` call waiting for IO or other things to happen.
That is done with an [within an

[2018-05-08 18:03] tanner0101 commented on #386
Ah okay, that makes sense. I was noticing the memory climbing every so slightly between each run of `wrk` in the overall Xcode memory graph, but I guess that's due to the internal workings of auto release pool. As long as there's no leaks when auto release pool is removed (like it is on Linux) then I'm happy to close this!

[2018-05-08 18:05] weissi commented on #386
@tanner0101 if the memory increases and does not go down, it's not what I describe here. The autoreleasepool will be popped after every tick of the event loop. So we might have a different leak somewhere.

[2018-05-08 18:06] weissi commented on #386
the number of objects between two `wrk` runs should be pretty much equal. It can raise after the first few requests as a few lazy data structures will be initialised but after that it should remain stable

[2018-05-08 18:07] tanner0101 commented on #386
Okay I will take another look then and see if that is still happening. I will also try removing the autoreleasepool code.

[2018-05-08 18:07] normanmaurer commented on #386
@tanner0101 also another good way to test it is to use only one EventLoop and see if you see the increase only once.

[2018-05-08 18:08] weissi commented on #386
@tanner0101 but only remove the ARP if you're sure no-one adds anything. In other words: No one uses Foundation :). But if you're only using `NIOHTTP1Server`, there won't be any Foundation

[2018-05-08 18:09] tanner0101 commented on #386
Will do. I have definitely noticed that using JSONCoder without ARP causes insane memory leakage haha.

[2018-05-08 18:10] weissi commented on #386
@tanner0101 yes, pretty much anything in Foundation requires an autoreleasepool to be set up and popped. But after it has been popped all the mem should be reclaimed.
The reason you saw some objects remaining is because you marked a generation between the set up and the popping of the ARP. But in a real app, the mem usage shouldn't go up.

[2018-05-08 18:18] tanner0101 commented on #386
Ahh ok that last bit makes sense now. The call to kqueue is blocking in the middle of an ARP pop causing items to be shown as still alive. Got it.

In that case shouldn't the items from the previous generation go to zero on the next call? I guess that's where @normanmaurer's tip to use 1 event loop comes into play.

[2018-05-08 18:26] weissi commented on #386
@tanner0101 just this:
- run `wrk -t 8 -c 256` once to 'warm up'
- go to mem graph debugger and capture screenshot
- run `wrk -t 8 -c 256` again
- go to mem graph debugger and capture screenshot

numbers are exactly equal for `NIOHTTP1Server`:

<img width="307" alt="screen shot 2018-05-08 at 7 24 27 pm" src="https://user-images.githubusercontent.com/624238/39775394-a63102f8-52f5-11e8-9ef5-e6a94800

[2018-05-11 02:55] hjuraev opened #401 "HTTP/2 Support"
Is there any deadline for http/2 support?

[2018-05-11 05:31] Lukasa commented on #401
Nope, but it’s actively being developed. We’ll drop an early beta soon, but it’ll be a while before it’s fully production ready.

[2018-05-11 05:31] #401 closed

[2018-05-11 15:48] normanmaurer commented on #372
Fixed by https://github.com/apple/swift-nio/pull/398

[2018-05-11 15:48] #372 closed

[2018-05-16 12:48] helje5 opened #405 "NIO needs to clarify its minor-versioning rules"
## Introduction

One would think that NEO already states its versioning rules by claiming that the [SemVer](https://semver.org) standard is being followed.

The NEO project does **not** consider 'backwards compatible' to mean that arbitrary valid Swift code build on top of NEO is going to run w/o modifications after a minor version bump.

Because of this I think we need a clarification of what "ba

[2018-05-16 12:56] rafiki270 opened #406 "NonBlockingFileIO should be extended with write methods"
Could we get better file streaming support please?

CC: @Lukasa

[2018-05-16 13:05] Lukasa commented on #405
Mind if I open this in the NIO forums? This issue can track actually adding clarifying documentation, but the wider discussion should probably happen over there: this issue tracker doesn't get enough traffic.

[2018-05-16 13:08] Lukasa commented on #406
This specifically covers the fact that there is no way to do non-blocking *writes* with the `NonBlockingFileIO` method.

This would be a good external contributor task if none of the core team gets to it: following the example of `read` is the place to start.

[2018-05-16 13:14] weissi commented on #405
I think a forums thread would be useful as it as @Lukasa says does get more traffic. Regardless, thanks for opening this issue with a useful example @helje5 .

I can take on the effort of documenting our rules. I guess given the Swift pitfalls it needs to include some rules for the consumers of our types such as:

- don't add public conformances of our types to protocols of things we depend on; re

[2018-05-16 14:13] helje5 commented on #405
Feel free to put it on the forum for discussion (but I won't take part in that).

I considered just creating a `SwiftVer` project and repository for this. This would essentially just be a README.md, with the rules for Swift framework providers, to which they could just link (instead of SemVer.org). Maybe some examples with common stuff.

But then I wondered, whether the ABI effort produces somethi

[2018-05-16 14:50] Lukasa commented on #405
See: https://forums.swift.org/t/semantic-versioning-in-swift/12720

[2018-05-16 16:59] helje5 commented on #405
So, local shadowing of functions actually seems to work just fine for both structs and classes (tested w/ 4.1). One issue less, yay.

[2018-05-17 01:56] Andrewangeta opened #409 "Shouldn't this comment read a successful event loop future?"
Xcode hint confused me saying it was a failed future being returned. A simple update will help 👍
https://github.com/apple/swift-nio/blob/e029edef2a70422759a08986c0a781ed01f1b8cd/Sources/NIO/EventLoop.swift#L200-L213

[2018-05-17 05:26] Lukasa commented on #409
Yes it should! Want to open a PR with a fix?

[2018-05-17 10:31] normanmaurer opened #410 "HTTPHeaders.isKeepAlive(...) does only match the first value."
HTTPHeader.isKeepAlive(...) must check all header values,  not only the first one:

https://github.com/apple/swift-nio/blob/master/Sources/NIOHTTP1/HTTPTypes.swift#L302

[2018-05-17 15:50] Andrewangeta commented on #409
@Lukasa https://github.com/apple/swift-nio/pull/412

[2018-05-18 03:09] fadi-botros commented on #410
This is just an initial solution, built on the hypothesis that using String api may be somewhat slow, so made the comma separator and the extractor low-level. Unit tests included for those buffer utilities.
If this was an approved approach, we should cache the `keep-alive` and `close` conversion to bytes

[2018-05-18 05:26] Lukasa commented on #232
Hoping to open the beta repo today.

[2018-05-18 20:52] fadi-botros commented on #410
You could check the pull request again, there is a new commit
#414

@weissi

[2018-05-19 12:39] pushkarnk opened #417 "New assertion failure seen with 1.7.0"
In Kitura-NIO, we have a test where we try to bind two servers to the same port (without setting `SO_REUSEPORT` to 1) and make sure the second bind fails! With 1.7.0, I see a new assertion failure while trying to bind the second server.

Here's the repro test:

[code]

Output with 1.6.1:
`bind(descriptor:ptr:bytes:) failed: Address already in use (errno: 98)`

Output with 1.7.0:
`Assertion failed:

[2018-05-19 14:33] Lukasa commented on #417
Huh. @weissi has been looking at this area most recently, and we have two PRs open that should entirely resolve this error: #415 and #413. Hopefully @weissi will be able to diagnose why exactly the channel is leaking before we land #415, which would prevent it leaking altogether.

[2018-05-19 15:50] mura-admin opened #418 "UN"
### Expected behavior
_[what you expected to happen]_

### Actual behavior
_[what actually happened]_

### Steps to reproduce

1. ...
2. ...

### If possible, minimal yet complete reproducer code (or URL to code)

_[anything to help us reproducing the issue]_

### SwiftNIO version/commit hash

_[the SwiftNIO tag/commit hash]_

### Swift & OS version (output of `swift --version && uname -a`)

[2018-05-19 16:20] agnosticdev commented on #271
I took a first attempt at this with PR#419: https://github.com/apple/swift-nio/pull/419

[2018-05-19 16:25] Lukasa commented on #418
What line in our source code hits this?

[2018-05-19 16:35] mura-admin commented on #418
The compiler hits an assertion and doesn't appear to give any further info as to the source. From a comment in the swift compiler bug report it suggests that it originates from this pull request: https://github.com/apple/swift-nio/pull/374.

[2018-05-19 16:38] Lukasa commented on #418
Let me see if I can reproduce with the most recent 4.2 toolchain from swift.org.

[2018-05-19 17:00] Lukasa commented on #418
Him, I haven't been able to successfully work around this. I can definitely reproduce it, but haven't successfully worked around it. I'll take in @weissi on Monday.

[2018-05-19 19:49] weissi commented on #418
@mura-admin Thanks for reporting! @mura-admin / @Lukasa yes, that's a known Swift 4.2 bug and I contacted the Swift team, it'll be fixed very soon. It's this bug: https://bugs.swift.org/browse/SR-6963 . There's a workaround that I'll put in if not fixed early next week because it's annoying.

[2018-05-19 20:25] Lukasa commented on #418
I tried that, and was unable to get that to work.

[2018-05-19 20:34] weissi commented on #418
@mura-admin / @Lukasa this works: https://github.com/apple/swift-nio/pull/420

[2018-05-19 20:48] weissi commented on #417
Thanks very much @pushkarnk for your report! Indeed, I’ll finish my PRs on Monday and then we should be all good here.

[2018-05-21 17:33] weissi opened #422 "HTTPDecoder: inline data for upgrades not currently supported"
### Expected behavior

- extra inline data for HTTP upgrades will be delivered through the pipeline after the upgrade has succeeded

### Actual behavior

- assertion hit
- even when removing the assertion: data lost

### Steps to reproduce

apply this patch and run test

[code]

### If possible, minimal yet complete reproducer code (or URL to code)

see above

### SwiftNIO version/commit hash

mas

[2018-05-21 18:03] weissi commented on #417
@pushkarnk yes, so #413 fixes that but I added your specific repro as a test case too. thank you!

[2018-05-22 10:29] #417 closed

[2018-05-22 14:19] Lukasa opened #426 "Add method to `EventLoop` that is to `EventLoop.submit` as `Future.then` is to `Future.map`."
Currently `EventLoop.submit` is defined like this: `func submit<T>(_ task: @escaping () throws -> T) -> EventLoopFuture<T>`.

The problem here is that `T` may be `EventLoopFuture<U>`. In this instance, you end up with `EventLoopFuture<EventLoopFuture<U>>` as the return type of `submit`, and double futures are annoying to work with.

It would be very helpful to have a method that can deal with this

[2018-05-22 14:19] Lukasa commented on #426
Whoever does this should also clean up the workarounds from #424.

[2018-05-22 16:17] weissi opened #428 "flaky EchoServerClientTest.testPendingReadProcessedAfterWriteError"
I got this in docker for `master`, currently `80363d9d8c1c572d228350ea87132bfa49c8ca03`
[code]

[2018-05-23 03:29] pushkarnk commented on #417
Thanks for the fix, @weissi !

[2018-05-23 07:26] weissi commented on #428
hit that again

[2018-05-23 08:08] weissi opened #429 "flaky testPortNumbers"
on macOS (virtualised) this test seems to fail every now and then
[code]

NIO.ChannelError error 0 should be this guy

[code]

so `connectPending` 🤔

[2018-05-23 08:35] Lukasa commented on #429
Given the output, which indicates this is an uncaught error, this can only happen on this line:

https://github.com/apple/swift-nio/blob/80363d9d8c1c572d228350ea87132bfa49c8ca03/Tests/NIOTests/EchoServerClientTest.swift#L770-L771

That's the only line with a `try` not surrounded by a `catch` or an `XCTAssertNoThrow`.

[2018-05-23 08:38] Lukasa commented on #429
However, `connectPending` is simply not a possible error there, so I just don't believe that that's the error we're seeing.

[2018-05-23 08:40] weissi commented on #429
@Lukasa yes I was wondering if that might be that problem where the `Error` to `NSError` bridging loses the error number. But last time I checked it then always went for code `1` not `0`...
But we should keep in mind that might be the wrong error code.

[2018-05-23 08:45] Lukasa commented on #429
I'm running this test in a `while true` inside Xcode to see if I can trigger the failure and so far it's passing.

[2018-05-23 08:46] weissi commented on #429
@Lukasa you might want to change the `try` to `try!` just to be sure XCTest isn't holding the errors up until the test "finishes"

[2018-05-23 09:09] Lukasa commented on #429
@weissi It can't, it's an un-wrapped `try` so it'll throw all the way out of the test. The test should fail immediately. I've been running it for 30 minutes now and still no failure locally.

[2018-05-23 09:14] normanmaurer commented on #429
@Lukasa famous last words 🤣 "works on my machine"

[2018-05-23 09:15] normanmaurer commented on #386
@tanner0101 @weissi can we close this one ?

[2018-05-23 09:22] normanmaurer commented on #429
@Lukasa was just joking ... I am also sure there must be a bug. Bullying @weissi sounds good to me :)

[2018-05-23 11:38] #422 closed

[2018-05-23 13:27] weissi commented on #386
yes for my part

[2018-05-23 13:48] #386 closed

[2018-05-23 18:54] gmosx opened #432 "numOfThreads/numberOfThreads inconsistency"
### Expected behavior

[code]

### Actual behavior

[code]

Please notice the inconsistency between `numThreads` and `numberThreads`. Also, it would be better to use the `count` name used in the standard library.

[2018-05-23 21:36] karim-elngr commented on #426
Any name suggestions for the new function?

[2018-05-23 22:44] fadi-botros opened #433 "Suggestion: Form data handler and JSON Handler"
Suggestion: We have HTTP header parsing utilities, so why not also HTTP body parsers ?
We could make it with an event driven way, like in multipart form data for example: when a full field header is encountered, it would be passed through the channel pipeline, then its value should be sent as chunked buffers. Also in JSON, each token should be passed to the channel pipeline.

[2018-05-24 00:10] karim-elngr opened #434 "flaky testHTTPUpgradeTestCase.testUpgradeWithUpgradePayloadInlineWithRequestWorks (in docker)"
### Expected behavior
all tests should pass

### Actual behavior
The following test case fails
[code]

### Steps to reproduce

1.  ```git clone https://github.com/apple/swift-nio.git```
2. ``` docker-compose -f docker/docker-compose.yaml -f docker/docker-compose.1604.41.yaml run test```

### Software

MacOS High Sierra 10.13.4 (17E202)
Docker Version 18.04.0-ce-mac62 (23965)
Channel: edge
Compose:

[2018-05-24 06:33] normanmaurer commented on #433
Honestly I think its a bit out of scope for swift-nio directly but could just be something that is provided as an "extension" by the community. @Lukasa @weissi let me know what you think

[2018-05-24 07:28] Lukasa commented on #433
Agreed, I think this is out of scope for NIO. The core implementation will contain header parsers for whatever the HTTP implementation itself needs to understand, but shouldn’t contain more than that.

In general, modularity is good: we should let the community implement these things without running them all through our release and review schedules.

[2018-05-24 07:28] #433 closed

[2018-05-24 09:30] normanmaurer commented on #432
@Lukasa @weissi WDYT... I am also ok with `count` but I think `numberThreads` or `numThreads` are a bit more descriptive... At least we should make it consistent :)

[2018-05-24 10:45] weissi commented on #433
agreed.

[2018-05-24 10:47] weissi commented on #432
I think that's a fair enough issue and I think we should fix `numThreads` at least. Whether the parameters should be `threadCount:` or `numberOfThreads:` or something can be bikeshed I don't really mind

[2018-05-24 10:53] weissi opened #436 "integration test that checks the amount of allocated memory for a high number of connections"
So far we have integration tests that test the following two things:

- we don't allocate more often for a connection, http request, writing stuff to a `ByteBuffer` etc
- we don't leak any memory after doing the same operations

That's great but on top of that it would be good to see the memory usage for say 100, 1000, and maybe 10000 connections and make sure we don't regress there.

Potential pr

[2018-05-24 11:03] weissi commented on #428
dupe of #246

[2018-05-24 11:03] #428 closed

[2018-05-24 11:52] weissi commented on #382
this is fixed. Just ran the test over 400 times in a loop and it didn't fail once. Previously it'd fail about every three to four times.

[2018-05-24 11:52] #382 closed

[2018-05-24 14:22] weissi opened #439 "testFailedRegistrationOfAcceptedSocket flaky"
hit this in virtualised macOS

[code]

the `NIO.ChannelError error 0` is almost certainly wrong. It will be a `ChannelError` but I very much doubt error code 0 as any relevance.

[2018-05-24 14:24] weissi opened #440 "testCloseFutureNotifiedBeforeUnblock flaky"
hit this failure in `testCloseFutureNotifiedBeforeUnblock` in virtualised macOS

[code]

the `NIO.IOError` type will be correct but `error 1` is a red herring, it could be any errno due to [SR-7652](https://bugs.swift.org/browse/SR-7652).

[2018-05-24 17:02] gmosx commented on #432
I don't mind `numberOfThreads` but I think `numThreads` should be renamed.

[2018-05-24 17:20] weissi commented on #434
@karim-elngr thank you. It does work for me so I guess this is a flaky test or does it repro 100% for you?

[code]

marking as flaky test

[2018-05-24 17:22] weissi commented on #434
CC @normanmaurer , this is the new test, right?

[2018-05-24 18:05] weissi commented on #434
@normanmaurer ok, let me fix this test it's actually not acurate as the two bytes could come in one channel read.

[2018-05-25 07:30] #434 closed

[2018-05-25 07:45] weissi commented on #303
@vlm are you happy with closing this, we have Swift bugs for [TSan not working with swift.org provided toolchains (ST-7764)](https://bugs.swift.org/browse/SR-7764) and [TSan not working on Linux (SR-7582)](https://bugs.swift.org/browse/SR-7582).

[2018-05-25 15:37] #432 closed

[2018-05-26 13:46] gmosx opened #446 "HTTPRequestHead.uri is not really a URI"
### Expected behavior

`HTTPRequestHead.uri` should return the full request URI.

### Actual behavior

`HTTPRequestHead.uri` returns just the path component of the URI.

[2018-05-26 14:09] Lukasa commented on #446
Sure it is. 😀

What it is not guaranteed to be is a *fully-qualified* URI, but that’s ok, for a few reasons.

1. It is not generally possible for a HTTP server to reconstruct the absolute request URI requested by the client. Scheme and host are not necessarily transmitted losslesssly.
2. `HTTPRequestHead.uri` represents a specific thing. Specifically, it represents one of the three components of w

[2018-05-26 14:09] #446 closed

[2018-05-26 21:53] helje5 commented on #446
From [RFC 2616](https://www.w3.org/Protocols/rfc2616/rfc2616-sec5.html):

So in a way you are right, it is "not really a URI", it is a HTTP Request-URI. Including stuff like `OPTIONS *` or `CONNECT blub:443`.

I don't know, maybe that should be an enum, but I guess it is not worth it at this level and rarely useful.

[2018-05-26 21:55] Lukasa commented on #446
I'm open to considering changing the name to `.target` in a future 2.0 release, but I don't think there's any need to change the behaviour of the property as it currently stands. :smile:

[2018-05-26 22:10] helje5 commented on #446
One needs to be careful not to break this, e.g. those are different things obviously:

    GET http://facebook.com/gdrp.html HTTP/1.1
    Host: amp.google:443

and

    GET /gdrp.html HTTP/1.1
    Host: facebook.com:443

I wouldn't call it `target`, `uri` is fine, maybe `requestURI` would be better. The only thing I consider wrong in the current API is that this is a String (i.e. something which a

[2018-05-27 06:28] gmosx commented on #446
Hmm, seems `path` is not a good name either. I guess, to be fully aligned with the latest RFC, we could use `target` but I think uri is good enough.

[2018-05-28 09:04] gmosx opened #448 "Consider adding HTTP Cookie helper methods to HTTPHeaders"
### Expected behavior

It would be useful if the `HTTPHeaders` struct provided a couple of Cookie-related helpers, e.g. something like:

[code]

what do you think?

[2018-05-28 09:14] Lukasa commented on #448
I think I’m -1 on this, at least in NIO core.

The protocol level of HTTP doesn’t know anything about cookies. That means that cookie knowledge is unnecessary for NIO itself. Given that we want NIO to be a low-level tool, I think we should leave utilities like this up to the community.

[2018-05-28 09:15] normanmaurer commented on #448
@Lukasa I agree... I think this should be done in an "extension project"

[2018-05-28 09:45] gmosx commented on #448
Sounds reasonable.

I will add the extension to my little 'experiment': https://github.com/reizu/swift-nitro

[2018-05-28 09:45] #448 closed

[2018-05-28 19:11] weissi opened #449 "testBootstrapsCallInitializersOnCorrectEventLoop flaky"
virtualised macOS

[code]

[2018-05-29 00:17] azav opened #450 "NIOHTTP1Server dynamic handlers are sticky."
### Expected behavior
After starting NIOHTTP1Server from the console, returned results from the published end points often return data for another end point.

### Actual behavior
Return expected values.

### Steps to reproduce

1. Connect to the proper directory and run NIOHTTP1Server from the terminal using this
swift run NIOHTTP1Server localhost 9990
2. In Safari, visit the endpoints listed belo

[2018-05-29 00:26] azav opened #451 "If a port is used, NIOHTTP1Server will not run. If it is stopped, it still will not run."
### Expected behavior
Find and echo the available port or return gracefully

### Actual behavior
htdocs = /dev/null/
Fatal error: Error raised at top level: bind(descriptor:ptr:bytes:) failed: Address already in use (errno: 48) : file /BuildRoot/Library/Caches/com.apple.xbs/Sources/swiftlang/swiftlang-900.0.74.1/src/swift/stdlib/public/core/ErrorType.swift, line 187
Illegal instruction: 4

### Ste

[2018-05-29 07:13] Lukasa commented on #450
Yeah, this is an issue with NIOHTTP1Server that I've known for a long time.

The problem is with this code:

https://github.com/apple/swift-nio/blob/25c6cd5982ae0d83092b2bb3a6e160bdc450c72e/Sources/NIOHTTP1Server/main.swift#L396-L405

Specifically, this code will attach a dynamic handler to handle a request, and once such a handler is attached it will keep passing request data to that handler unti

[2018-05-29 07:19] Lukasa commented on #451
This is behaving as expected. You raised two notes: binding to the same port, and ctrl-z. Let's address them in turn.

NIOHTTP1Server does not set `SO_REUSEPORT`. This means it is not possible to bind two processes to the same port. This is rather on purpose: as a simple example server, there is no point in having `SO_REUSEPORT` enabled, and it has subtle strange behaviours on some operating syste

[2018-05-29 07:19] #451 closed

[2018-05-29 10:33] weissi commented on #153
we have a good example now in [`swift-nio-extras`](https://github.com/apple/swift-nio-extras) more specifically in https://github.com/apple/swift-nio-extras/blob/master/Sources/HTTPServerWithQuiescingDemo/main.swift

@Lukasa would you like to see more to close this issue?

[2018-05-29 11:14] Lukasa commented on #153
Nope, works for me for now.

[2018-05-29 11:14] #153 closed

[2018-05-30 10:23] Lukasa opened #452 "Invalid assertion in BaseSocketChannel.swift"
`BaseSocketChannel` currently contains the following assertion in `readEOF`:

https://github.com/apple/swift-nio/blob/25c6cd5982ae0d83092b2bb3a6e160bdc450c72e/Sources/NIO/BaseSocketChannel.swift#L866-L869

This assertion essentially states that we only receive `readEOF` if we are active, or if we are not in any of the registered states (e.g. we are already closed). The reason for this is that we d

[2018-05-31 08:42] JasonXJKJ opened #455 "How can i get udp data"
my code
[code]
I user client to sent data, but no data from the client was received

[2018-05-31 08:56] #455 closed

[2018-05-31 08:59] JasonXJKJ commented on #455
Need to use DatagramBootstrap

[2018-06-01 00:40] kylebrowning commented on #232
@Lukasa Im sorry to have made you say a date!

Cant wait for this so I can use it for new push notifications setup.

[2018-06-01 14:21] weissi commented on #452
fixed by #453

[2018-06-01 14:21] #452 closed

[2018-06-01 14:27] weissi commented on #409
fixed when #412 was merged

[2018-06-01 14:27] #409 closed

[2018-06-01 16:34] gmosx opened #457 "Could you add an example of handling an HTTP POST request?"
### Expected behavior

An example of handling an HTTP POST request would be really useful.

[2018-06-01 16:40] gmosx opened #458 "Can a ChannelHandler trigger an early exit from a ChannelPipeline"
### Expected behavior

I would like to have an AuthenticationHandler as a first stage (ChannelnboundHandler) in a ChannelPipeline. If the authentication check fails I would like to return an error response and skip the evaluation of the remaining handlers in the pipeline.

I would be nice if the documentation could be amended with some example for such use cases.

[2018-06-01 17:12] Lukasa commented on #458
As this is more of a question than anything else, I think [the forum question](https://forums.swift.org/t/can-a-channelhandler-trigger-an-early-exit-from-a-channelpipeline/13102) covers it.

[2018-06-01 17:12] #458 closed

[2018-06-01 18:01] gmosx commented on #458
Added it here because last time I was asked to file issues for documentation improvements.

[2018-06-01 18:35] Lukasa commented on #458
Sure, but the API docs do already mention this on the various protocol methods. The question is only whether we need a specific example to call this out in narrative documentation, which I don’t think we do to be honest.

[2018-06-01 19:47] gmosx opened #459 "ByteBuffer doesn't follow Swift naming conventions"
### Expected behavior

[code]

### Actual behavior

[code]

I believe `readableBytes` is especially confusing (I would expect it returns an array/collection of bytes)

[2018-06-01 19:47] helje5 commented on #458
I guess a higher level overview with some real world examples would be nice. But I guess we have to wait until @normanmaurer writes the Setty 2.0 book ;-)

[2018-06-01 19:48] normanmaurer commented on #458
@helje5 lol... I am almost sure I will never ever write a book again ;)

[2018-06-01 19:54] ianpartridge commented on #458
Everyone I've ever spoken to who has written a technical book has told me that, @normanmaurer 😉

[2018-06-03 07:58] gmosx opened #465 "Please provide a WebSocket client example"
### Expected behavior

It would be great to have an example for a WebSocket client (or even an HTTP client
 for that matter)

[2018-06-04 23:44] weissi opened #469 "don't fatal error when hitting file descriptor related limits"
currently we `fatalError` when we hit a maximum number of file descriptors. We should let the application code handle that.

[2018-06-05 02:11] woodcrust opened #470 "NIOWebSocketServer crash when sending message from JS to server"
### Expected behavior
I expected to receive a message

### Actual behavior
I do not received a message

### Steps to reproduce

1. start web socket server with command eg swift run webSocketSwiftNIO 127.0.0.1 9889
2. connect to server from your browser in console
var socket = new WebSocket("ws://127.0.0.1:9889/websocket");
or
var socket = new WebSocket("ws://127.0.0.1:9889");
3. socket.send("11111

[2018-06-06 16:57] #470 closed

[2018-06-08 16:18] #271 closed

[2018-06-08 16:31] Lukasa opened #473 "Line-delimited frame decoder"
It may be helpful to have a generic `ChannelInboundHandler` that can decode line-delimited protocols. That is, a protocol that looks like this:

[code]

This should be split into three separate messages, each containing a `ByteBuffer` that contains only the line (stripped of line endings).

[2018-06-08 16:34] Lukasa opened #474 "Length-delimited frame decoder."
It would be useful to have a general `ChannelInboundHandler` that can decode a length-delimited framing protocol. This is a protocol that has messages prefixed with an encoding of their length.

Such a protocol would look like this:

[code]

The simplest version of this would be one that uses a fixed-width integer.

For now we won't bother with varint support.

[2018-06-08 16:34] normanmaurer opened #475 "Add a LoggingHandler"
Netty provides a [LoggingHandler](https://github.com/netty/netty/blob/4.1/handler/src/main/java/io/netty/handler/logging/LoggingHandler.java) which is quite useful to understand what's passed through pipeline.

I would be nice if NIO could provide something similar.

[2018-06-08 16:35] Lukasa opened #476 "Length-delimited frame encoder"
A pair with #474: a `ChannelOutboundHandler` that receives `ByteBuffer` messages and sends a small `ByteBuffer` before them containing the length of that buffer in the appropriate fixed width integer form.

[2018-06-08 16:36] normanmaurer commented on #473
See https://github.com/netty/netty/blob/4.1/codec/src/main/java/io/netty/handler/codec/DelimiterBasedFrameDecoder.java and https://github.com/netty/netty/blob/4.1/codec/src/main/java/io/netty/handler/codec/LineBasedFrameDecoder.java

[2018-06-08 16:37] normanmaurer commented on #474
See https://github.com/netty/netty/blob/4.1/codec/src/main/java/io/netty/handler/codec/FixedLengthFrameDecoder.java

[2018-06-08 16:38] normanmaurer commented on #476
See https://github.com/netty/netty/blob/4.1/codec/src/main/java/io/netty/handler/codec/LengthFieldPrepender.java

[2018-06-08 22:29] BasThomas opened #477 "Add documentation to generate an xcodeproj"
### Expected behavior
Add instructions on how to generate an `xcodeproj` to work on SwiftNIO from Xcode.

### Actual behavior
There is no documentation I can find on how to do this.

### How to proceed
We can generate an `xcodeproj` with SwiftPM:

[code]

We probably want to add this in the [Getting Started](https://github.com/apple/swift-nio#getting-started) part of the README.

[2018-06-08 23:20] jshier commented on #475
I've written a first pass at such a handler:

<details>
<summary>LoggingHandler.swift</summary>
[code]
</details>

What would the next steps be here? What kind of tests should I add for this? Does everyone like the naming?

[2018-06-09 02:18] Lukasa commented on #475
I think this looks great. For testing you mostly want to validate that this invokes the handler with correct arguments in all the relevant cases. I think the name should maybe be changed to `PipelineDebugLoggingHandler` just to indicate that it's not a generalised solution for application logging.

[2018-06-09 02:33] Lukasa commented on #477
Resolved by #478.

[2018-06-09 02:33] #477 closed

[2018-06-09 02:35] Lukasa opened #482 "Not possible to create a `ByteBufferView` of all bytes in a `ByteBuffer`."
A `ByteBufferView` over all bytes in a `ByteBuffer` hits this precondition:

https://github.com/apple/swift-nio/blob/7de79882fb0b74016bef0dc2cfbd170e4df58ded/Sources/NIO/ByteBuffer-views.swift#L27-L30

Specifically, because `Range` is open at the top, `upperBound` may be equal to `capacity`. This precondition incorrectly forbids that.

[2018-06-09 04:13] BasThomas opened #483 "Revisiting (local) abbreviated variable naming"
I was talking about this with @jshier and we were of the opinion that changing abbreviations to their complete words can help prevent misunderstandings as well as improve general comprehensibility.

Things like `ctx` instead of `context`, for example.

Thoughts?

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-06-09 04:14] Lukasa commented on #483
In general while I’m sympathetic to this, the code churn is high. For stuff in purely local scope we may take the patch, for anything in an API I think we’d prefer not to for now.

[2018-06-09 04:18] BasThomas commented on #483
That sounds reasonable. Any specific reasons or ideas on why you’ve been using abbreviations in the first place?

[2018-06-09 19:48] MrMage commented on #474
FYI, length-prefixed messages are also used in the gRPC protocol (see https://github.com/grpc/grpc/blob/master/doc/PROTOCOL-HTTP2.md). So with minor modifications this might also be helpful for a gRPC implementation on top of NIO-HTTP2 (see https://github.com/MrMage/grpc-swift/blob/4dd2609483a59c64ea67e622587ec6a9dff09f97/Tests/SwiftGRPCNIOTests/EchoServerTests.swift#L61 for my experiments with th

[2018-06-12 15:12] #482 closed

[2018-06-12 17:23] #450 closed

[2018-06-12 17:33] normanmaurer commented on #469
@weissi can you tell me where exactly you see this ? As far as I can tell we allow the user to handle it when accepting connections.

[2018-06-12 19:45] weissi commented on #469
@normanmaurer that was feedback from @vlm that I wrote up badly during a meeting :)

[2018-06-13 18:40] Lukasa opened #487 "Should unhandled userOutboundEvents have their promises succeed or fail?"
Currently `BaseSocketChannel` will succeed the promise for a `userOutboundEvent` that is not handled by the pipeline:

https://github.com/apple/swift-nio/blob/29d6bf029ae12e5bf7b289ce596cc50f66d041d1/Sources/NIO/BaseSocketChannel.swift#L812-L814

I wanted to ask whether that was actually a sensible behaviour. My gut says that we probably should *fail* events that make it that far, on the grounds t

[2018-06-13 18:42] normanmaurer commented on #487
Yeah I think we should fail... Not sure if `unsupportedOperation` is a good error tho.

[2018-06-22 21:29] woodcrust opened #489 "channel.write(buffer).wait() is locking up a thread"
### Expected behavior
I expected that my code is not going to be frozen when I am trying to call wait() on the write method

### Actual behavior
wait method called from write method is locking up the thread

Is that a bug or a my mistake ?

### Steps to reproduce
[code]
and for example the print method inside this callback function of _whenComplete method inside the wait method can not be call

fi

[2018-06-23 06:01] Lukasa commented on #489
That’s your mistake. [As stated in the documentation](https://apple.github.io/swift-nio/docs/current/NIO/Classes/EventLoopFuture.html#/s:3NIO15EventLoopFutureC4waitxyKF), `wait` blocks the thread until the `Future`resolves.

Unfortunately there is currently no stack-switching model for Swift, which means that the way you need to do concurrent programming is with callbacks.

[2018-06-23 06:01] #489 closed

[2018-06-23 08:34] woodcrust commented on #489
I understand that `wait()` will to block a thread. I do not understand why `writeAndFlush(buffer)` method can be resolved in the future, but `write(buffer)` will never be resolved.
### This code blocks a thread forever
[code]

Please, tell me why?

[2018-06-23 09:21] helje5 commented on #489
The `write` promise will only resolve when the data is actually written to the socket. Calling `write` only *enqueues* the buffer for writing. The actual writing happens, when you call `flush` (and even that asynchronously).

So in your example you enqueue a buffer and then wait for it to be written out. But that will never happen, because the channel is never flushed. Because *you* block the thre

[2018-06-23 09:35] babakhanov commented on #489
@helje5 how can I call `flush` after `write` if `write` blocks thread forever?

[2018-06-23 09:41] Lukasa commented on #489
You are right.

@babakhanov Like this:

[code]

Of course, in this simple case where you want to do one write and then immediately flush, just use `writeAndFlush`: that's what it's there for. If you're doing multiple, just save the future off and wait on it *after* the flush.

[2018-06-23 09:45] woodcrust commented on #489
@Lukasa now I understand how it works, thanks you very much

[2018-06-23 18:25] gavrilaf opened #490 "No console output when run NIOHTTP1Server inside docker container"
### Context

While testing my project written with SwiftNIO, I noticed that no console logs when I run server inside docker container. I've tried to run test NIOHTTP1Server and got the same result.

### Expected behavior

NIOHTTP1Server should print debug messages to the console when running inside docker container.

### Actual behavior

Console after run NIOHTTP1Server through docker-compose

[co

[2018-06-23 18:51] Lukasa commented on #490
Is there anything in `docker logs` for that container?

[2018-06-23 19:56] gavrilaf commented on #490
The same with console output, nothing new

Eugens-MacBook-Pro:swift-nio eugenf$ docker ps
CONTAINER ID        IMAGE               COMMAND                  CREATED             STATUS              PORTS                    NAMES
c81a5923307f        swift-nio:default   "/bin/bash -cl 'swif…"   39 seconds ago      Up 50 seconds       0.0.0.0:8888->8888/tcp   docker_http_1
Eugens-MacBook-Pro:swift-nio e

[2018-06-23 19:58] gavrilaf commented on #490
But.. If I comment line

// This will never unblock as we don't close the ServerChannel
// try channel.closeFuture.wait()

Server didn't work in this case of course.
But I got output:

http_1               | Linking ./.build/x86_64-unknown-linux/debug/NIOHTTP1Server
http_1               | htdocs = /dev/null/
http_1               | Server started and listening on [IPv4]0.0.0.0:8888, htdocs path /de

[2018-06-24 11:28] Lukasa commented on #490
Oh interesting, good catch. I wonder if this is a buffering issue.

[2018-06-24 11:52] Lukasa commented on #490
This is definitely a buffering issue. Adding `fflush(nil)` on the line after the print statement resolves the issue entirely. This is presumably because bash no longer believes it's attached to a tty, so stops being line-buffered and becomes fixed-size buffered instead. This is easily resolved by adding `tty: true` to the `docker-compose.yaml` for `http`.

If you feel like making a PR, it'd be gre

[2018-06-24 17:55] gavrilaf commented on #490
Cool, thank you )
I'll check and make PR.

[2018-06-25 18:22] virl opened #492 "Project is doomed because Swift has no memory model or guarantees"
Swift, compared to Java and Netty, have no well-defined memory model and memory guarantees (like Java JMM).

For example: https://bugs.swift.org/browse/SR-8101

That means that multithreading networking servers such as this project can never reach Java+Netty levels of resilience and reliability.

[2018-06-25 18:48] helje5 commented on #492
Given that the far majority of the servers on the Interwebs are written in C (Apache, NGINX, OpenResty, Cyrus, Dovecot, Postfix, Samba, Exchange, PostgreSQL, MySQL, Redis, etc etc etc etc etc) I guess the project will be fine wrt that specific issue.
And given that it uses no GC, you'll have less OOM crashes. (is it April 1st already again?)

[2018-06-25 18:54] virl commented on #492
@helje5 Erm, so you want this project to have the same reliability/security as projects written in C? I guess it's too bad for the project then, especially if it positions itself as Netty alternative.

GC can't lead to OOM, excessive memory usage is. Because OutOfMemoryException in Java is always thrown after GC is free all possible memory.

[2018-06-25 19:31] BasThomas commented on #492
There will be [a memory ownership model](https://github.com/apple/swift-evolution#primary-focus-abi-stability) in the future though :)

[2018-06-25 19:39] virl commented on #492
@BasThomas This ownership model doesn't solve these multithreading issues, it just implements Rust-style reference counting.

[2018-06-25 20:09] Lukasa commented on #492
@virl Doomed? Cool, that takes the pressure off then. 👍

More seriously, it’s without question the case that Swift’s absence of a memory model limits us, but such a problem is solvable in time. The different memory safety rules to Java are just that: different. There are benefits to each approach, just as there are costs.

It’s a big wide world, and the programming language ecosystem is not “zero

[2018-06-25 20:09] #492 closed

[2018-06-26 03:29] #490 closed

[2018-06-28 08:35] Lukasa opened #495 "EventLoops should be harder to leak."
Right now, it is pretty easy to leak an `EventLoop`: just submit any work to the loop after the loop has been closed. As the `SelectableEventLoop` has no way to reject that work, that work will sit in the queue forever, holding a `Promise` which holds a `Future` which holds a reference to the event loop. Extremely not good.

This is made more troublesome because all work items in the `SelectableEv

[2018-06-28 17:08] FranzBusch commented on #495
Just some minor notes. Every work on the `SelectableEventLoop` is actually a `ScheduledTask` which is a `private` class and does not actually create a retain cycle as far as I can see. I think there are two problems here:

1. `SelectableEventLoop` is still accepting work after it's closed
2. `Scheduled` holding a reference to a promise which holds a future which holds the `EventLoop`

Some ideas o

[2018-07-02 08:36] pushkarnk opened #497 "Iterating over event loops of an EventLoopGroup"
Can we have an iterator over the event loops of an  event loop group?

This came up during the implementation of a perf improvement suggestion I received on `Kitura-NIO`. We'd want to initialise a `ThreadSpecificVariable` on every event loop of the event group, update it periodically (using a repeating `Scheduled` task) and read from it when needed. The `on every event loop of the event loop group

[2018-07-02 09:07] Lukasa commented on #497
This is a nice idea. I’d be fine with this.

[2018-07-02 10:10] normanmaurer commented on #497
@pushkarnk @Lukasa sounds like a good idea... For what it worth we also have the same in Netty (at least something similar).

[2018-07-03 10:54] pushkarnk commented on #497
Thanks @Lukasa and @normanmaurer !

I tried to implement the iterator on `EventLoopGroup` but we ran into the `Protocol EventLoopGroup can only be used as a generic constraint`error. Working around this will be a big change, I reckon.
Also, with only `EventLoopGroup.next()` which actually provides an infinite stream of `EventLoop`s, it doesn't seem possible to write a stopping condition. `EventLoo

[2018-07-03 11:28] Lukasa commented on #497
`EventLoop` is a class-bound protocol, so the end condition can be defined in terms of object identity I think.

Rather than conform `EventLoopGroup` to `Sequence`, why not instead create an object that can wrap an `EventLoopGroup` and conform it that way? That avoids the redundant conformances but still lets you avoid some of the overhead of making the protocol itself provide the iterator.

[2018-07-03 13:02] helje5 opened #498 "Run CI against Linux-ARMv7 Community CIs"
Swift itself now runs against the CI against ARMv7 Debian: [Swift Community-Hosted Continuous Integration](https://swift.org/blog/swift-community-hosted-ci/).
Would be cool if that could also be somehow used to test NIO on ARMv7. If needed I can hook you up with the guy hosting the ARM build farm.

P.S.: Looks like there will also be a CI for ARM "big iron" (w/ ARM64v8): https://github.com/apple/s

[2018-07-03 13:15] helje5 opened #499 "ByteBuffer uses `UInt` for `Capacity`, but `Int` internally"
Separated out of #486, ByteBuffer-core.swift has this:
[code]
where `Capacity` is
[code]
This can fail on 32-bit platforms where `Int` cannot hold any `UInt32` value (e.g. 0xDEADBEEF). Apparently the `Int` is used because of:
[code]

TBD: What should be used here. Maybe `size_t`? That would be better, but theoretically it would still break ByteBuffer on platforms where`size_t` is less than `UInt32

[2018-07-03 16:53] pushkarnk commented on #497
Thanks for the suggestions @Lukasa ! I've created https://github.com/apple/swift-nio/pull/500

[2018-07-04 20:58] weissi opened #502 "ContiguousCollection has a withUnsafeBytes method that is misnamed"
ContiguousCollection has a `withUnsafeBytes` method but in reality it doesn't give access to the bytes but the elements so it should be named `withUnsafePointer`. Currently we only use it with `UInt8` where `withUnsafeBytes` isn't actually wrong, but still...

[2018-07-04 21:01] weissi commented on #499
ha, that's fun. We chose `Int` indeed as that's what Swift usually does and indeed [`UnsafeBufferPointer`'s `count` property](https://developer.apple.com/documentation/swift/unsafebufferpointer/1538692-init) is of type `Int`...

@lorenty/@airspeedswift/@moiseev what do you propose?

[2018-07-05 16:44] lorentey commented on #499
I think the most pragmatic approach is to limit counts and sizes to values that fit in a signed integer. (>=2GiB buffers are probably unlikely to occur in practice on 32-bit platforms, anyway.)

[2018-07-05 17:17] weissi commented on #499
I'm happy with saying that `ByteBuffer` supports 2GB on 32bit and 4GB on 64bit, @Lukasa  & @normanmaurer ?

[2018-07-05 17:54] helje5 commented on #499
I think a current Raspi comes with 1gb and usually no swap. In other words: I agree, 2gb is enough for everybody.

[2018-07-05 18:11] Lukasa commented on #499
No objection from me.

[2018-07-06 19:15] fadi-botros opened #505 "Question: Would we support client-side NIO on iOS ? If so, we should adopt Cocoapods and Carthage"
Competitors of iOS are focusing on `async` and concurrency on low number of threads. So, what about adopting Cocoapods (or at least, make a cocoapod that has only the client parts of SwiftNIO).

Also this could facilitate making IoT apps on iOS, and would augment the chances of iOS to overcome its competitors.

But this may also not mean only making cocoapod, but also we need solid ARM support

[2018-07-06 19:35] helje5 commented on #505
You are mixing more than one topic here. It is already announced that NIO will gain Network.framework support, no?
Or is this just about adding Cocoapods support?
How would any of this „facilitate making IoT apps on iOS“?

[2018-07-07 08:52] weissi commented on #505
Correct, SwiftNIO’s Network.framework support will be available shortly.

[2018-07-07 14:29] carumusan opened #506 "HTTPDecoder may crash if added to multiple channels, deliberately or not."
### Expected behavior

Not to produce an EXC_BAD_ACCESS

### Actual behavior

[code]
### Steps to reproduce

Buffer contents:

(lldb) po bufferSlice.readString(length: 166)
▿ Optional<String>
  - some : "HTTP/1.1 101 Switching Protocols\r\nDate: Sat, 07 Jul 2018 14:07:41 GMT\r\nConnection: upgrade\r\nSec-WebSocket-Accept: KXCK+WbSaeoIR4K6RxA2LEFBiwQ=\r\nUpgrade: WebSocket\r\n\r\n"

Occurs when rec

[2018-07-07 18:31] Lukasa commented on #506
Can you run your code with Thread Sanitizer turned on and print the results? I’m inclined to believe there is a thread safety problem here.

[2018-07-07 19:42] carumusan commented on #506
Nothing apparent after turning on Thread Sanitizer or enabling zombie objects. I'm calling HTTPClient.websocket here: [WebSocket+Client.swift](https://github.com/vapor/websocket/blob/master/Sources/WebSocket/WebSocket%2BClient.swift) which in turn calls [HTTPClientProtocolUpgrader.swift](https://github.com/vapor/http/blob/master/Sources/HTTP/Responder/HTTPClientProtocolUpgrader.swift)

[2018-07-08 00:43] carumusan commented on #506
Sample SwiftPM project: https://github.com/carumusan/swift-nio-exc-error. Compiled with latest XCode beta and macOS mojave it errors on the upgrade response for me.

[2018-07-08 03:03] abhishek7 commented on #406
@Lukasa I'm happy to give this a try if this is still outstanding.

[2018-07-08 07:50] Lukasa commented on #406
I believe it is.

[2018-07-08 10:21] Lukasa commented on #506
Cool, so I can reproduce this. Not 100% of the time, but if I run the binary a few times it definitely reproduces.

The crash is odd. It's coming in `swift_unknownRetain` called from `evacuateChannelHandlerContext`. Historically we've seen some crashes here that are to do with seeing excess data delivered to the HTTP parser, but this does not appear to be the issue here, not least because we've la

[2018-07-08 10:36] Lukasa commented on #506
Got it.

[2018-07-08 10:56] Lukasa commented on #506
So this is a Vapor bug, but it isn't entirely obvious and we really need to add a fix on our end to make doing this a severe error (probably immediately close the channel, maybe just call it a fatal error).

What Vapor is doing is adding the *same* `HTTPDecoder` to multiple channels. The misbehaving function is here:

https://github.com/vapor/http/blob/8123ea00e9858b369cd168d0303d33e7d3804d19/Sour

[2018-07-08 11:09] Lukasa commented on #506
The question is, @jw, is it worth us trying to police this? We'll need to add an `EmbeddedAtomic<Bool>` into our `HTTPDecoder` and use that to track the state. Is it worth it?

[2018-07-09 08:13] normanmaurer commented on #506
@Lukasa @weissi  in netty we require the user to use an annotation to explicitly mark a `ChannelHandler` as safe to be used multiple times. If this is not provided we fail when the user tries to insert it again. Maybe we should do something similar here ?

[2018-07-09 08:18] Lukasa commented on #506
What kind of annotation do you have in mind, and how would we implement it? We could use a tag protocol I suppose, but that requires that something external to the handler police this, and I don't know how we could do that.

[2018-07-09 09:54] Lukasa commented on #506
Just chatted with @weissi.

I'm going to split this into two issues that are more broadly focused than just HTTPDecoder.

[2018-07-09 09:54] #506 closed

[2018-07-09 09:56] Lukasa opened #507 "ChannelHandlers should not automatically be assumed to be safe to use concurrently in multiple channels."
Related to #506.

Right now it's assumed that all `ChannelHandler` objects are safe to use from multiple channels, and requires user intervention to make the code assert otherwise. We should come up with a scheme that allows us to enforce this, and also use something like a tag protocol to require that users explicitly state if the channel handler is safe to use from multiple channels.

Any change

[2018-07-09 10:31] Lukasa opened #508 "Happy Eyeballs should not initialise multiple channels."
Related to #506.

A surprising fact of the way `ClientBootstrap` behaves is that it may call the `channelInitializer` multiple times. This is because it creates multiple channels and races them to establish the connection.

We made this decision because `connect` operates on `SocketAddress` objects, which are specific IP/port pairs. There may be multiple of these during one connection to a hostnam

[2018-07-09 10:33] #320 closed

[2018-07-10 12:27] weissi opened #510 "NIOTests.EchoServerClientTest testWriteOnAccept flaky"
have seen this only once, in CI on macOS

[code]

[2018-07-12 06:58] #350 closed

[2018-07-13 10:48] weissi commented on #246
better diagnostics for this in #512

[2018-07-13 10:48] weissi commented on #429
better diagnostics for this in #512

[2018-07-13 10:48] weissi commented on #439
better diagnostics for this in #512

[2018-07-13 10:48] weissi commented on #440
better diagnostics for this in #512

[2018-07-13 10:48] weissi commented on #449
better diagnostics for this in #512

[2018-07-13 10:48] weissi commented on #510
better diagnostics for this in #512

[2018-07-13 16:09] weissi opened #514 "pass the `RepeatedTask` to its closure"
when a `RepeatedTask` invokes its closure the user might want to cancel the `RepeatedTask`. Doing that is pretty error-prone without being handed the `RepeatedTask` itself. We should fix this before 1.9.0 gets released.

CC @FranzBusch

[2018-07-13 16:10] weissi commented on #514
cc @Lukasa

[2018-07-13 16:11] FranzBusch commented on #514
I will implement this weekend.

[2018-07-14 09:04] weissi commented on #439
Now with better diagnostics

[code]

[2018-07-16 08:46] gmosx commented on #215
If I am only interesting in writing to the destination address do I still need to bind to a local address?

[2018-07-16 09:48] Lukasa commented on #215
Currently SwiftNIO does require that, though you can bind port 0 and address `0.0.0.0` or `::` to get the desired behaviour.

[2018-07-16 09:58] gmosx commented on #215
OK, thanks fo the info.
It would be great to mention this in the docs!

[2018-07-16 12:03] kirilltitov opened #518 "Probable deadlock when requesting self"
### Expected behavior
I develop a distributed backend application which may at some point send TCP request to self (using BlueSocket library from IBM-Kitura). I expect all requests to succeed, including loopback ones.

### Actual behavior
When application requests self using BlueSocket, it stops responding at all. It accepts new TCP connections, but does not react in any way. BlueSocket is stuck a

[2018-07-16 12:16] Lukasa commented on #518
Rule number one of SwiftNIO is that you must not block the event loop, but unfortunately your code does exactly that. The error is in [the `send` function](https://bitbucket.org/kirilltitov/testdrive/src/b1a364b16251aa976dd533267fcf7bf83e7458fc/Sources/TestDrive/main.swift?at=master&fileviewer=file-view-default#main.swift-30:38), which you [call from inside a `ChannelHandler`](https://bitbucket.or

[2018-07-16 12:16] #518 closed

[2018-07-16 12:20] nethraravindran opened #519 "Failure in WebSocket protocol upgrade"
`Upgrade` header for a web socket upgrade request can either have `Websocket` or `websocket` as its value.

Upgrade request with ```Websocket``` protocol fails because  the supported protocol is ```websocket```.

However the protocol names should be case-insensitive for the `HTTPServerUpgradeHandler` to handle the upgrade request

[2018-07-16 12:30] kirilltitov commented on #518
Thank you so much for such a detailed answer! I was considering migrating from BlueSocket to NIO (minus one dependency, you know). Now I see that this is a move I should've done in the first place.

Is it ok to use same `MultiThreadedEventLoopGroup` for both server and client in the same runtime?

[2018-07-16 12:42] Lukasa commented on #518
It's not just ok, it's often encouraged. Unless you have a particularly deep insight into your application workload, it's generally a good idea to use relatively few event loop groups.

[2018-07-16 12:43] normanmaurer commented on #518
Yes that’s ok

[2018-07-16 13:31] Lukasa commented on #518
There is, but you need to be careful.

`EventLoopFuture` provides a `wait()` method you can call. That will block the calling thread until the future is resolved, and then provide the result. This is synchronous.

However, as with BlueSocket, you must *never* call `wait` from on the event loop. This is because synchronous waiting always blocks the calling thread, and if that's an event loop thread

[2018-07-16 13:32] kirilltitov commented on #518
Oh, I was asking in context of NIO socket client :)

[2018-07-16 13:34] Lukasa commented on #518
If you are in a NIO event loop, then anything that does I/O must not be a synchronous call.

[2018-07-17 15:08] Lukasa commented on #514
Resolved by #515.

[2018-07-17 15:08] #514 closed

[2018-07-18 14:37] kirilltitov commented on #518
Got it working, thank you all for help! There is one thing that bothers me in code snippet, that you provided, @Lukasa. Basically, in `whenSuccess` callback we capture `self` which is `ServerHandler` instance, and it won't be deallocated until promise resolved. I don't quite get the mechanics. `whenSuccess` returns immediately, as well as whole method execution. Say, `promise` takes some time to r

[2018-07-18 19:19] Lukasa commented on #505
Our Network.framework support is [now available](https://github.com/apple/swift-nio-transport-services).

[2018-07-18 19:19] #505 closed

[2018-07-20 18:32] DylanLukes opened #522 "buffer.readableBytesView always fails precondition on first read."
### Expected behavior

`readableBytesView`'s precondition to not always fail on first read.

### Actual behavior

`readableBytesView`'s precondition always fails on the first read.

### Steps to reproduce

On first read, call `buffer.readableBytesView`.

### Reproduction Code

[code]

Why this fails:

`readableBytesView` constructs a `ByteBufferView` over the range:

[code]

However, `ByteBufferVi

[2018-07-20 18:33] DylanLukes commented on #522
Upon going to submit a PR, this appears to be fixed on master already.

👍

[2018-07-20 18:33] #522 closed

[2018-07-20 18:39] Lukasa commented on #522
Thanks for the thought though @DylanLukes!

[2018-07-20 18:40] DylanLukes commented on #522
No problem. If you don't mind me asking, what is the estimated roadmap/timeframe for a `1.9.0` tag? I can depend on `master` for now as I'm only using NIO in a personal project, but that's a risky proposition in general.

[2018-07-22 20:41] weissi commented on #519
fixed in #520

[2018-07-22 20:41] #519 closed

[2018-07-22 20:45] weissi opened #523 "internal Socket protocol should use Unsafe(Mutable)RawBufferPointer instead of UnsafePointer<UInt8> and size"
The `Socket` protocol is one of the oldest bits of NIO code and uses legacy type-signatures like

    func write(pointer: UnsafePointer<UInt8>, size: Int) throws -> IOResult<Int>
    func read(pointer: UnsafeMutablePointer<UInt8>, size: Int) throws -> IOResult<Int>

and others. These should be

    func write(from: UnsafeRawBufferPointer) throws -> IOResult<Int>
    func read(into: UnsafeMutableRa

[2018-07-23 07:32] Lukasa commented on #522
Sometime in the next two weeks I suspect.

[2018-07-24 20:07] fadi-botros commented on #507
What about using the reference count itself ??? If the ChannelHandler isn't used except as a parameter to the "addToPipeline" function, so we could atomically check the reference count (well, checking the reference count may not be available in Swift), or

we could make a wrapper that wraps the `ChannelHandler` and not permit using it directly, this wrapper could be like that

[code]

[code]

[cod

[2018-07-25 10:04] Lukasa commented on #507
We can't use the reference count, sadly, because holding a ref to the channel handler outside the only channel to which it is added is not unreasonable: it's a common pattern in tests at the very least.

The atomic is definitely possible, but it's a bit less clear to me whether it's the best way to handle it.

[2018-07-27 09:51] pushkarnk opened #527 "NIOWebSocket could let users handle protocol errors"
### Expected behavior
When the WebSocketFrameDecoder flags a WebSocket error, it must be possible for the user to handle it.

### Actual behavior
The WebSocketFrameDecoder does some error handling in [handleError](https://github.com/apple/swift-nio/blob/master/Sources/NIOWebSocket/WebSocketFrameDecoder.swift#L304). This doesn't permit any kind of error handling on the user's side, in the `errorCau

[2018-07-27 09:53] pushkarnk commented on #527
cc @Lukasa

[2018-07-27 09:54] Lukasa commented on #527
See #528.

[2018-07-29 16:15] MasterSwift opened #530 "Futures without EventLoops"
please add in ability to initialize futures without event loops.

[2018-07-29 16:16] MasterSwift commented on #530
it makes It tough when you want to mix sync and async. as much as this is a async library, you will WANT async with sync and sync with async.

[2018-07-29 16:51] Lukasa commented on #530
We cannot. 😊

NIO’s `Future` objects are event loop constructs. They make guarantees about scheduling all callbacks on a single event loop, as they are intended to be used for that purpose. As a result they *require* access to an event loop; they literally cannot function without one.

A more-general `Future` object can definitely be written, but it is not the place of NIO to provide it.

[2018-07-29 16:51] #530 closed

[2018-07-31 09:00] Lukasa opened #534 "Remove WebSocketFrameDecoder inline error handling."
Follows on from the work done in #528 for #527: we have moved the the default error handling out of `WebSocketFrameDecoder`, but had to leave the code there for backward compatibility reasons. We should remove that code now. The code is marked by a TODO.

[2018-07-31 09:27] #527 closed

[2018-07-31 11:04] weissi opened #536 "SwiftNIO should come with an async DNS resolver"
### Expected behavior

SwiftNIO should come with an asynchronous DNS resolver.

### Actual behavior

[bad](https://github.com/apple/swift-nio/blob/master/Sources/NIO/GetaddrinfoResolver.swift#L15-L23):

[code]

### Steps to reproduce

1. set your system to a DNS server that never responds
2. create a `ClientBootstrap` and `connect` to some host name
3. check (using `sample` or so) if the `EventLoo

[2018-07-31 11:38] niklassaers commented on #505
The Swift NIO cocoa pods mentioned in the question, is that available anywhere or in the works?

For my own case I've made a version of [Bolt-swift](https://github.com/Neo4j-Swift/Bolt-swift/tree/develop/swift-nio) that uses NIO + SSL instead of BlueSock as client. With BlueSock I have CocoaPods support, and I'd love to keep CocoaPods support yet using NIO

[2018-07-31 12:31] #406 closed

[2018-07-31 12:37] Lukasa commented on #505
We have not implemented any such support at this time. I think we'd merge a cocoapods spec though: we definitely would for NIOTransportServices.

[2018-07-31 13:50] Lukasa opened #537 "Deprecate and replace ByteBuffer.changeCapacity"
## The Problem

Unfortunately, `ByteBuffer.changeCapacity` is not a very good function. It has the following issues:

1. It's not clear whether users can safely use this function for shrinking the buffer as well as raising it. They can, but only if they don't try to shrink beyond the writer index, which the documentation does not mention.
2. The naming is inconsistent with Swift convention, which

[2018-07-31 14:09] Lukasa opened #538 "Make it easier to write into ByteBuffer via writable pointers."
## The Problem

Plenty of C APIs expose APIs where they write into a buffer provided by the caller. For example, consider OpenSSL's `SSL_read`, declared like this:

[code]

In this model, OpenSSL will write into the pointer at `buf`. To support this with `ByteBuffer`, the following code has to be written:

[code]

The issue here is that this call will give you a pointer to only the writable bytes

[2018-07-31 21:10] weissi commented on #449
ok, finally we have good diagnostics: It's a connect timeout:

[code]

[2018-08-01 09:49] Lukasa commented on #449
The connect timeout there is 10 seconds: that's a long damn time for this test to run.

[2018-08-01 13:47] #537 closed

[2018-08-02 09:45] mremond commented on #227
Hi, I have a bit more context on my need.

First of all, I am writing a client library, so I am adding a client handler:

[code]

Strangely, negociation is failing, with server return error "alert unknown ca"

Second point is about iOS support. What are my option if I am writing a client library for iOS ?

Thanks !

[2018-08-02 09:50] Lukasa commented on #227
Is the server attempting to authenticate your client? If it is, you'll need to add certificates etc. to your client TLS configuration.

For iOS support, if you are willing to support only iOS 12 or later then you can use [swift-nio-transport-services](https://github.com/apple/swift-nio-transport-services) to use Network.framework to provide your I/O. This does not give you STARTTLS support, so you

[2018-08-02 09:57] mremond commented on #227
Thanks !

No, the server part is not triggering authentication, so there should be an issue somewhere. I will try to gather more info.

Regarding iOS TLS, I need STARTTLS (writing a new XMPP library from scratch and this is mandatory), so I guess I need to package OpenSSL with my lib.

[2018-08-02 10:27] weissi commented on #510
better diagnostics didn't help

[code]

[2018-08-02 10:27] Lukasa commented on #227
Ah, the error is probably not triggered on the server, it's communicated *to* the server, and the server reports that error.

You can relax this by using `TLSConfiguration.forClient(certificateVerification: .none)`.

[2018-08-02 10:28] weissi opened #548 "EventLoopTest.testScheduleRepeatedTask flaky"
[code]

CC @FranzBusch

[2018-08-02 11:15] Lukasa commented on #523
This is fixed.

[2018-08-02 11:15] #523 closed

[2018-08-02 11:16] Lukasa commented on #497
Fixed in 1.9.0.

[2018-08-02 11:16] #497 closed

[2018-08-02 11:59] mremond commented on #227
ah yes, sorry, I missed that obvious way of tweaking this.

Any idea how I could get the error from the client ?
I do not seem to have errorCaught triggered, only channelInactive saying when connection is closed.

[2018-08-02 15:08] Lukasa commented on #227
If the handshake is failing, we absolutely should be firing an error before we get `channelInactive`.

[2018-08-02 15:21] mremond commented on #227
Yes, strange. I have been spending sometime checking the code path and it seems this line of code does not call the next handler errorCaught function:

https://github.com/apple/swift-nio-ssl/blob/master/Sources/NIOOpenSSL/OpenSSLHandler.swift#L211

The pipeline is correctly set and in right order (I guess, the SSL one is first) and as the inactive function is call, I guess it propagate fine.

I co

[2018-08-03 09:50] mremond commented on #227
Trying to debug it, it feels that it does execute `errorCaught0` on `BaseSocketChannel` implementation. Indeed, this one does nothing.

[2018-08-03 09:51] Lukasa commented on #227
`errorCaught0` does do nothing: if you want the error you need to insert a channel handler to catch it.

[2018-08-03 09:54] mremond commented on #227
I already have errorCaught function on my main ChannelInboundHandler and I am adding the OpenSSLClientHandler in front, so I expected my main ChannelHandler error to be trigger.
I think I am indeed doing something wrong, but not sure yet what I am missing.

[2018-08-03 09:55] Lukasa commented on #227
Are you sure the `errorCaught` function definitely matches the signature required by the protocol?

[2018-08-03 10:12] mremond commented on #227
yes, but it definitely looks likes it is falling back to the default protocol implementation, so there should be something wrong in my code.
I am using an older version of the framework, so I also guess I should update my code for the latest version to avoid discrepancies.

 I will dig more and keep you posted.
Thanks for your help !

[2018-08-03 10:39] helje5 commented on #227
Blind guess:

In Swift that usually is a sign that you adopt a protocol in a superclass which doesn't implement an extension method. Like so:

[code]
This will print "default" (unexpectedly for many people).

[2018-08-03 12:57] mremond commented on #227
I tracked it down to the `Error` name being overriden in my library namespace.
The signature looked the same, but the error was not actually `Swift.Error`.

I will rename properly the Error type to avoid conflict in the future.

XMPP.Error had been handy for the consuming library but is a time bomb for the library maintainers.

Thanks for your help tracking this down. I confirm that Swift-NIO prop

[2018-08-03 12:57] #227 closed

[2018-08-03 16:41] helje5 commented on #227
Ah right, yes. This is actually pretty common in Swift code, lotsa people do this. I resorted to explicitly typing `Swift.Error` if that is meant.

[2018-08-06 15:38] weissi commented on #548
hit that again

[code]

in here: https://ci.swiftnio.io/job/swift-nio-master-410-prb/414/console

[2018-08-06 16:48] weissi opened #554 "test testScheduleRepeatedTaskCancelFromDifferentThread flaky"
https://ci.swiftnio.io/job/swift-nio-master-410-prb/416/console :

[code]

so we crash in testScheduleRepeatedTaskCancelFromDifferentThread

[2018-08-06 16:48] weissi commented on #554
CC @FranzBusch  too

[2018-08-06 17:03] weissi commented on #548
ok, I identified the race condition for this, working on a fix.

[2018-08-06 17:03] weissi commented on #548
ok, I identified the race condition for this, working on a fix.

[2018-08-06 17:03] weissi commented on #554
ok, I identified the race condition for this, working on a fix.

[2018-08-07 06:59] #554 closed

[2018-08-07 06:59] #548 closed

[2018-08-07 11:43] weissi opened #556 "testLazyRegistrationWorksForClientSockets flaky"
hit this in virtualised macOS

[code]

must be these lines of code:

[code]

[2018-08-07 17:49] #410 closed

[2018-08-09 13:07] weissi opened #563 "integration test test_21_connection_reset_tcp.sh flaky"
happened [in CI](https://ci.swiftnio.io/job/swift-nio-master-403-prb/445/console) on

[code]

so that's Swift 4.0.3 on Ubuntu 14.04

[code]

the test claims we have leaked an fd, namely

[code]

this looks odd, don't think it's actually leaked. Maybe racy? [This article](https://idea.popcount.org/2012-12-09-lsof-cant-identify-protocol/) suggests we might have leaked a half-closed socket. Should de

[2018-08-09 15:09] weissi commented on #563
hmm, just ran this

[code]

in docker, also Ubuntu 14.04, also Swift 4.0.3 and got no failures in 941 runs...

[2018-08-10 09:58] weissi opened #565 "EventLoopTest.testScheduleRepeatedTaskToNotRetainRepeatedTask flaky"
in docker

[code]

I think we already have a helper that allows some time until a weak variable becomes `nil`.

[2018-08-10 12:01] Lukasa commented on #563
Looks like we [hit this again](https://ci.swiftnio.io/job/swift-nio-master-410-prb/456/console).

[2018-08-10 19:28] TannerJuby01 opened #570 "Use of unresolved identifier `WebSocketProtocolErrorHandler`"
https://github.com/apple/swift-nio/blob/131f378d95cd548118a1da3dea249b10b427cbee/Sources/NIOWebSocket/WebSocketUpgrader.swift#L155

After updating running `swift package update` I am receiving the error `Use of unresolved identifier 'WebSocketProtocolErrorHandler'` in using this package in Vapor projects.

[2018-08-10 19:43] Lukasa commented on #570
That’s weird, the class is right here: https://github.com/apple/swift-nio/blob/131f378d95cd548118a1da3dea249b10b427cbee/Sources/NIOWebSocket/WebSocketProtocolErrorHandler.swift

[2018-08-10 19:44] Lukasa commented on #570
Does it occur even when you build with SwiftPM from the command line?

[2018-08-10 20:00] TannerJuby01 commented on #570
Strangely enough, I found out that the file existed in the file structure, but it does not get added to the Xcode project upon generation of the Vapor project. Don't know if this would be due to a `Package.swift` issue in the swift-nio target, or due to Vapor's Xcode project generator.

[2018-08-10 20:18] Lukasa commented on #570
Does it occur with `swift package generate-xcodeproj`?

[2018-08-11 06:30] #570 closed

[2018-08-13 09:32] weissi commented on #449
latest results with even more debugging info:

[code]

[2018-08-13 11:12] 0xTim opened #571 "BlockingIOThreadPool does not shut its threads down on deinit"
When the last reference to a `BlockingIOThreadPool` is lost, it is not gracefully shut down, causing its worker queues to live essentially forever despite the fact that no further work can ever be submitted to them. While this is a minor issue in most cases, in certain situations (unit testing being the most obvious) it can lead to thread exhaustion unless a higher abstraction layer takes care to

[2018-08-14 17:39] weissi commented on #563
and again: https://ci.swiftnio.io/job/swift-nio-master-403-prb/470/console

[2018-08-14 17:43] weissi commented on #563
oddly enough, we start the HTTP server with `NIOHTTP1Server --disable-half-closure 127.0.0.1 0 /tmp/.swift-nio-http1-server-sh-tests_pFmvym/test.tmp_379qXm/htdocs` which should mean there are not half-closed sockets...

[2018-08-16 06:42] pushkarnk opened #577 "More detailed WebSocket upgrade errors"
`WebSocketUpgrader.buildUpgradeResponse` throws an `invalidUpgradeHeader` error in three cases:
1. The `Sec-WebSocket-Key` or `Sec-WebSocket-Version` headers are absent
2. The `Sec-WebSocket-Key` or `Sec-WebSocket-Version`  headers have multiple values
3. The `Sec-WebSocket-Version` value is not 13

A caller that catches this error, has no way to determine which one of the three cases caused the e

[2018-08-16 09:44] Lukasa commented on #577
Ah, actually, the first option doesn't work, as we have no pipeline context with which to return the additional errors.

[2018-08-16 10:13] Lukasa commented on #577
Ok, I think a flag on `init` is bad. So let's re-evaluate.

To get this to work *today*, @pushkarnk, you can write a small delegate object like this:

[code]

The code could be cleaned up slightly, but this would basically work. This gives you a special-case upgrader that delegates its behaviour to the backing upgrader but transforms the errors where necessary. It should be the easiest thing to do

[2018-08-16 10:15] Lukasa commented on #577
For 2.0 I think we need to remove this error enum and replace it with the error pattern we've been using elsewhere involving protocols and structs. We also then obviously need to address the lack of granularity in this error.

[2018-08-16 12:27] weissi commented on #577
@Lukasa I agree with everything you said really but maybe instead of a flag for init, we could maybe

- deprecate the old init (and make it set an `self.newErrorStyle = false`)
- deprecate the old error itself
- make up a new init (and make it set `self.newErrorStyle = true`)
- in case of error we check the `newErrorStyleFlag` and propagate the appropriate errors

[2018-08-16 12:36] Lukasa commented on #577
Yeah, we could do that. I don't think the flag was the bit of this I liked least, really: I think my biggest problem is that it essentially becomes a boolean flag passed at one line of code to change the return value of a function at a completely different place. In essence this function just has two APIs, which is pretty sad and weird.

[2018-08-16 13:25] weissi commented on #577
@Lukasa agreed. Your call if the status quo or the flag is worse :)

[2018-08-17 05:17] pushkarnk commented on #577
Thanks @Lukasa for helping me work around this limitation!

[2018-08-17 10:39] weissi opened #581 "join the threads of the MultiThreadedEventLoopGroup when shut down"
we should use `pthread_join` on the threads of the `MultiThreadedEventLoopGroup`'s threads in the `shutdownGracefully` method.

[2018-08-19 10:27] weissi opened #584 "ByteToMessageDecoder's state should be private"
Currently, `ByteToMessageDecoder` requires the user to create a `var cumulationBuffer: ByteBuffer?`. That invites the user to directly alter this `cumulationBuffer` but in many cases that's not actually allowed (re-entrancy). Also it's impossible for us to add further state. I'd argue to create a new

    public struct ByteToMessageDecoderState {
        internal init (...) {
            [...]

[2018-08-20 07:10] Lukasa commented on #584
Yeah, this is definitely a good idea. I'm strongly in favour.

[2018-08-20 14:59] Lukasa opened #587 "Not possible to set or get non-integer socket options."
### Expected behavior

When attempting to set a socket option that does not take an integer argument, e.g. `IP_MULTICAST_IF`, I expected to be able to write code like the following:

[code]

### Actual behavior

The swift compiler gets mad:

[code]

### SwiftNIO version/commit hash

All

### Swift & OS version (output of `swift --version && uname -a`)

All

### Issue description

The core issue is

[2018-08-21 09:04] uchuugaka opened #588 "Name is silly, take Swift out of the name"
### Expected behavior
Name should be nio or NIO not SwiftNIO

### Actual behavior
Name made me cry.

### Steps to reproduce

Read it.
Get some tissue.

### If possible, minimal yet complete reproducer code (or URL to code)

https://github.com/apple/swift-nio

### SwiftNIO version/commit hash

N/A

### Swift & OS version (output of `swift --version && uname -a`)
N/A

[2018-08-21 09:04] Lukasa commented on #588
Eh, it's basically fine.

[2018-08-21 09:04] #588 closed

[2018-08-23 14:17] arukshani opened #591 "ReadMe says ChannelPipeline is not thread safe."
In the README it says "One of the important notes about ChannelPipelines is that they are not thread-safe. " is this correct? I thought channel handlers in a pipeline are threaded safe since a channel is managed by a single thread for its lifetime.

Can someone please clarify this.

Thank you.

[2018-08-23 14:31] arukshani commented on #591
Sent a PR to fix this. https://github.com/apple/swift-nio/pull/592

[2018-08-23 15:11] #591 closed

[2018-08-23 15:14] weissi opened #593 "we should drain the receive buffer on write error even if auto-read is off (probably)"
When receiving a write error, we run this code

https://github.com/apple/swift-nio/blob/5011c409bb462edb5427c9def58b03cd18bdc251/Sources/NIO/BaseSocketChannel.swift#L443-L454

which is draining the read buffer but _only_ if auto-read is enabled. That's probably not right and we should be draining the read buffer. auto-read off can never mean 'no channelRead events are ever delivered' anyway becaus

[2018-08-23 15:43] weissi commented on #563
ok, `netstat` info helps a bit here:

[code]

so the 'leaked' socket

[code]

must be one of those two

[code]

which are both in `TIME_WAIT`. So we must have closed them correctly!? Odd!

[2018-08-23 15:59] weissi commented on #593
(see also #594)

[2018-08-28 12:07] weissi opened #596 "Channel.get/setOption have an extra 'channel' parameter name"
the `Channel` API for get/setOption repeats the word 'option', should be fixed for 2.0

[code]

[2018-08-28 17:15] weissi opened #598 "make ChannelOptions Equatable"
`ChannelOptions` should be equatable, we should do this for 1.10.0. This patch should do it

[code]

[2018-08-28 18:13] weissi opened #599 "revisit hack to just ignore TCP_NODELAY on unix domain sockets"
basically we should revisit this hack: https://github.com/apple/swift-nio/pull/597/files#diff-e492dce95ef7c3d33fceeb7e0b9d211eR335.

marking this as 1.10.0 for now but it'll probably be 2.0.0

[2018-08-29 11:16] weissi opened #600 "don't make HTTPDecoder close the connection immediately on parser error"
### Expected behavior

like most NIO handlers, a random decoder in the pipeline shouldn't just close the connection. The usual mechanism is to fire an error and let later handlers in the pipeline deal with them. The `HTTPDecoder` however just [closes the connection](https://github.com/apple/swift-nio/blob/df764fedf0c7938629581ad1f61b2b4474fc66b4/Sources/NIOHTTP1/HTTPDecoder.swift#L606) on parser e

[2018-08-31 08:33] weissi opened #603 "consider changing timeouts to deadlines"
I think deadlines generally work better than timeouts. Why? Imagine for example a caller wants to have something complete in no more than 5 seconds. So for example

    doSomething(timeout: .seconds(5))

If `doSomething` kicks off the operation straight away, it's all good. However `doSomething` might need to use two other sub-systems to complete the operation. Example:

    func doSomething(timeo

[2018-09-01 12:47] weissi opened #606 "Make CI jobs for Swift 4.2 & Ubuntu 18.04"
this is for the CI jobs in Jenkins, the work to support Swift 4.2 & Ubuntu 18.04 in docker is in #604.

In total I think we need the following new CI jobs (ordered by how important @weissi thinks they are):

- [x] Swift 4.2 on Ubuntu 18.04
- [ ] Swift 4.2 on Ubuntu 16.04
- [ ] Swift 4.2 on Ubuntu 14.04

note: there are no Swift 4.0 or 4.1 binaries available for Ubuntu 18.04, hence we won't have Sw

[2018-09-01 12:59] weissi commented on #571
@0xTim ARC shouldn't be used to manage scarce resources like file descriptors and threads. Therefore I'm inclined to close this as the user is responsible to call [`shutdownGracefully`](https://apple.github.io/swift-nio/docs/current/NIO/Classes/BlockingIOThreadPool.html#/s:3NIO20BlockingIOThreadPoolC18shutdownGracefullyyys5Error_pSgcF) or [`syncShutdownGracefully`](https://apple.github.io/swift-ni

[2018-09-01 13:01] weissi commented on #499
@helje5 I think we now all agree that 2GB is enough for 32bit so I'll close this, ok?

[2018-09-01 13:02] weissi commented on #498
CC @tomerd is this something we can do?

[2018-09-01 13:03] weissi commented on #473
implemented in [`swift-nio-extras`](https://github.com/apple/swift-nio-extras/blob/master/Sources/NIOExtras/LineBasedFrameDecoder.swift)

[2018-09-01 13:03] #473 closed

[2018-09-01 13:06] weissi commented on #457
there's a few of those:

- `handleEcho` in the example NIOHTTP1Server which streams (or if called with `balloonInMemory: true` baloons it into memory) the request body back into the response body: https://github.com/apple/swift-nio/blob/master/Sources/NIOHTTP1Server/main.swift#L139-L168
- `handleInfo` which counts the number of bytes in the HTTP body: https://github.com/apple/swift-nio/blob/master

[2018-09-01 13:06] #457 closed

[2018-09-01 13:11] weissi commented on #457
@gmosx or did I misunderstand what you wanted? Please feel free to reopen with more details.

[2018-09-02 13:35] bkrpub opened #608 "NIOHTTP1Server can not serve video to Safari (Ranges: handling)"
### Expected behavior

Be able to serve video files to any major browser.

(Handling ranged requests or at least respond in a way that the browser will accept)

### Actual behavior

I have modified NIOHTTP1Server to return Content-type: video/mp4 to serve video files
from a macOS app (I would love to replace CocoaHTTPServer with swift-nio).

Firefox and Chrome do show the video, Safari (11.1 on ma

[2018-09-03 20:37] helje5 commented on #499
Sure, fine with me.

[2018-09-03 20:37] #499 closed

[2018-09-03 20:42] helje5 commented on #608
Yours responses carry multiple content-type headers? First text/plain, then video/mp4. Maybe you just need to fix that ...

[2018-09-04 10:46] bkrpub commented on #608
Oops. Thank you, seems like I had a severe case of snow blindness.
I fixed it and re-ran the test but it didn't change the result, I edited the issue accordingly.

[2018-09-08 00:50] tomerd commented on #606
added PRB for Swift 4.2 on Ubuntu 18.04

we can add the others as nightly if we think its required

[2018-09-10 10:31] weissi commented on #606
thanks @tomerd

[2018-09-10 10:31] #606 closed

[2018-09-10 19:05] jml commented on #474
Should this issue still be open, given that swift-nio-extras has a fixed-length frame decoder?

[2018-09-11 07:56] Lukasa commented on #474
I think so: this issue caused two PRs, including #484. We still want something like #484, so until that lands in swift-nio-extras we probably want to keep this open.

[2018-09-11 11:11] weissi commented on #563
got one on a different system

[code]

hope #611 will fix this

[2018-09-11 13:55] weissi commented on #608
@bkrpub SwiftNIO is really a framework to built networking libraries and applications. NIOHTTP1Server literally just serves as an example of how to deal with certain HTTP1 things (and as a server for our integration tests).
There's lots of stuff missing that would make this example a real HTTP server. For your application I would suggest using one of the existing Swift webservers that are written

[2018-09-11 21:28] helje5 commented on #608
Does any one of those frameworks actually handle the issue?

[2018-09-12 09:00] bkrpub commented on #608
I actually implemented the most simple form of range requests (only one range) by slightly extending FileRegion (to keep around the file size) and got video to work but also realized how much is missing, so basically I am done with the issue and thank you very much for the pointers.

What I would still be interested in are opinions on which HTTP implementation to use for running a server inside a

[2018-09-12 14:02] ldewailly opened #614 "IdleStateHandler should forward forward channelActive events"
### Expected behavior
If I add a `ChannelInboundHandler` after a `IdleStateHandler`, I'd expect to receive the `channelActive` event in my handler

### Actual behavior
`channelActive(ctx)` is never invoked on the channel inbound handler.

### Steps to reproduce

Create a pipeline as illustrated below and establish a connection. The second handler doesn't receive the `channelActive` event

### If p

[2018-09-12 16:19] #608 closed

[2018-09-12 17:37] normanmaurer commented on #614
@ldewailly PTAL https://github.com/apple/swift-nio/pull/615

[2018-09-12 23:31] helje5 commented on #608
SwiftNIO? http://www.alwaysrightinstitute.com/nio-on-the-client/

[2018-09-13 07:09] #614 closed

[2018-09-18 11:30] weissi commented on #563
I think this got quite a bit better now, will close in a week or two.

[2018-09-19 14:25] weissi opened #617 "WebSocketOpcode should be improved for 2.0"
`WebSocketOpcode` is defined like this:

[code]

which looks like there's no way to create an illegal `WebSocketOpcode` but in reality it's super easy: `WebSocketOpcode.unknownNonControl(0xff)` is illegal, so is `WebSocketOpcode.unknownNonControl(0)` which looks more legal but should be `WebSocketOpcode.continuation`.

We should make the illegal states unrepresentable. Instead of `UInt8` we could

[2018-09-19 16:42] Lukasa opened #620 "Bring MulticastError and ChannelLifecycleError into ChannelError."
As `ChannelError` is an `enum` we haven't been able to expand it, but a number of related errors have popped up over time. In 2.0 we should consolidate them. The known errors are:

- `ChannelLifecycleError`
- `MulticastError`

[2018-09-25 10:30] weissi opened #624 "testPassingInvalidSizeToSetComplexSocketOptionFails flaky"
weird 'out of memory' failure in virtualised macOS

[code]

CC'ing @Lukasa

[2018-09-28 13:28] #624 closed

[2018-10-05 15:04] weissi opened #628 "documentation https link doesn't work"
### Expected behavior
- https://docs.swiftnio.io works
### Actual behavior
just hangs

### Steps to reproduce

1. open https://docs.swiftnio.io

### further info:

[code]

[2018-10-05 15:12] fumoboy007 commented on #603
FWIW, Go also uses deadlines. [`context.WithTimeout`](https://golang.org/pkg/context/#WithTimeout) simply wraps `context.WithDeadline`.

[2018-10-05 15:15] fumoboy007 commented on #603
Also, some protocols such as [TChannel](https://github.com/uber/tchannel/blob/master/docs/protocol.md) use deadlines and the deadline of the inbound request is expected to be reused for outbound requests.

[2018-10-05 18:14] AlanQuatermain commented on #603
I think this sounds like a good idea. Generally speaking the caller of an API is expecting it to function in this way, and I've often found myself (as an API implementor) converting the timeout to a hard date as the first thing I do within a function, ready to pass the resulting deadline to other pieces as necessary (and I've hit the corresponding bugs when I failed to do so).

FWIW, I think there