[2019-11-11 12:12] #1232 closed

[2019-11-11 12:24] richardalow commented on #1216
Unfortunately the proposed solution won't work, at least with the existing implementation of `CircularBuffer`. `CircularBuffer`'s underlying storage is `ContiguousArray<Element?>` so direct copying can't be used (the underlying memory has interleaved bytes to indicate present/nil).

However, a very significant speedup can be made by allowing specialization. The current `CircularBuffer._setSlowPath

[2019-11-11 12:26] weissi commented on #1216
thanks for the awesome explanation @richardalow !

[2019-11-11 13:40] Lukasa opened #1234 "Add _withContiguousStorageIfAvailable implementation to WebSocketMaskingKey"
We write `WebSocketMaskingKey` objects into ByteBuffers all the time, but we don't have any support for writing them via the fast path. We should expose that fast-path by implementing `_withContiguousStorageIfAvailable`.

/cc @richardalow

[2019-11-11 16:56] richardalow commented on #1216
I didn't mark the above PR as fixing this as strictly it doesn't, but do we want to close anyway @Lukasa?

[2019-11-11 21:48] Lukasa commented on #1216
Yup, I think this is covered. Thanks!

[2019-11-11 21:48] #1216 closed

[2019-11-12 14:27] #1223 closed

[2019-11-12 17:59] #1234 closed

[2019-11-13 09:24] weissi opened #1239 "switch to SwiftPM's `swift package experimental-api-diff`"
Ideally, the `check_no_api_breakages.sh` script should use `swift package experimental-api-diff 2.0.0` that is present in _very new_ Swift nightlies to do its job. Then it will no longer need to enumerate the modules etc.

CC @aciidb0mb3r

[2019-11-13 11:00] clementprem commented on #1128
Still happening in 11.2

[2019-11-13 18:21] Csloan7597 opened #1243 "Example in docs for ByteToMessageDecoderVerifier.verifyDecoder is incorrect"
The example in [the docs for this function](https://apple.github.io/swift-nio/docs/current/NIOTestUtils/Enums/ByteToMessageDecoderVerifier.html#/s:12NIOTestUtils28ByteToMessageDecoderVerifierO06verifyF016inputOutputPairs14decoderFactoryySay3NIO0C6BufferV_Say10InboundOutQzGtG_xyctKAG0cdeF0RzSQAKRQlFZ) supplies an argument which does not match the function's signature. The example won't compile.

[c

[2019-11-13 18:27] weissi commented on #1243
thank you for the report @Csloan7597

[2019-11-13 20:46] weissi opened #1247 "analyse & fix small perf regressions from 5.0 to 5.1 in String writing"
see how the latest two builds (those are 5.1) are up from 5.0?

<img width="450" alt="Screenshot 2019-11-13 at 7 15 01 pm" src="https://user-images.githubusercontent.com/624238/68802813-8c5bc500-0656-11ea-90a3-0322ec1f5d0f.png">
<img width="477" alt="Screenshot 2019-11-13 at 7 14 07 pm" src="https://user-images.githubusercontent.com/624238/68802819-91207900-0656-11ea-9f02-25287350ceff.png">

We ne

[2019-11-13 20:47] weissi opened #1248 "analyse & fix small perf regressions from 5.0 to 5.1 in the futures impl"
last two builds are worse and those are 5.1

![getPlot](https://user-images.githubusercontent.com/624238/68802924-c75df880-0656-11ea-973c-c7ebebc6abe9.png)

this could be a good ticket for @glbrntt and/or @Davidde94 to start looking into using `perf` on Linux.

[2019-11-14 12:20] Lukasa opened #1249 "TimeAmount constructors generate suboptimal code."
The `TimeAmount` struct has several static constructors to generate a `TimeAmount` in many units. For example:

[code]

Unfortunately this leads to suboptimal codegen because Swift needs an overflow check at each multiplication stage.

We can improve this by adding some parentheses:

[code]

This will lead to much better codegen.

[2019-11-14 12:22] Lukasa commented on #1249
See: https://swift.godbolt.org/z/QP7S6N

[2019-11-18 15:10] weissi commented on #1249
fixed by #1250

[2019-11-18 15:10] #1249 closed

[2019-11-20 01:58] liuxuan30 opened #1254 "Dash docset is not working"
When trying to add Dash docset on https://apple.github.io/swift-nio/docs/2.10.1/docsets/NIO.xml

Dash 4.6.6 always says
![image](https://user-images.githubusercontent.com/4375169/69202340-5483de80-0b7c-11ea-8015-96b6e37672c5.png)

[2019-11-20 06:34] liuxuan30 opened #1255 "Is it possible to wait for and get the result of a UDP response using NIO promise and future?"
I'm fairly new to NIO and promise/future, and trying to pracise to develop a framework or tool to interact with a remote-control toy which has a built-in UDP server. Imagine when the WIFI signal is poor, the command could timeout or take longer to execute.

The purpose is that I could send a 'command' to the UDP server, and the UDP server will return the executed result, or timeout.
[code]
I have

[2019-11-20 08:32] Lukasa commented on #1254
So the path to the docset is supposed to be https://apple.github.io/swift-nio/docs/2.10.1/NIO/docsets/NIO.xml. However, it seems that the docset URL is not quite right, because that docset won't work: it doesn't realise what its correct path is.

[2019-11-20 08:37] Lukasa commented on #1254
Specifically the contents of the xml file at that path are:

[code]

Note that the URL there is again going to 404 because it is missing the module name. So that suggests an issue in the generation process itself.

[2019-11-20 08:52] liuxuan30 commented on #1255
After looking at massive examples, I found https://github.com/apple/swift-nio-examples/blob/master/http2-client/Sources/http2-client/main.swift seems giving an idea is to have a responsePromise.

I managed to write something like:
[code]
and in the handler:
[code]
though there are some ugly try! future.wait(), this seems a minimum working prototype.

So could any expert share some best practise ar

[2019-11-20 08:53] Lukasa commented on #1255
Yes, there are some ways to do this.

In the simplest case, if you are going to send one UDP message and get one UDP message back, you can use the [`RequestResponseHandler`](https://github.com/apple/swift-nio-extras/blob/master/Sources/NIOExtras/RequestResponseHandler.swift) from swift-nio-extras. You'd use it like this:

[code]

However, if you have a slightly more complex system then this gets h

[2019-11-20 08:56] liuxuan30 commented on #1255
ah thanks @Lukasa for this `extra`. Do you mind to take a look at my https://github.com/apple/swift-nio/issues/1255#issuecomment-555904421

[2019-11-20 09:22] Lukasa commented on #1254
Thanks for the report, see #1256.

[2019-11-20 09:24] AMatecki opened #1257 "Library Evolution support"
Hi, I'm using SwiftNIO 2.10.1 as a library attached to tvOS app's UI test to provide mocked backend. Since I'm distributing it as a framework I would really like not to have it rebuild with every new Swift version. To have it working SwiftNIO would have to support Library Evolution. I tried turning it on, but had a lot of errors like this:
`'let' property '_storage' may not be initialized directly

[2019-11-20 09:26] weissi commented on #1257
@AMatecki are you exporting SwiftNIO types or functions as public API in _your framework_?

I would assume no and if that's the case, can you try `@_implementationOnly import NIO`?

We will still have a look into why it fails to compile.

[2019-11-20 09:36] AMatecki commented on #1257
Thanks for your suggestion, I'm new to working with Swift libraries, didn't knew about `@_implementationOnly`. Unfortunately I'm exporting some types from SwiftNIO, so I can't compile with `@_implementationOnly`.

[2019-11-20 09:40] weissi commented on #1257
@AMatecki Right. So right now, SwiftNIO's primary and only distribution mechanism is as a SwiftPM package and SwiftPM right now only supports source distribution. SwiftNIO also doesn't guarantee an ABI because in a source-only world, having an ABI guarantee doesn't mean much because everybody will recompile every time.

Are you making an `.xcodeproj` from SwiftNIO or are you depending on SwiftNIO

[2019-11-20 09:48] AMatecki commented on #1257
My library was created before Xcode's SPM support, so I'm creating .xcodeproj from command line. I could include SwiftNIO package to my testing target, but it would complicate my project's build pipeline, so I prefer to attach it as a framework. Would including it using Xcode change anything?

[2019-11-20 10:53] weissi commented on #1257
@AMatecki just to be clear: What you're doing is unsupported but given that you're using it in tests that may be fine. It's unsupported because you're relying on a stable binary interface (ABI) for a source-only package that is only guaranteeing stable APIs. This will only work if you're recompiling everything whenever you update SwiftNIO. So updates of the SwiftNIO containing framework _without_

[2019-11-20 11:33] AMatecki commented on #1257
Thanks for a very detailed answer. My usage of SwiftNIO is pretty limited and controlled mainly by myself, so I'll try going with Not Recommended point 2. In case of any issues I can always try going with Pretty Recommended. Actually Recommended is also doable, but I don't want to change our build pipeline just for minor convenience related to UI tests

[2019-11-20 11:51] weissi commented on #1257
@AMatecki sounds great! Just to be sure: If you were to use Xcode's package support you shouldn't need to change anything in your build pipeline. `xcodebuild test` should just work and automatically check out SwiftNIO from github. So assuming that your builder has github.com access it should work. But 'not recommended point 2' should work too, let us know how it goes :)

[2019-11-20 12:26] AMatecki commented on #1257
We're using a fork this tool for generating `.xcodeproj`:
https://github.com/yonaskolb/XcodeGen
That's why I can't add SPM package without additional work. I'll let you know if point 2 works for me

[2019-11-20 12:32] weissi commented on #1257
@AMatecki got it, thank you!

[2019-11-20 14:14] liuxuan30 commented on #1255
besides, can we reuse promise as a class member?

[2019-11-20 14:16] Lukasa commented on #1255
Promises can only complete once. You need a new promise for every message you'd like to receive.

[2019-11-20 14:43] liuxuan30 commented on #1255
Thanks! I think I have my answer.

Last but not least before closing, is there any better place to ask questions? Like Stack overflow? Not sure if SO can have answers in time. But your support here is amazing!

[2019-11-20 14:44] Lukasa commented on #1255
The Swift forums is probably the best place: we have a label there that we pay pretty decent attention to.

[2019-11-20 14:49] #1255 closed

[2019-11-20 15:06] 2bjake commented on #1039
I'm interested in doing this one but I need more detail.

Is the idea that ```Atomic``` would still use ```UnsafeEmbeddedAtomic``` but the space for the underlying atomic is allocated by ```Atomic.init``` and stored as a property?

One way I could imagine doing this is have ```Atomic.init``` make the ```T.atomic_create(value)``` call and pass the result to a new ```UnsafeEmbeddedAtomic.init(pointe

[2019-11-20 15:14] liuxuan30 commented on #1255
@Lukasa sorry, but I am confusing about what you said

in your exmaple  https://github.com/apple/swift-nio-examples/blob/master/http2-client/Sources/http2-client/main.swift

there is `responseReceivedPromise` as a class member in `SendRequestHandler`. So IMO it's like reusing the promise here? I suppose only one SendRequestHandler in the pipeline, so the responseReceivedPromise is being reused.

[2019-11-20 15:15] Lukasa commented on #1255
That's correct, but a HTTP/2 client can only receive one response on a given stream, so only one promise is required. If you look at [`RequestResponseHandler`](https://github.com/apple/swift-nio-extras/blob/master/Sources/NIOExtras/RequestResponseHandler.swift) you can see an example of using new promises for every message.

[2019-11-20 15:28] liuxuan30 commented on #1255
I kind of understanding now. Sorry but this is really the last question 😂
I notice in the  RequestResponseHandler
[code]
how can I write `(request, responsePromise)` into a buffer in my `sendCommand()`? This seems the last missing puzzle.

[2019-11-20 15:35] Lukasa commented on #1255
This is just a tuple, so you can simply write it:

[code]

[2019-11-20 15:37] liuxuan30 commented on #1255
oh that's sweet, I didn't realize writeAndFlush can takes any T. Thanks so much!

[2019-11-20 17:00] weissi commented on #1039
Hi @2bjake, great to hear you're interested taking this issue.

At the moment, we need two allocations for every atomic:

1. for the [`class Atomic<T>`](https://github.com/apple/swift-nio/blob/master/Sources/NIOConcurrencyHelpers/atomics.swift#L156)
2. the [`malloc`](https://github.com/apple/swift-nio/blob/master/Sources/CNIOAtomics/src/c-atomics.c#L30) for the underlying storage

If however we wo

[2019-11-20 21:19] 2bjake commented on #1039
Thanks so much for providing this explanation. This is all new to me (which is why I wanted to tackle it!) I think I've got it now. I've got a version that is passing tests that looks like this:

[code]

Does this line up with what you were describing for option 2? Is it expected that ```FastAtomic```s would be created with a static function rather than an init?

[2019-11-21 00:02] liuxuan30 commented on #1254
NP, but I tried again on the website, clicking the dash button still gives old `https://apple.github.io/swift-nio/docs/2.10.1/docsets/NIO.xml`
If I manually copy `https://apple.github.io/swift-nio/docs/2.10.1/docsets/NIO.tgz`, it also errors as well.

With this PR merged, what's the next step to make Dash obtain this docset?

[2019-11-21 10:22] Lukasa commented on #1254
I believe we only regenerate the documentation after we issue a new tag. @tomerd is that correct?

[2019-11-21 13:14] liuxuan30 opened #1262 "syncShutdownGracefully BUG DETECTED in deinit()"
So I have implemented a controller  as a framework, and try to test it in a sample app, mostly using RequestResponseHandler in nio-extra. I'm seeing BUG Detected log in syncShutdownGracefully(), and I'm not sure if it's really a bug or my mistake.

in sample app AppDelegate.swift
[code]
in controller class:

[code]

full trace log:
[code]

from the trace, it seems:
1. the `deinit()` is called once

[2019-11-21 13:58] Lukasa commented on #1262
You must not call `EventLoopGroup.syncShutdownGracefully` from within a `deinit`. The reason or that is that `syncShutdownGracefully` will block whatever thread it is called on, and if `deinit` is invoked on an event loop thread then you are blocking a thread we are trying to close.

You should only call `syncShutdownGracefully` when your application does not need those event loops anymore. This i

[2019-11-21 13:58] #1262 closed

[2019-11-21 15:43] 2bjake commented on #1039
I've got a version that is using ```catmc_atomic_##type##_create_with_existing_storage```. The only part I'm not sure about is how to set the buffer's element type to ```T.CWrapperType```. I tried adding a CWrapper typealias to the AtomicPrimitives but the ```catmc_atomic_##type``` types aren't visible on the Swift side.

Any thoughts on how to do this?

[2019-11-21 15:57] tomerd commented on #1254
yes

[2019-11-21 16:40] 2bjake commented on #1039
Answering my own questions. :p I got this working by moving the struct definitions into the header. However, this won't be backward compatible as now the atomic methods take ```UnsafeMutablePointer<catmc_atomic_##type>``` instead of ```OpaquePointer```, which causes the ```AtomicPrimitive``` protocol to change. I guess I could create "fast" versions of all these APIs as well.

[2019-11-21 16:45] weissi commented on #1039
@2bjake this looks awesome! I think given that you won't need to change the API, couldn't `FastAtomic` now just be `Atomic`?

[2019-11-21 18:23] 2bjake commented on #1039
Unfortunately the API does change in a few places:
- The ```ManagedBufferPointer```-based ```Atomic``` class doesn't have an ```init```, it is constructed with a static function.
- The ```AtomicPrimitive``` protocol needs an ```AtomicWrapper``` (what you called ```T.CWrapperType```) associatedtype and a new ```atomic_create_with_existing_storage method``` added (these could be added to a new proto

[2019-11-22 01:43] liuxuan30 commented on #1262
Hi @Lukasa then in my case, since we usually create a drone object to play with, so we want to close the channel or shutdown the event loop only when we don't need the drone anymore, which means when the user kills the app, or crash, or into the background.

my question is, theoratically, can we not to call channel.close() or syncShutdownGracefully()? In other terms, if we don't call them, just le

[2019-11-22 02:31] bofeizhu opened #1264 "import NIOFoundationCompat or not"
I find that I can use `func readData(length: Int) -> Data?` without `import NIOFoundationCompat`. Would `import NIOFoundationCompat` make any difference?

[2019-11-22 06:35] liuxuan30 commented on #1262
besides, why should we only call syncShutdownGracefully() in main queue?

[2019-11-22 06:37] liuxuan30 commented on #1262
besides, what you mentioned

why main queue is fine then? shouldn't it be a dead lock if it blocks the main queue?

[2019-11-22 06:45] liuxuan30 commented on #1254
alright, can't wait for the next release :)

[2019-11-22 08:50] AMatecki commented on #1257
@weissi After removing `@inlinable` I was able to compile the framework with Library Evolution. However, I had a couple of errors after adding it to my tests:
<img width="1257" alt="Zrzut ekranu 2019-11-22 o 08 52 33" src="https://user-images.githubusercontent.com/6246527/69411322-0225f780-0d0d-11ea-828b-9345af95d8d4.png">
So I added `public` to those types, which forced me to mark a lot more type

[2019-11-22 10:05] fabianfett opened #1265 "Make [UInt8] to Base64 String public"
### Expected behavior

TLDR: The `String.init(base64Encoding array: Array<UInt8>)` should be public.

There is a quite simple base64 implementation in `NIOWebsocket`. I was wondering if it would make sense to move this somewhere, where it could be accessed from other packages as well? `NIOWebSocket` probably wouldn't be the best package for that, I guess.
https://github.com/apple/swift-nio/blob/ma

[2019-11-22 10:37] Lukasa commented on #1265
Thanks for this issue!

I think in general I don't want swift-nio to vend small utilities like this. I agree that having a general base-64 encode and decode function is useful, but swift-nio is not a very good place to put such a function. Given that swift-nio is permissively licensed, I would recommend taking the following steps:

1. Creating a new swift package containing the contents of that fi

[2019-11-22 10:51] #1265 closed

[2019-11-22 10:52] Lukasa commented on #1264
If you can use `readData`, someone is causing you to import `NIOFoundationCompat` without the explicit import. You should still make the explicit import yourself.

[2019-11-22 10:52] #1264 closed

[2019-11-22 10:55] Lukasa commented on #1262
No, you must call them.

They will be leaked, and you will leak the threads and any associated file descriptors. These will eventually be cleaned up when the application is terminated, but if it is only suspended then they will simply be leaked.

If the app is truly killed then yes, the OS will reap the resources. However, if your app is merely suspended that is no longer guaranteed.

Right. You a

[2019-11-22 16:31] weissi opened #1266 "number of write spins should be truly limited by writeSpinCount"
currently we don't actually limit the number of write spins by `writeSpinCount`. We only do this assuming no more writes happen whilst we're spinning.

[2019-11-23 03:31] liuxuan30 commented on #1262
@Lukasa I have done some experiments and tests today. BTW, my goal is to make this Drone class in a SDK framework to use in the app.

I'm not sure if it's a bug or my mistake during shutdown the group:
[code]

particually in
[code]
(I'm just testing the `DispatchQueue.main.sync{}` and `DispatchQueue.main.async{}` behaviour here)

in the DispatchQueue.main.sync {}, the tello/Drone object seems neve

[2019-11-25 13:39] krjw opened #1267 "How do I make the example run on my device? Simulator works."
### Expected behavior
Same behaviour as in Simulator (simple Hello World web page)

### Actual behavior
Browser says "Failed to open Page" - "Safari can't connect to server"

### Steps to reproduce

1. put this example in an iOS App (I chose SwiftUI) https://github.com/apple/swift-nio/blob/master/Sources/NIOHTTP1Server/main.swift
2. Run in Simulator -> works
3. Run on iPhone -> Doesn't work

Proba

[2019-11-25 13:49] krjw commented on #1267
I needed to bind to 0.0.0.0 not localhost. My bad! This fails on simulator though...

[2019-11-25 13:49] #1267 closed

[2019-11-25 17:13] weissi commented on #1257
@AMatecki thanks for reporting back! Glad you got it fixed, we'll try to make an effort to support this better (without making stuff `public`).

[2019-11-26 19:49] StrangeDays opened #1270 "Fatal Error: NIOAny.swift, line 101"
### Expected behavior

- Work like developed and running on OSX
- All requests work

### Actual behavior

- Fatal error: tried to decode as type Request but found Request with contents other(AsyncHTTPClient.HTTPClient.Request(method:

- Fatal error: tried to decode as type ByteBuffer but found IOData with contents other(IOData

### Steps to reproduce

Run your Server on Linux via Docker (swift:lat

[2019-11-26 21:28] weissi commented on #1270
that's a bug in async-http-client, I filed the issue over there as https://github.com/swift-server/async-http-client/issues/138

[2019-11-26 21:28] #1270 closed

[2019-11-27 10:25] #1160 closed

[2019-11-27 15:43] #1115 closed

[2019-11-27 17:55] #581 closed

[2019-11-27 19:38] weissi commented on #968
still an issue

[code]

[2019-11-28 12:15] glbrntt opened #1274 "implement _UInt24 and _Uint56 == functions"
[@weissi with George's account]

Unfortunately, because Swift likes ABI stability, the automatically derived equals functions aren't `@inlinable` and there's no syntactic place to put the `@inlinable` for us. That leads to `_UInt24` and `_UInt56`'s equals functions to be `call       $s3NIO7_UInt24V23__derived_struct_equalsySbAC_ACtFZ ; static NIO._UInt24.__derived_struct_equals(NIO._UInt24, NIO._U

[2019-11-28 12:19] glbrntt opened #1275 "use unchecked arithmetic operations in many places in CircularBuffer"
[@weissi with George's account]

CircularBuffer uses checked arithmetic (`+`, `-`) in many places where we know that an under/overflow cannot happen. We should replace those operations with `&+` and `&-` to kill all the branches/extra code of the over/underflow checking where possible safely.

[2019-12-02 13:23] MrLotU opened #1279 "Issue with NIOHTTPClientUpgradeHandler when immediatly firing write after buffered read."
In [NIOHTTPClientUpgradeHandler.swift](https://github.com/apple/swift-nio/blob/master/Sources/NIOHTTP1/NIOHTTPClientUpgradeHandler.swift#L314) data is  buffered until the upgrade is complete, and is than fired once the upgrade is done.

If you fire a `channel.write` immediatly after receiving one of those buffered `channel.read`s, NIO will error with
[code]
This is because the `write` will arrive

[2019-12-02 14:15] Lukasa commented on #1279
This is a great catch. Yeah, I think we can transition to `upgradeComplete` _last_ in that callback block, instead of first. This is an exception from our normal rules about state changes, so we should add a comment there, but that's fine.

@MrLotU do you want to write a patch for this?

[2019-12-03 00:24] liuxuan30 opened #1281 "Unit test failed and crashed under Swift Package + iOS Simulator"
Hi there,

In my framework https://github.com/liuxuan30/TelloSwift, I created swift package file and tried to run UT on macOS and iOS Simulator.

the macOS passed, however every time I ran on iOS Sim, it always crashes inside nio. Running same tests in original xcode project on both iOS and macOS passed without problem, which makes me very confused

the crash:
![image](https://user-images.githubus

[2019-12-03 10:29] weissi commented on #1281
@liuxuan30 thanks for reporting. This sounds very much like https://bugs.swift.org/browse/SR-11564 . Can you confirm the following:

- you're on Xcode 11.2.x or 11.3 beta
- this only happens on device or in simulator, _not_ on macOS
- if you set `DEAD_CODE_STRIPPING=NO` in your Xcode project then this doesn't happen either

[2019-12-03 11:32] liuxuan30 commented on #1281
Hi @weissi yes I'm on 11.2.1 from AppStore build;
This only happens on iOS simulator, **and under Swift Package xcode project**, not regular (the regular is perfectly running tests)

where to set DEAD_CODE_STRIPPING?
I set it in Swift package "Run scheme", still crashes
![image](https://user-images.githubusercontent.com/4375169/70047727-8dec2d80-1603-11ea-9bf3-edceaf4a7ad2.png)

[2019-12-03 11:34] weissi commented on #1281
@liuxuan30 you need to

1. Select your project on the left side in Xcode
2. Click on 'build settings'
3. Select the project up top
4. under "Linking", go to "Dead Code Stripping"
5. set it to "No"

[2019-12-03 11:36] weissi commented on #1281
<img width="493" alt="Screenshot 2019-12-03 at 11 36 34 am" src="https://user-images.githubusercontent.com/624238/70048001-2ad9a700-15c1-11ea-82cc-fbbfa41a7972.png">

like here, make sure that in both cases the project itself is selected

[2019-12-03 11:44] liuxuan30 commented on #1281
@weissi
Some context:
In my original Xcode project, they are YES, and the tests runs perfectly on iOS simulator;
I have set them all to NO, including the PROJECT and TARGETS, and then bring up the swift package Xcode project, it still crashes;

I think the problem is I cannot see build setting for a swift package project, there is no place to click like a regular xcodeproj:
![image](https://user-i

[2019-12-03 11:52] weissi commented on #1281
@liuxuan30 oh yes, with a Swift package I don't know how to change that. You could temporarily use the old school `swift package generate-xcodeproj` and set it there

[2019-12-03 11:55] weissi commented on #1281
@liuxuan30 another thing that may help would be this: Once it has crashed, type in the `(lldb) ` console in the bottom right:

[code]

and then attach `/tmp/crash.txt` here.

[2019-12-03 12:04] liuxuan30 commented on #1281
[crash.txt](https://github.com/apple/swift-nio/files/3916446/crash.txt)
crash text here you go

[2019-12-03 12:07] weissi commented on #1281
@liuxuan30 thanks! this is 99.9% the bug I mentioned:

[code]

we're trying to _execute_ the method descriptor which is _data_. The same happened for example in

- https://github.com/apple/swift-nio/issues/1227
- https://github.com/grpc/grpc-swift/issues/623
- https://github.com/grpc/grpc-swift/issues/605

[2019-12-03 12:13] liuxuan30 commented on #1281
sure, much appreciated your help. So we just sit tight and wait for https://bugs.swift.org/browse/SR-11564 to be fixed?

[2019-12-03 12:16] liuxuan30 commented on #1281
but one weird thing is the normal Xcode tests passed all the time, even with Dead Code Stripping is YES

[2019-12-03 12:34] weissi commented on #1281
@liuxuan30 what do you mean with 'the normal Xcode tests'? I think the bug is a bit random, it doesn't always cause an issue and it doesn't always hit the same piece of code :(

[2019-12-03 12:34] weissi commented on #1281
@liuxuan30 could you try with Xcode 11.1?

[2019-12-03 15:13] liuxuan30 commented on #1281
The normal tests means, running the exact same tests in original .xcodeproj, it passes all the time in my memory, as well as travis CI, you can check it in my project repo. But the swift package project will fail 100%

I'm not able to try 11.1 :( sorry

[2019-12-03 15:46] weissi commented on #1281
Sorry, I wasn't quite precise enough: I meant random as in it depends on the binary. With the same binary, the crash will always be the same.

Can you try this from the command line:

    cd TelloSwift # go to your checkout (where your Package.swift lives)
    xcodebuild -scheme swift-nio-Package test -destination "id=$(xcrun simctl list -j devices iPhone\ 11\ Pro\ Max available | grep udid | cut

[2019-12-04 11:37] glbrntt opened #1283 "Flaky test: testDescriptionCanBeCalledFromNonEventLoopThreads"
Swift 5.0, Ubuntu 18.04

[code]

Head of logs:

[code]

Failing test (segv):
[code]

[2019-12-04 11:56] glbrntt commented on #1283
[code]

[2019-12-04 12:02] glbrntt commented on #1283
[code]

[2019-12-04 12:03] Lukasa commented on #1283
SIGSEGV on `swift_retain` suggests a threading problem. Does running the test in release mode under TSAN reveal anything?

[2019-12-04 12:04] #1279 closed

[2019-12-04 12:05] weissi commented on #1283
@Lukasa we're just trying to repro it on 5.1 which is required for TSan. Generally however, TSan doesn't work in release mode.

[2019-12-04 15:43] Lukasa commented on #1274
Resolved by #1285.

[2019-12-04 15:43] #1274 closed

[2019-12-04 16:16] weissi opened #1286 "AtomicBox.load() suffers from ABA problem"
`AtomicBox.load()` suffers from an ABA problem where the loaded value may be dead before it gets to increase the reference count in

https://github.com/apple/swift-nio/blob/master/Sources/NIOConcurrencyHelpers/atomics.swift#L462-L466

[2019-12-04 16:16] weissi commented on #1283
real cause #1286

[2019-12-05 14:53] weissi opened #1291 "flaky test testClearWithBiggerMinimumCapacityDoesNotDupeStorageIfTheresOnlyOneBuffer"
this one just failed in macOS CI!?

[code]

[2019-12-05 14:55] weissi commented on #1291
this is _weird_, the numbers _are_ equal!? `XCTAssertNotEqual failed: ("140308679511184") is equal to ("140308679511184")`

[2019-12-05 15:02] glbrntt commented on #1291
The assertion is `XCTAssertNotEqual`!

[2019-12-05 15:09] Lukasa commented on #1291
Yeah, I think this test has mistakenly asserted that the backing storage will _definitely_ change, which is not required to be true.

[2019-12-05 16:30] weissi commented on #1291
ah! _not_ equal, thanks @glbrntt! Yeah, that's just a wrong assertion, `realloc` is real :)

[2019-12-05 21:53] cilki opened #1294 "SIGABRT in ClientBootstrap with release configuration only"
### Expected behavior
The following should not crash when built with the release configuration in Xcode:
[code]

### Actual behavior
The application crashes with a SIGABRT on `Bootstrap.swift:525` when built with the release configuration, but **not** with the debug configuration.

### Steps to reproduce
Here is an Xcode 11.2.1 project which is just the above section of code in `AppDelegate.swift`

[2019-12-05 23:40] weissi commented on #1294
@cilki Thanks so much for the reproducer, I could repro immediately. This is also https://bugs.swift.org/browse/SR-11564 I think, I had no idea how bad this is. The good news is that the workaround is very straightforward. Set `DEAD_CODE_STRIPPING = NO` and you should be good.

<img width="920" alt="Screenshot 2019-12-05 at 11 40 21 pm" src="https://user-images.githubusercontent.com/624238/7028332

[2019-12-05 23:41] weissi commented on #1294
I think this is also the same underlying issue as https://github.com/apple/swift-nio/issues/1281

[2019-12-05 23:47] weissi commented on #1294
@cilki can you confirm that disabling dead code stripping fixes the issue in your real application too?

[2019-12-06 02:57] cilki commented on #1294
@weissi That was it. Thank you so much! :+1:

[2019-12-06 02:57] #1294 closed

[2019-12-06 14:38] weissi commented on #968
another one:

[code]

[2019-12-06 17:41] #1283 closed

[2019-12-06 17:41] #1286 closed

[2019-12-09 10:15] #1275 closed

[2019-12-10 01:51] liuxuan30 commented on #1281
Hi @weissi sorry for the late reply.
running

seems passed without problem.

[2019-12-10 10:17] weissi commented on #1281
@liuxuan30 what happens if you re-run the above command but remove the `DEAD_CODE_STRIPPING=NO` argument?

[2019-12-11 15:01] #1291 closed

[2019-12-11 18:47] weissi opened #1302 "close the kqueue/epoll fds in SelectableEventLoop before it gets deinitialised"
we should close the kqueue/epoll fds in SelectableEventLoop's close.

[2019-12-16 22:28] kmahar opened #1307 "Consider allowing call to NIOThreadPool.start() while pool is already running"
### Expected behavior
Based on the docstring for `NIOThreadPool.start` ("Start the `NIOThreadPool` if not already started"), and that calling shutdown multiple times is shown to be safe in the tests, I assumed a repeated call to `start` would also be safe/a no-op.

### Actual behavior
The assertion [here](https://github.com/apple/swift-nio/blob/c1f05449807578374cd12465d652c10a27a90184/Sources/NIO/

[2019-12-16 23:58] weissi commented on #1307
Thanks for the bug report @kmahar . Definitely either the docs or the code are wrong ☺️.

I’m not sure which to fix right now. Allowing double-start would come with extra questions such as what to do with a start when it comes whilst a shutdown is ongoing. Currently, we fatalError there, but should we ignore that too?

Usually, I’d say start and shutdown calls should be balanced but it would be re

[2019-12-17 00:05] Davidde94 commented on #1307
I agree that balanced start/shutdown calls is nicer, however we should be probably first update the code to be inline with the expected behaviour from the docs. If/when this is done we could push a new release (with new docs) that enforce 1:1 start/shutdown.

[2019-12-17 01:20] liuxuan30 commented on #1281
@weissi the tests passed as well without DEAD_CODE_STRIPPING=NO

[2019-12-17 01:22] liuxuan30 commented on #1281
I'm seeing a new Xcode 13.3, when it's installed I will try again.

[2019-12-17 08:26] Lukasa commented on #1307
I’m inclined to say that either we should require that `start` be called only once, or allow unbalanced and arbitrary numbers of calls. Either of these two cases is easy to tolerate in code, but the in-between case (“balanced but arbitrary count”) is a bit more awkward.

[2019-12-17 11:34] weissi commented on #1281
thank you!

[2019-12-17 14:14] glbrntt commented on #1307
For the actual use case in question, couldn't we just introduce an "auto start" mode? (Such that it would then be like MTELG.)

If so then I _think_ I'd lean towards requiring that `start` is only called once.

[2019-12-17 14:16] weissi commented on #1307
Seems like the consensus (which incidentally aligns with other uses in NIO) is to make it very strict and require exactly one `start` followed by exactly one `stop`.

[2019-12-17 14:23] weissi opened #1309 "NIO 3: Make EventLoop.execute throw if EventLoop is shutdown"
for SwiftNIO 3, we should make EventLoop.execute throw if EventLoop is shutdown.

[2019-12-17 15:30] weissi commented on #968
and again :(

[code]

[2019-12-17 18:30] #1302 closed

[2019-12-17 20:32] #968 closed

[2019-12-18 10:04] weissi opened #1313 "DELETE requests should allow bodies"
See https://github.com/swift-server/async-http-client/issues/146 . Currently we seem to drop request bodies on DELETE. Whilst that’s spec compliant it’s unhelpful and also unexpected.

Let’s fix that.

[2019-12-18 10:04] weissi commented on #1313
Additionally we should check the server part too as well as other verbs where we think a body is “unlikely”

[2019-12-18 10:05] Lukasa commented on #1313
The server part is fine, it's just `DELETE` and `HEAD` in the wrong place I'm pretty sure.

[2019-12-18 18:41] #1313 closed

[2019-12-18 19:10] weissi opened #1316 "figure out if we can reduce the number of allocations for a scheduled task"
`eventLoop.scheduleTask(in:)` allocates a lot, I think #1315 shows that it's 9 (11 on macOS because of the `autoreleasepool`) allocations per scheduled task. I'm fairly sure we can lower this :)

[2019-12-19 00:52] liuxuan30 commented on #1281
it seems Xcode 11.3 indeed fixed this issue :) good day

[2019-12-19 00:52] #1281 closed

[2019-12-20 16:49] weissi opened #1320 "ByteBuffer should be hashable"
ByteBuffers should conform to `Hashable` which should be pretty straightforward as we can just call `withUnsafeReadableBytes` and hand those bytes to the `Hasher`.

[2019-12-20 16:50] weissi opened #1321 "create NIOAtomic{Bool,Int,...} types"
we should create a bunch of _struct_s called

- `NIOAtomicBool`
- `NIOAtomicInt`
- `NIOAtomicInt64`
- `NIOAtomicUInt`
- ...

which clearly document that they have _reference semantics_. To start with, they should be implemented with `NIOAtomic<...>` and once Swift supports them, we should implement them with the upcoming stdlib atomics.

[2019-12-20 17:57] kmahar commented on #1307
Thank you all for getting back to me! Requiring one start + one stop seems reasonable.

I've also realized that lazily starting it isn't actually a good idea for what I'm doing anyway so as of now I have no need for an auto-start feature.

[2019-12-20 18:00] fabianfett opened #1322 "NIOWebsocket Base64 encoding - unexpected memory overhead."
### Actual behavior

After the issue https://github.com/apple/swift-nio/issues/1265, I started to dig into the implementation of base64. The results of that work can be found at [fabianfett/swift-base64](https://github.com/fabianfett/swift-base64). While implementing decoding, I tested the performance of my implementation against Foundation. Since I wanted to base my work on the Base64 encoding pr

[2019-12-20 18:41] weissi commented on #1322
thanks very much @fabianfett for the report! Yes, our base64 algorithm is _very_ naive at the moment. We don't expose it as API and we only ever use it to to WebSocket which needs it to encode exactly one, short string (I think it's less than 64 characters) per connection. So any performance optimisation would very likely be invisible in actual uses.

Nevertheless, we could make it more optimised

[2019-12-20 18:45] weissi commented on #1322
@fabianfett oh, I just see that you already implemented faster base64. Would you like to contribute it to SwiftNIO too? I'm pretty sure that if you removed the lookup table from your code and replaced it by a `switch`, it'd be even faster.

Other thoughts: it's no faster to write `32` than it is to write `UIn8(ascii: " ")` which is much more readable

[2019-12-20 18:49] fabianfett commented on #1322
There has been discussion about this in https://github.com/apple/swift-nio/issues/1265

@Lukasa proposed another way though:

Would be very open to contribute it to SwiftNIO anyways.

[2019-12-20 18:50] Lukasa commented on #1322
To be clear, I don’t think NIO should _vend_ it. I’m more than happy for NIO to contain a vendored copy, I just don’t want to expose it as public API on NIO.

[2019-12-20 18:52] fabianfett commented on #1322
@weissi could you point me to some documentation where I could learn about how a switch would be faster than the lookup table?

[2019-12-20 19:02] fabianfett commented on #1320
Hi @weissi,

I just looked at this. I came up with your proposed really simple solution:

[code]

But adding a test that ensures that different buffers with the same content but different reserved capacities are hash equal showed me that this maybe is not as simple as thought.

[code]

Do you maybe have a hint on how to proceed from here?

[2019-12-20 19:56] fabianfett commented on #1322
@weissi I just tested replacing the lookup table with a switch to get a sense of what performance improvements should be possible with a switch.

https://github.com/fabianfett/swift-base64/pull/3/files

In my local tests as well as on the GitHub actions (ci) the switch performs two times slower than the lookup table. https://github.com/fabianfett/swift-base64/pull/3/checks

Am I doing something co

[2019-12-20 20:19] Lukasa commented on #1320
Have you cleared `self.buf`? That is, are you confident there are no readable bytes in there from the previous test?

[2019-12-20 20:27] fabianfett commented on #1320
@Lukasa I made it explicit and it still fails. If you want me to I can upload my code and create a PR so that you can have a look maybe?

My first guess with the reserved capacities is obviously not the case. Sorry dumb me.

If I set a breakpoint for the line:
[code]

And I `po` the pointer for each run, I get the following output:
[code]

Very strange.

[2019-12-21 00:18] weissi commented on #1322
I commented in the code, I’d assume something like

[code]
Should be faster

[2019-12-21 00:23] weissi commented on #1322
👍 +1, obviously we do like fast code but we don’t want to make base 64 encoding our API.

[2019-12-21 00:39] fabianfett commented on #1322
Great! I'd gladly provide a vended version of my code to Swift-NIO as soon as we can agree on the fastest easy solution. ;)

Would really like to help ensure this code comment is true. 😜

[2019-12-21 05:02] karwa commented on #1265
Hey, I just came across this issue via your package announcement on Reddit. As it happens, I also had reason to investigate this a few weeks ago (swiftplot communicates with jupyter via base64-encoded PNG images).

Foundation has some utilities to encode/decode base64, but the API is fairly restrictive as it is a direct translation of the Obj-C interface (which only deals in String and Data) to Sw

[2019-12-21 07:53] fabianfett commented on #1265
Hi @karwa,
please see this issue for further information and discussion: https://github.com/apple/swift-nio/issues/1322

[2019-12-21 09:24] Lukasa commented on #1320
If I had to guess, I’d say the mistake here is that we are hashing the _buffer pointer_, not the bytes _within_ that buffer pointer. I think you’ll need to loop over the bytes.

[2019-12-21 09:38] weissi commented on #1320
`combine(ptr:)` definitely combines the bytes the pointer is pointing to: https://developer.apple.com/documentation/swift/hasher/2995579-combine

[2019-12-21 09:48] Lukasa commented on #1320
In that case we’ll need to see the code itself.

[2019-12-21 10:42] weissi commented on #1322
For our use-case (always 64 bytes), it _is_ probably true today :).

[2019-12-21 10:42] weissi commented on #1320
this works just fine:

[code]

[2019-12-21 10:48] fabianfett commented on #1322
I'm so sorry: https://github.com/fabianfett/swift-base64/pull/2/checks?check_run_id=359283613

[2019-12-21 10:58] weissi commented on #1322
@fabianfett you'd need to add two conversions from `ByteBuffer` to `Data` and back into your benchmark to approximate the one use-case we have. And you'd need to consider allocator pressure (for allocating an extra `Data`) in a heavily loaded real-world system. But again, if you're interested in making the NIO's base64 encoder faster, we are more than happy to take it :).

[2019-12-23 13:38] weissi opened #1327 "swift 5.2 CI"
Once the 5.2 snapshots are available on swift.org/download, we should CI with them. They're not available right now yet but the `swift-5.2-branch` is cut.

CC @Lukasa / @tomerd / @shahmishal

[2020-01-08 16:31] helje5 opened #1332 "ByteBuffer's `setString`/`writeString` etc should support `StringProtocol`"
The ByteBuffer String API is tied to the concrete `String` type. Would be nice to allow arbitrary `StringProtocol` values, most importantly substrings.

### SwiftNIO version/commit hash

2.12.0

### Swift & OS version (output of `swift --version && uname -a`)

5.1 any

[2020-01-08 16:31] Lukasa opened #1333 "ByteBuffer String writing functions should support StringProtocol"
There's no good reason users shouldn't be able to write a SubString directly into a ByteBuffer, but right now they can't. We should add new versions of these functions that take a generic `StringProtocol`. These must be inlinable, of course. Ideally we'd verify that calling the generic function with a `String` performs just as well as calling the String-specific one.

[2020-01-08 16:32] Lukasa commented on #1333
Closing for #1332.

[2020-01-08 16:32] #1333 closed

[2020-01-08 16:32] Lukasa commented on #1332
From my racy issue in #1333: We should add new versions of these functions that take a generic StringProtocol. These must be inlinable, of course. Ideally we'd verify that calling the generic function with a String performs just as well as calling the String-specific one.

[2020-01-08 20:28] ianpartridge commented on #1332
I'm curious why the existing functions couldn't be made generic, rather than adding additional generic ones? Couldn't we use `@_specialize` to hint that `String` and `Substring` should be specialized?

[2020-01-08 20:56] helje5 commented on #1332
Would it change the ABI?

[2020-01-08 21:00] jckarter commented on #1332
IMO `StringProtocol` is pretty silly. You could have the implementation take a `Substring` with an inlinable overload that takes a String and passes down `string[...]` automatically, maybe.

[2020-01-08 21:08] helje5 commented on #1332
That doesn't really answer the question ;-)

But regardless, for APIs you essentially want to enable both always, and having to write everything twice is pretty silly too.
Personally I'd prefer to have just String, but that's besides the point here.

[2020-01-08 21:15] jckarter commented on #1332
Well, yes, changing a nongeneric function to a generic one is going to change the ABI, and `@_specialize` won't provide entry points ABI-compatible with the original concrete entry points.

I was just also saying that in general, making something generic over a protocol to cover two types, one of which has a nearly free conversion to the other, is going to add a lot of performance overhead. The wh

[2020-01-08 21:22] helje5 commented on #1332
Even if it is `@inlinable`?

[2020-01-08 21:29] jckarter commented on #1332
If it's inlinable, the generic version still has to exist and take up space in case it doesn't get inlined.

[2020-01-09 10:35] Lukasa commented on #1332
So while @jckarter's idea is good, we certainly can't take that approach for any current Swift version, because `Substring` has no fast access to its backing storage: see [SR-11999](https://bugs.swift.org/browse/SR-11999).

With this in mind, we should consider adding a `Substring` entry point that we know is slow (just calls directly into the slow path), with the ability to speed it up in future,

[2020-01-09 11:29] #1320 closed

[2020-01-09 11:32] #1039 closed

[2020-01-09 11:34] Lukasa commented on #1150
This is done.

[2020-01-09 11:34] #1150 closed

[2020-01-09 14:03] helje5 commented on #1332
If it is expensive, I think we should probably leave it alone then. I was originally thinking that I'm going to expose the BB to the framework user, but I guess I just wrap. NIO should probably stick to just the base API it can do efficiently and not add convenience bloat.

[2020-01-09 17:54] weissi opened #1334 "scheduleRepeatedAsyncTask: returning future from different EL hits precondition"
If the user returns a future from a different event loop from `EventLoop.scheduleRepeatedAsyncTask` will cause a precondition in NIO. That's a bug.

test case that shows the issue

[code]

[2020-01-10 11:29] 3a4oT commented on #1104
@weissi I tried to play with it, but I'm not sure how to be with  `-Xswiftc -warnings-as-errors`. The problem is that when I do (swift 5.1.3 image):
```swift test --enable-test-discovery -Xswiftc -warnings-as-errors```

I get something like (which is expected) :

[code]

With `LinuxMain.swift` it's not an issue because there is a hack with `protocol LinuxMainRunner { func run() }`. Maybe it worth

[2020-01-10 11:54] weissi commented on #1327
@tomerd should we do this like we did 5.1 snapshots in the past with the custom docker image?

[2020-01-10 12:08] weissi commented on #1104
Thank you @3a4oT , I filed https://bugs.swift.org/browse/SR-12008 for this.

[2020-01-10 12:10] weissi commented on #1334
@Lukasa starter bug? Or is that a little too complicated?

[2020-01-10 12:11] Lukasa commented on #1334
I think this could be a starter bug with some guidance from the NIO team.

[2020-01-12 13:21] 3a4oT commented on #1104
https://github.com/apple/swift-package-manager/pull/2513

[2020-01-12 17:37] weissi commented on #1104
Wow awesome! Thanks @3a4oT

[2020-01-14 04:52] Andrewangeta commented on #1334
@weissi @Lukasa please tell me this doesn’t require a breaking change 😭

[2020-01-14 06:53] Lukasa commented on #1334
Nope, it shouldn't.

[2020-01-14 15:11] Andrewangeta commented on #1334
I think I wanna take this bug on. It’ll be a fun dive into some NIO innards.

[2020-01-14 15:41] weissi commented on #1334
@Andrewangeta awesome! Please reach out for help/pointers anytime!

[2020-01-14 19:07] Bouke opened #1337 "100% CPU usage [after sending message] on Swift ARM"
### Expected behavior
When there's not much going on, little CPU usage. Increase in CPU while there's activity.

### Actual behavior
Continuously high CPU usage, even when there's no network traffic.

### Steps to reproduce

I'm not sure what exactly triggers the problem in my application, but I've observed the same problem with the chat client. So including those steps here:

1. Install SwiftARM

[2020-01-14 19:59] Lukasa commented on #1337
The common cause for this is that we’re spinning in `epoll_wait`, which implies there’s some I/O event we haven’t processed. This is _usually_ `EPOLL_RDHUP`. I will do my best to see if I can reproduce this tomorrow, though the fact that this affects a raspberry pi makes life moderately awkward: I’ll see if we can reproduce it in another system.

[2020-01-14 20:06] weissi commented on #1337
@Bouke Thanks for the detailed report! As @Lukasa points out, this points to us not properly processing some event so `epoll_wait` constantly returns again, telling us about the same event again.

If you can, would you mind to attach a few lines of the output of

[code]

whilst in the 100% CPU spin loop? Also, is this 32 or 64 bit?

[2020-01-14 20:07] Lukasa commented on #1337
Based on the target triple it’s 32-bit: at least the OS is.

[2020-01-14 20:21] Bouke commented on #1337
strace output for `NIOChatClient`:
[code]

strace output for my own application:
[code]

(Note that this is not an official Swift build, but provided by the Swift-ARM community. Official builds don't target ARM, nor 32 bit. See also: https://github.com/uraimo/buildSwiftOnARM and https://swift-arm.com)

[2020-01-14 20:24] weissi commented on #1337
@Bouke thanks for the fast response. Interestingly, this is the `EPOLLIN` event which means that we're looking for data to be readable. Could you give us another few lines with this command?

[code]

(the only difference to the previous one is the `,read`)

[2020-01-14 20:30] Bouke commented on #1337
Sure, that would be:
[code]
Thank you as well.

[2020-01-14 20:39] Lukasa commented on #1337
_einval_ is a baffling response, why isn’t that causing us to error out?

[2020-01-14 20:40] weissi commented on #1337
@Bouke wow, that's `read` returning `EINVAL` which as of the docs is

[code]

[2020-01-14 20:41] weissi commented on #1337
could we have

[code]

alongside the same `strace` command? Need to see what fd the one is where `read` is returning `EINVAL`.

[2020-01-14 20:44] weissi opened #1339 "we should assert/precondition that read doesn't return EINVAL"
`read` returning `EINVAL` is a bug in NIO and we should assert/precondition that it doesn't happen similar to what we do for `EBADF`/`EFAULT` on all syscalls. See #1337 for an example where that happens.

[2020-01-14 20:46] Bouke commented on #1337
I think this is what you're asking for?
[code]
[code]

[2020-01-14 20:51] weissi commented on #1337
it's this guy: https://github.com/apple/swift-nio/blob/master/Sources/NIO/Selector.swift#L552

[2020-01-14 20:52] weissi commented on #1337
thank you @Bouke ! this should allow us to debug it, clearly we're doing the timerfd wrong :)

[2020-01-14 20:52] weissi commented on #1337
oooh I think timerfd needs to be 64bit always

[2020-01-14 20:53] weissi commented on #1337
yes, this line

    _ = Glibc.read(self.timerFD, &val, MemoryLayout<UInt>.size)

must be

    _ = Glibc.read(self.timerFD, &val, MemoryLayout<UInt64>.size)

[2020-01-14 20:54] weissi commented on #1337
@Bouke if you want, you could make this fix yourself, I think you literally just need to add `64` to this line: https://github.com/apple/swift-nio/blob/master/Sources/NIO/Selector.swift#L552

[2020-01-14 20:54] weissi commented on #1337
docs are here:

read(2)
If the timer has already expired one or more times since its settings were last modified using timerfd_settime(), or since the last successful read(2), then the buffer given to read(2) returns an unsigned 8-byte integer (uint64_t) containing the number of expirations that have occurred. (The returned value is in host byte order, i.e., the native byte order for integers on t

[2020-01-14 20:55] Bouke commented on #1337
Hmm yeah that makes sense! (Although I haven't the faintest clue what this does)
[code]

[2020-01-14 21:03] Bouke commented on #1337
That fixed the issue for the chat client. I'm now going to test against my own application.

[2020-01-14 21:08] weissi commented on #1337
@Bouke by reading 64 bits from the "timerfd" you just tell the kernel "ok, thanks, I have processed the timer you woke me up for". But we didn't read enough and therefore the kernel thought we hadn't processed the timer and told us about the same timer again, straight away, in a loop...

[2020-01-14 21:21] Bouke commented on #1337
After compiling for what feels like an eternity (the raspberry's not that fast), I can confirm that this is also the fix for my application. Thanks so much everyone!

[2020-01-14 21:28] Bouke commented on #1339
In another project, I'm wrapping all posix calls like this: https://github.com/Bouke/HAP/blob/a494b40ab0c84b729e4a618a132879dcc68265f9/Sources/COperatingSystem/libc.swift#L7-L11. Do you have something similar in mind?

[2020-01-14 21:48] Lukasa commented on #1339
We do. We have a wrapper like that as well, but it turns some errors into crashes, on the grounds that they should never happen. Johannes is proposing adding EINVAL to that list of errors.

[2020-01-15 11:27] weissi commented on #1337
fixed by #1340 , thanks @Bouke for report and fix! CC @helje5 who might be interested too

[2020-01-15 11:27] #1337 closed

[2020-01-15 11:30] weissi opened #1341 "Should use Posix.read instead of Glibc.read for timerfd"
https://github.com/apple/swift-nio/blob/976e65aba7102662533cf8c3d4969decbe52b904/Sources/NIO/Selector.swift#L552

To read the bytes from timerfd, we use Glibc.read directly but we should use `try! Posix.read` instead which would’ve made debugging #1337 incredibly straightforward. We should probably also go through the codebase and find other uses of Darwin/Glib.$syscall rather than Posix.$syscall

[2020-01-15 11:34] weissi commented on #1339
@Bouke just a drive-by comment: errno numbers differ across operating systems, your snippet looks like they’re hardcoded. If you have taken care of this in a different way please ignore

[2020-01-15 11:35] normanmaurer commented on #1337
@weissi shouldn't we use edge triggered for the timerfd and so it should not "matter" ?

[2020-01-15 11:43] helje5 commented on #1337
I should have written a test! 🤦‍♀

[2020-01-15 11:48] helje5 commented on #1337
@Bouke You don't have to compile on the Raspi, you can use X-compilers, e.g. https://github.com/CSCIX65G/SwiftCrossCompilers

[2020-01-15 12:24] weissi commented on #1337
@normanmaurer because of deregistrations, we sometimes go back to the kernel to have all events redelivered so we can’t use edge triggered.

Also, reading off that the timer fired is still very important even in edge-triggered as we would otherwise only ever get one event (because we never acknowledge it).

[2020-01-18 08:10] Bouke commented on #1339
@weissi I didn’t know that, thanks! In my code I’m mostly interested in success or failure anyway. Do you know of a cross os way to create strict posix error (enum)?

[2020-01-18 10:50] weissi commented on #1339
@Bouke hmm, what are you using the enum for? I’d just work with raw values (check NIO’s `IOError` type for example). The number of errno codes between platforms will also vary.

And regarding success or failure: in posix, there are some error codes that you definitely need to handle specially, for example `EINTR`.

Also be very very careful using `errno` in Swift, there is no guaranteed correct wa

[2020-01-23 16:13] helje5 opened #1354 "Discussion: Make Channel Handler API Typesafe"
This just came up in the server Slack and @weissi asked me to do a demo PR for discussion.

# Issue

The pipeline is a linked list of channel handlers, those channel handlers have static input and output types for both I/O directions: Example:
[code]

The type erasure in NIOAny is inconvenient and error prone. This is what would be desirable:
[code]

Right now it is possible to configure a pipelin

[2020-01-23 16:30] Lukasa commented on #1354
Thanks for putting this idea here. I have a few suggestions for areas where this idea needs to elaborate on some of the difficulties.

### Missing Types

Right now your proposal looks like this:

[code]

Not all `ChannelHandler`s are required to provide all 4 associated types. In particular:

- `ChannelHandler`s that do not conform to `ChannelInboundHandler` do not have an `InboundIn`.
- `ChannelH

[2020-01-23 16:48] helje5 commented on #1354
But this is only the case because you use them as the base protocol for type erasure, right?
*Conceptually* a handler should always have all four of them, with the leafs being typed to `Never`.
If you want a handler which just does book keeping (or handle errors), you'd have to make it generic. Like:
[code]

[2020-01-23 16:52] Lukasa commented on #1354
Sure, that's not a problem, though it does make the change semver major.

[2020-01-23 16:53] Lukasa commented on #1354
Ah, no, I guess it doesn't have to, we can always allow both APIs.

[2020-01-23 16:53] helje5 commented on #1354
### Insertion head

Well, yes. But the bootstrap callback does get the type of the channel it is bootstrapping. So depending on the socket you are setting up, you'd get the initial hooking point to conform to say `HookupPoint<In: ByteBuffer, Out: ByteBuffer>`.

I don't get why it would need to be Any.

[2020-01-23 16:55] helje5 commented on #1354
Wrt to SemVer, I don't know - I didn't claim SemVer compat. A clean implementation would probably change the API and internals, but I suppose it could also be done as an addition to the current API (with the stuff still being held type erased, don't know).

[2020-01-23 16:55] Lukasa commented on #1354
It needs to be `Any` if we allow insertion at the head after the bootstrap has occurred.

[2020-01-23 17:00] helje5 commented on #1354
Nope, the bootstrap can forward the type/hooking-point to for example the protocol switcher if you want to be type safe (as shown in my Noze sample), but you can also always hack-insert if you really want to (and have the type checked at runtime).

Essentially something like:
[code]

[2020-01-23 17:02] Lukasa commented on #1354
We'd need to make sure to standardise that pattern to allow for libraries to request that functionality in a standard way, but I think that's reasonable.

[2020-01-23 17:04] helje5 commented on #1354
Hm, OK. With a clean implementation I'd assume that this would go. For compat it could just do the dynamic thing.

Channel.write does two things, right:
1) lookup the tail
2) synchronise the loop

I think 1) should be done in the app level. It likely _has_ the tail (it must know it, to know what it can put into the write anyways).

And 2) is something which could also live in the handler itself, l

[2020-01-24 14:00] weissi opened #1355 "IOError is 26 bytes long, should be 3 words (24) or less"
### Expected behavior

All `Error` types should be 3 words or less. On 64 bit platforms that's 24 bytes. This is important because Errors get boxed in Error existentials which have 3 words of builtin storage. If that's not enough, it'll heap allocate. So we'd expect

[code]

### Actual behavior

[code]

### Steps to reproduce

1. `swift run --repl`
2. `import NIO`
3. `MemoryLayout<IOError>.size`

[2020-01-25 10:04] weissi commented on #1327
We now have official nightlies for docker 🎉🎉🎉: https://forums.swift.org/t/nightly-swift-docker-images/33029

[2020-01-26 17:19] weissi opened #1358 "too many tests that are longer than 0.5s"
We have about 50 (out of 1100+) test cases, that take more than 0.5s in CI. Many (not all) of them should/could be made faster. Here's a complete list:

 - [ ] 53.411 seconds DatagramChannelTests.testSendmmsgLotsOfData
 - [ ] 46.795 seconds ChannelTests.testWritevLotsOfData
 - [ ] 30.003 seconds NIOConcurrencyHelpersTests.testLargeContendedNIOAtomicSum
 - [ ] 29.045 seconds NIOConcurrencyHelpersTe

[2020-01-26 17:19] weissi commented on #1147
failed again in CI 5.1:

[code]

[2020-01-27 14:52] #1322 closed

[2020-01-28 11:38] AnandWalvekar commented on #1128
@aciidb0mb3r
I am currently using Xcode 11.3.1 & tried adding
$(PROJECT_TEMP_ROOT)/GeneratedModuleMaps/iphonesimulator/RxCocoaRuntime.modulemap to OTHER_SWIFT_FLAGS in the test target.
Still it keeps giving error

[2020-01-28 11:48] weissi commented on #1128
Thanks @AnandWalvekar , I updated the Xcode bug report with you info.

[2020-01-28 16:37] aciidb0mb3r commented on #1128
@AnandWalvekar can you share a sample project that reproduces this issue?

[2020-01-28 17:51] weissi opened #1363 "flaky test SALChannelTest.testBasicRead"
[code]

[2020-01-29 11:44] weissi commented on #1363
ok, weird. When that happens, we see the following stack trace on a NIO EventLoop thread!!!

[code]

god knows how and why we run `dispatch_worker_thread` there

[2020-01-29 11:44] weissi commented on #1363
ah, I reckon the NIO EventLoop exited

[2020-01-29 11:52] weissi commented on #1363
confirmed. There's a race: Either the EventLoop has already exited, or it hasn't and waits for a wakeup. Fix coming.

[2020-01-29 11:56] weissi commented on #1363
repro is easy btw

[code]

[2020-01-29 12:12] #1363 closed

[2020-01-30 09:58] Joannis opened #1370 "Suggestion: Different strategies for getting the next loop fr om an EventLoopGroup"
The current implementation of `MultiThreadedEventLoopGroup` uses a round-robin approach for getting the EventLoop. While this is a simple solution that works well in almost all scenarios, a service could become stalled if an EventLoop being fed too many heavy clients.

Suppose that an EventLoop, either due to coincidence or malice, is tasked with the noble problem of checking all incoming authenti

[2020-01-30 09:59] Lukasa commented on #1370
This is a good idea, but it relies on developing the machinery to estimate the load of the event loops. We don't have this yet, and for now I think it's more important to decide how to build that machinery and what it should measure.

[2020-01-30 14:07] weissi commented on #1114
Talked to Norman, options first, then initialiser

[2020-01-30 14:07] weissi commented on #1114
@normanmaurer to also check netty

[2020-01-30 14:09] normanmaurer commented on #1114
@weissi just double checked... We do the same (first options then initialiser) in netty.

[2020-01-31 16:14] realdoug commented on #1355
this seems like an easy first one.  I'm going to take a pass at it over the weekend.

[2020-01-31 17:19] weissi commented on #1355
@realdoug thanks so much, that'd be fantastic!

[2020-02-01 10:21] #1114 closed

[2020-02-03 12:30] #1355 closed

[2020-02-03 12:34] weissi commented on #1334
@Andrewangeta are you still interested in fixing this?

[2020-02-03 12:44] Andrewangeta commented on #1334
Yes but unfortunately I can’t find the time to dig into it :( it might be best if someone else had a look into it. I’ll just learn from the eventual PR that fixes it. @weissi

[2020-02-03 12:45] weissi commented on #1334
No worries at all!

[2020-02-03 17:44] weissi opened #1377 "Replace CNIOSHA1 with SwiftCrypto"
I'd be fantastic to remove the `CNIOSHA1` module and replace it with `Crypto.Insecure.SHA1` (which sadly is mandated by the WebSocket spec). Unfortunately, SwiftNIO 2 supports Swift 5.0+ and [`SwiftCrypto`](https://github.com/apple/swift-crypto) requires Swift 5.1.

[2020-02-04 14:31] weissi opened #1379 "String(decoding: ByteBufferView, from: Unicode.UTF8.self) goes through intermediate array"
The program below allocates for ByteBufferView:

[code]

the problem is that `String(decoding:count:)` does not seem to leverage `withContiguousStorageIfAvaiable`. CC @milseman
===

[code]

[2020-02-05 11:39] weissi opened #1383 "NIO should assert/precondition is work is execute/submit/flatSubmitted so a closed EventLoop"
When anybody enqueues work on an EventLoop that has been shut down, currently, you'll likely just hang without any feedback. Closing an EventLoop(Group) prematurely is programmer error so we should crash.

[2020-02-05 11:41] weissi commented on #1383
similarly we should probably forbid fulfilling promises for an already shutdown EL(G).

[2020-02-06 11:21] weissi opened #1385 "ByteBufferView: implement most Collection/Sequence customisation points"
`ByteBufferView` is a `Collection` of `UInt8` which "views" into a `ByteBuffer`. Right now, we basically only implement the `subscript` which vends individual bytes. That's good enough to implement `Collection`/`Sequence` (and a bunch of more specialised sub-protocols) but it's not very fast at all.

Especially methods like `firstIndex(of:)` or `firstIndex(where:)` will be very slow because it'll

[2020-02-06 21:05] realdoug commented on #1383
@weissi I'd like to try to knock this one out over a week or two so long as its not super time sensitive.

[2020-02-06 21:38] weissi commented on #1383
@realdoug awesome! No, it's not time sensitive at all :)

[2020-02-07 02:53] joshuawright11 commented on #1334
@weissi I took a stab @ fixing the assertion here https://github.com/joshuawright11/swift-nio/commit/67941712c25aee1a223ffb53601d21d912afd4af but the `default` switch case still gets called 2-4 more times; slightly confused on the mechanics of the test... does the `syncShutdownGracefully()` stop any repeated tasks currently on that `EventLoop`?

[2020-02-07 09:36] weissi commented on #1334
@joshuawright11 hmm, that’s odd. Maybe there’s a bug in the scheduling code for repeated tasks. After returning a failed future, we shouldn’t run the task again. I’m happy for you however to not fail the test in `default` if you file an issue about that bug. You can just leave a TODO and return a failed future. We can fix the scheduling in a different PR

[2020-02-12 13:17] Jake-Prickett opened #1390 "Cocoapods Support"
### Expected behavior
Cocoapods is currently on `2.11.0`

[CocoaPods.org](https://cocoapods.org/pods/SwiftNIO)
[Podspec](https://github.com/CocoaPods/Specs/blob/master/Specs/e/8/6/SwiftNIO/2.11.0/SwiftNIO.podspec.json)

### Actual behavior
Cocoapods version would be in sync with the current release.

-----------------------------------------------------------

Are Cocoapods going supported going f

[2020-02-12 13:53] weissi commented on #1390
Sorry @Jake-Prickett , I'll update it to 2.13.1 tonight

[2020-02-12 17:01] Jake-Prickett commented on #1390
Nice! Thank you so much for your quick response. Is the plan to continue to support Cocoapods for SwiftNIO?

[2020-02-12 17:04] weissi commented on #1390
@Jake-Prickett Sure, happy to continue pushing the updates. I'll try to be better pushing them once released rather than on bug report ;)

[2020-02-12 21:56] weissi commented on #1390
@Jake-Prickett okay, this should be done. Random other thought, given that you're using the NIO pods, would you at all be interested in becoming NIO's CocoaPods maintainer? I'd need to discuss this with the others but I think this is best done by someone who actually uses the pods :).

The actual update is pretty straightforward (`scripts/build_podspecs.sh -u  2.13.1`), for boring technical reason

[2020-02-12 21:56] #1390 closed

[2020-02-12 23:46] jpricke1-ford commented on #1390
@weissi I would absolutely be interested. Once you discuss with the others, please let me know how I can help!

[2020-02-13 12:04] weissi opened #1392 "ServerBootstrap: should we add the AcceptHandler before or after running the serverChannelInitializer"
question: ServerBootstrap: should we add the AcceptHandler before or after running the serverChannelInitializer

CC @normanmaurer

Historically, in NIO we added the `AcceptHandler` _after_ the `serverChannelInitializer`. In #1372 I accidentally flipped it around which made a test in `swift-nio-extras` fail. I'm now changing that back to retain the old behaviour. Nevertheless, we should decide what

[2020-02-13 12:29] weissi commented on #1390
@jpricke1-ford Thank you! I talked to the relevant folks and if you're still interested, we'd very much like for you to be NIO's Cocoapods maintainer :). To sort out the details, would you mind sending me an email to johannesweiss@apple.com ? We can then sort out the boring stuff like actually giving you access and so on :)

[2020-02-13 13:31] realdoug commented on #1383
Ok i'd like to come up with a set of test cases for this.  Let me know if I've missed any.

**Execute**
expected behavior: precondition failure (crash)
[code]

**Submit**
expected behavior: precondition failure (crash)
[code]

**Schedule**
expected behavior: precondition failure (crash)
[code]

**Promise**
expected behavior: precondition failure (crash)
[code]

As far as part 2, "forbid fulfilling

[2020-02-13 15:11] weissi commented on #1383
@realdoug That looks awesome! Please don't apologise, what you suggest exactly matches my expectation.

[2020-02-13 15:50] normanmaurer commented on #1392
@weissi in netty we add it after we run the initialiser. This worked great for us and also ensure the user does not mess up the pipeline in a way that would break the accept logic.

[2020-02-13 15:51] weissi commented on #1392
thanks @normanmaurer , let's match Netty here then and leave it the way it is now on `master` (and also in all versions ever released).

[2020-02-13 15:51] #1392 closed

[2020-02-14 17:37] weissi opened #1397 "undo @convention(c) hacks in System.swift"
in #206 we introduced workarounds for https://bugs.swift.org/browse/SR-7242 which appears fixed so we can probably undo :)

[2020-02-14 18:11] weissi commented on #1397
removed "good first issue" for now because we actually need to validate that Swift 5.1 at least is fine.

[2020-02-14 18:14] weissi commented on #1397
"good first issue" back because I just verified and even with Swift 5.1 it's fine :)

[2020-02-16 12:44] shekhar-rajak commented on #1217
Hi,

I am interested to contribute to the project and trying to understand the codebase.
For this issue do we just have to remove the `Products`  folder from the root directory and check that all the test cases are passing?

[2020-02-16 13:07] Lukasa commented on #1217
Sorry @shekhar-rajak, I believe this was resolved by #1303.

[2020-02-16 13:08] #1217 closed

[2020-02-17 10:15] shekhar-rajak commented on #1226
Hi,

I want to work on this. But I didn't understand this line:

Can you please explain a bit, in which file this happens?

[2020-02-17 10:17] Lukasa commented on #1226
Yup, it's a property of the [`SelectableEventLoop`](https://github.com/apple/swift-nio/blob/16ab4d657e1ad4e77bd5f8b94af8538561643053/Sources/NIO/SelectableEventLoop.swift#L89-L105).

[2020-02-17 14:45] shekhar-rajak commented on #1226
Thanks @Lukasa , I am able to find out the method [`promise creation store`](https://github.com/apple/swift-nio/blob/master/Sources/NIO/SelectableEventLoop.swift#L93).

Should we use

[code]

instead

[code]
?

So code like ` self._promiseCreationStore[ObjectIdentifier(future)] = (file: file, line: line)` should be changed to ` self._promiseCreationStore[UInt(bitPattern: ObjectIdentifier(future))]

[2020-02-17 14:51] shekhar-rajak commented on #1397
Hi,

Do we just have to remove [`@convention annotation from all these variables`](https://github.com/apple/swift-nio/blob/master/Sources/NIO/System.swift#L48) ?

[2020-02-17 14:59] weissi commented on #1226
@shekhar-rajak sounds good!

[2020-02-17 14:59] Lukasa commented on #1226
I suspect that's what we'll have to do, yes.

[2020-02-17 15:00] weissi commented on #1397
@shekhar-rajak yeah, I think we can just make them

[code]

instead of the whole

[code]

mess :)

[2020-02-17 16:18] shekhar-rajak commented on #1397
Thanks @weissi !  I will work on this.

[2020-02-17 16:19] shekhar-rajak commented on #1226
Thanks! I will work on this.

[2020-02-18 10:54] 0xTim commented on #1377
@weissi @Lukasa so why does this require a major version bump?

I looked through one of the [old posts](https://forums.swift.org/t/semantic-versioning-in-swift/12720/29) on the forums about SemVer and Swift and saw no discussion about language version changes. IMO changing the language version is a minor release and not a major release for these reasons:
* There are no API changes (even adding Cry

[2020-02-18 10:59] Lukasa commented on #1377
The risk isn't the raise in the Swift version number, but the OS constraints added by Swift Crypto. This is shown [in SR-11489](https://bugs.swift.org/browse/SR-11489), but the core problem is that to depend on Swift Crypto we need to raise the floor of our minimum deployment targets. This immediately breaks _all_ downstreams, which have to raise their floors as well. SwiftPM does not bring the mi

[2020-02-18 11:08] 0xTim commented on #1377
Ahhh got you, that makes sense. Thanks!

[2020-02-18 12:59] bridger opened #1406 "Support for Websocket compression"
I'm curious if compression support has been considered for Websockets in NIO. I'd be interested in using it in my server-side app.

Kitura developed [this package for websocket compression](https://github.com/IBM-Swift/Kitura-WebSocket-Compression) built on NIO's websockets. [I asked about it being supported in Vapor](https://github.com/vapor/websocket-kit/issues/55) and @tanner0101 suggested it w

[2020-02-18 13:25] Lukasa commented on #1406
NIO is very reluctant to take on a dependency on zlib: in fact, we removed a previous HTTP compression library to `swift-nio-extras` for this very reason. I think we'd be happy to accept a patch in `swift-nio-extras` that implements this extension, though.

[2020-02-18 13:25] #1406 closed

[2020-02-19 21:31] jaredsinclair commented on #1128
I've run into this on several similar projects, with Swift Packages that contain clang submodules to expose code to the parent Swift module. I've found a workaround that fixes this, at least as of Xcode 11.3.1:

1. In your unit or UI test target, add the parent module (the Swift Package library) to the linked libraries build phase, even if that test target doesn't use it directly.

2. *Sometimes R

[2020-02-19 21:35] jaredsinclair commented on #1128
[Missing-Submodule-SPM-Error.zip](https://github.com/apple/swift-nio/files/4227554/Missing-Submodule-SPM-Error.zip)

[2020-02-19 21:36] jaredsinclair commented on #1128
^^^ sample project reproducing the issue.

To reproduce, choose the UI test **scheme** and CMD+U to run the tests.

[2020-02-19 21:55] aciidb0mb3r commented on #1128
I can reproduce the issue, thanks a lot for the sample project!

[2020-02-20 01:19] realdoug commented on #1383
One more expected crash per [this comment](https://github.com/apple/swift-nio/pull/1395#discussion_r380047031)

[code]

[2020-02-21 12:24] Lukasa opened #1409 "Stop copying Strings into Arrays for SHA1"
This code is a very Swift 4.2 block:

https://github.com/apple/swift-nio/blob/2c555d144a3699b0f267d71092c01e60491b9615/Sources/NIOWebSocket/SHA1.swift#L48-L53

We can use `String.utf8.withContiguousStorageIfAvailable` as a fast-path here, and only fall back to the Array case if that fails. In most cases this will save us an allocation for each hash function update.

[2020-02-24 17:01] #1226 closed

[2020-02-25 07:12] trungducc commented on #1409
It seems like an easy one to start contributing. Could I create a PR to fix this issue?

[2020-02-25 07:48] Lukasa commented on #1409
Please do.

[2020-02-25 07:51] #1397 closed

[2020-02-25 08:52] #1409 closed

[2020-02-25 09:12] Lukasa opened #1414 "Consider implementing HTTP "Strict Mode" and enable by default."
Upcoming revisions to the HTTP specifications will be making it clear that request bodies on GET and DELETE are considered to be outside the specification. This tightens up existing wording in RFC 7230. The new wording is (at time of writing):

([for DELETE](https://github.com/httpwg/http-core/pull/300/files)), and

([for GET](https://github.com/httpwg/http-core/pull/250/files)).

We should consid

[2020-02-25 11:35] weissi commented on #1414
@Lukasa for now I'm conservatively tagging this as 'need major', just to be sure we won't forget this issue for NIO3.

[2020-02-25 18:33] uch1 opened #1415 "How to get an auth code using ASWebAuthenticationSession?"
I'm trying to obtain an auth code from Stripe's OAuth endpoint using ASWebAuthenticationSession - this event happens after the my Stripe redirect url gets called.

Unfortunately, the authSession's completion handler doesn't call back with a callbackURL. And I need this callbackURL to query the auth code. I've read different articles on this topic but I can't figure out why my implementation doesn'

[2020-02-25 18:59] Lukasa commented on #1415
For questions about Apple platform APIs, please use [the developer forums](https://forums.developer.apple.com/welcome).

[2020-02-25 18:59] #1415 closed

[2020-02-26 03:41] trungducc commented on #1385
I'm trying to resolve this task but it makes confused when you said

I thought that we should check `bounds`  parameter instead of `self._range`. Did I misunderstand anything?

[2020-02-26 10:58] weissi commented on #1385
@trungducc thank you, that's awesome. I think this is just a misunderstanding. I think we need to compare that the `bounds` parameter of `_failEarlyRangeCheck` lies within `self._range`'s bounds (`self._range.lowerBound` & `self._range.upperBound) in `ByteBufferView`.

[2020-02-26 11:47] trungducc commented on #1385
@weissi Oh yes. That makes sense. I didn't think about it. Thank you for pointing out!

[2020-02-26 14:48] weissi opened #1416 "ByteToMessageDecoder: Default implementation for decodeLast should be provided"
For all but EOF framed protocols, the right implementation for `decodeLast` is

            public func decodeLast(context: ChannelHandlerContext,
                            buffer: inout ByteBuffer,
                            seenEOF: Bool) throws -> DecodingState {
                while try self.decode(context: context, buffer: &buffer) == .continue {}
                return .needMoreData

[2020-02-27 18:00] shekhar-rajak commented on #1416
So we have to change the current `decodeLast` method in  `NIOChatServer/main.swift:`, `NIOHTTP1/HTTPDecoder.swift`,  `NIOTLS/SNIHandler.swift`, `NIOWebSocket/WebSocketFrameDecoder.swift` ?

[2020-02-27 18:04] weissi commented on #1416
@shekhar-rajak Thanks, great questions:

-  `HTTPDecoder` definitely needs its own implementation that's different to the one suggested above because HTTP/1 can be EOF framed sadly.
- `SNIHandler` is also special because (see comment on `decode`), its decode never returns `.continue`
- `NIOChatServer/main.swift`'s decodeLast should be removed indeed
- `NIOWebSocket`'s `decodeLast` should also be r

[2020-03-03 14:16] Davidde94 commented on #1135
Resolved in #1349

[2020-03-03 14:16] #1135 closed

[2020-03-03 14:17] Davidde94 commented on #1332
Resolved in #1346

[2020-03-03 14:18] weissi opened #1428 "Audit all `public enum`s"
Having `public enum`s is a major burden if you’re API stable and you don’t use the “library evolution” Swift language dialect. SwiftNIO (like all SwiftPM packages) uses the non-lib-evolution dialect and therefore nothing in enums can ever be changed.

This has caused us many issues and for NIO 3 we should audit all `public enum`s and probably make most of them `struct`s with `static` constructors.

[2020-03-03 14:23] weissi commented on #1177
This is done #1261

[2020-03-03 14:23] #1177 closed

[2020-03-03 14:25] weissi commented on #1065
Don’t think we necessarily need to do something but if we do, then it’ll be in NIO 3

[2020-03-03 14:27] Davidde94 opened #1429 "Remove deprecated types, methods, and fields"
There are several (not many) deprecated methods, types, and fields throughout NIO. Where possible these should be fully removed in NIO 3. The goal of this is to simplify code and make maintenance easier.

[2020-03-03 14:29] weissi commented on #936
Might be a better fit in swift-metrics: https://github.com/apple/swift-metrics/pull/61

[2020-03-03 14:33] weissi commented on #1332
Well, the actual issue is not resolved but we added a version that takes `Substring`. I’m not sure if we should just close it. Let’s discuss if we really don’t want `StringProtocol`

[2020-03-04 06:32] shekhar-rajak commented on #1341
Hi @weissi ,

Can we use `try? Posix.read`  (not `try! Posix.read`), because we are not caring about the result?

[2020-03-04 08:45] weissi commented on #1341
@shekhar-rajak please use `try!` we don’t care about the result IF if was successful. If this operation fails, there’s a severe bug in NIO and we must crash. Because we didn’t do this so far bug #1337 stayed in NIO for over a year without us noticing, had we crashed, it would’ve been obvious straight away.

[2020-03-04 12:13] shekhar-rajak commented on #1341
Thanks for letting me know. I will work on this.

[2020-03-04 15:21] Lukasa commented on #1416
Confirm for `WebSocketFrameDecoder`.

[2020-03-04 16:22] #1416 closed

[2020-03-04 16:51] #1341 closed

[2020-03-04 17:20] #1383 closed

[2020-03-05 11:31] weissi opened #1435 "re-investigate speeding up the ChannelPipeline with findings from SR-10683"
@gottesmm did amazing work in https://bugs.swift.org/browse/SR-10683 and it seems like with the latest `master` snapshots we might have a way to _substantially_ speed up the `ChannelPipeline`. There's a remaining risk that this only worked in the reduced example but we should definitely have a look if this translates to "real NIO".

[2020-03-08 01:52] m0wfo opened #1436 "HTTPObjectAggregator implementation"
### Expected behavior
Netty's [HttpObjectAggregator](https://netty.io/4.1/api/io/netty/handler/codec/http/HttpObjectAggregator.html) significantly simplifies implementation of HTTP APIs where raw throughput is not a concern. Happy to port this if needed, just checking here that I'm not duplicating any work.

Downstream handlers would optionally be able to deal with subtypes of `FullHttpRequest` an

[2020-03-08 07:29] Lukasa commented on #1436
I think this would be a good addition to the project!

[2020-03-10 18:25] tomerd commented on #143
yes!

[2020-03-10 18:25] #143 closed

[2020-03-11 16:15] sehajc commented on #1031
@ranmyfriend I'm experiencing the same issue on release mode. Could you please tell me how you resolved it?

[2020-03-11 16:21] ranmyfriend commented on #1031
@sehajc there was an issue from our end and not from NIO side. So we have fixed it. But am also saying NIO works well in debug as well as Release Mode. If you are facing any issue specifically please describe more about the issue and let us know.

[2020-03-11 17:33] sehajc commented on #1031
@ranmyfriend Thanks. I understand it's not an issue from NIO side. We are using Carthage instead of swift package manager as our dependency manager. We get a crash in release mode(on iOS 12), the same as yours "Reason: no suitable image found." for "CNIOLinux".
My guess is that we are not setting up the .xcodeproj correctly but we haven't been able to figure it out yet

[2020-03-11 18:00] ranmyfriend commented on #1031
@sehajc Okay let me explain to you what we faced and how we resolved it. So initially we were used Swift NIO using Carthage but the way we wanted in a private framework which has a dependency for NIO. But here is the catch it was giving some problem, So we went with Cocoapods. Like we built our own framework and added Swift-NIO as dependency there. then it solved our issues and even it works well.

[2020-03-11 19:49] sehajc commented on #1031
@ranmyfriend Thanks. That's very helpful. We are trying the private framework approach as well. Using swift package manager to generate xcodeproj for swift-nio project and then using carthage to build all NIO frameworks. We are making sure to link all the NIO frameworks built with Carthage into the app, not just the private framework. We'll keep on trying with Carthage or eventually switch to SPM

[2020-03-11 20:41] tanner0101 opened #1441 "HTTPHeaders[canonicalForm:] quoted strings"
HTTPHeader's canonical form subscript does not currently respected quoted strings. For example:

[code]

I'm not sure whether or not this is actually _required_ for what this subscript is used for, but it's worth considering.

I've copied down an expanded HTTP header BNF collected from [RFC 2616](https://tools.ietf.org/html/rfc2616) and [RFC 822](https://tools.ietf.org/html/rfc822) here.

[code]

[2020-03-12 08:08] Lukasa commented on #1441
RFC 2616 is dead, let's not quote it.

Strictly speaking `canonicalForm` is only best-effort: the correct implementation involves having specific parsers for specific header fields. We aren't doing that in NIO because it's more work than we can justifiably do and we'll inevitably miss a bunch of parsers. However, we should probably be ignoring commas within quoted strings.

[2020-03-13 15:20] weissi opened #1445 "flaky test EventLoopTest.testScheduleRepeatedTaskCancelFromDifferentThread"
this looks like a race in the recent change

[code]

[2020-03-17 19:33] tanner0101 opened #1453 "Structured Headers"
Consider supporting structured headers as defined by https://httpwg.org/http-extensions/draft-ietf-httpbis-header-structure.html.

Closing https://github.com/apple/swift-nio/pull/1442 in favor of this issue.

[2020-03-18 01:34] realdoug commented on #1435
@weissi which specific benchmark produces the 6x speedup from NIO to Netty?  Just a simple HTTP client request?

[2020-03-18 11:34] weissi commented on #1435
@realdoug it's this benchmark which we'll need to look at: https://github.com/apple/swift-nio/blob/master/Sources/NIOPerformanceTester/ChannelPipelineBenchmark.swift

However, before that we'll need to incorporate some pretty subtle changes to the `ChannelPipeline`.

[2020-03-18 17:24] weissi commented on #1445
fixed with #1454

[2020-03-18 17:24] #1445 closed

[2020-03-20 12:59] Davidde94 opened #1456 "Add convenient Type(from buffer: ByteBuffer) initialisers"
Currently it's a little too verbose to load a full `ByteBuffer` into, for example, a `String`.

[code]

We can make the process simpler by providing a `String(from buffer: ByteBuffer)` initialiser.

[code]

Types to add:
- [x] String
- [x] Data (must go in `NIOFoundationCompat`)
- [x] Array<UInt8>
- [x] DispatchData

[2020-03-20 14:44] weissi commented on #1456
- [ ] `DispatchData`

[2020-03-20 20:34] jshier opened #1458 "configureHTTP2SecureUpgrade Deprecated But Replacement Isn't Public"
### Issue
`ChannelPipeline.configureHTTP2SecureUpgrade(h2ChannelConfigurator:http1ChannelConfigurator:)` is marked as deprecated and points to `Channel.configureHTTP2SecureUpgrade(h2ChannelConfigurator:http1ChannelConfigurator:)` as a replacement. However, `Channel.configureHTTP2SecureUpgrade(h2ChannelConfigurator:http1ChannelConfigurator:)` is still an `internal` method due to the extension that

[2020-03-20 20:47] Lukasa commented on #1458
Thanks for the find @jshier! Per-method ACLs are preferred, thanks. And thanks for providing a patch!

[2020-03-21 08:13] #1458 closed

[2020-03-24 14:45] weissi commented on #1049
We do now support iOS 9 (and probably 7 actually) and macOS 10.10 should also be supported. This has become much less important for NIO. I guess we should still set the correct versions for watchOS etc.

[2020-03-24 14:47] weissi commented on #1049
CC @tanner0101 we _think_ (only checked it for iOS 9) that NIO now supports macOS 10.10, so probably we don't actually need to add a `platforms: [...]` thing at least for macOS/iOS. You'll still get slightly better code if you raise this but it's no longer strictly necessary we think.

[2020-03-27 17:31] weissi opened #1462 "remove the @_exported import Glibc/Darwin"
We should've never done this but the ship has sailed. For 3.0.0 we should remove the `@_exported import Glibc/Darwin`.

[2020-03-30 21:43] weissi opened #1463 "flaky test ChannelTests.testSpecificConnectTimeout"
[code]

real machine, Ubuntu 18.04

[2020-03-31 08:23] #1456 closed

[2020-04-05 09:52] klaas commented on #1254
Hm... there is nothing at https://apple.github.io/swift-nio/docs/2.16.0/NIO/docsets/NIO.xml

The latest that I could find was https://apple.github.io/swift-nio/docs/2.13.0/NIO/docsets/NIO.xml

[2020-04-06 01:24] tomerd commented on #1254
we stoped publishing the docsets recently. how are you using these?

[2020-04-06 07:57] klaas commented on #1254
There's a "Install in Dash" button in the top right corner of https://apple.github.io/swift-nio/docs/current/NIO/index.html . That opens dash but then has an invalid "Docset feed URL".

Any other way to integrate them into Dash?

[2020-04-06 11:48] weissi commented on #1254
I'd also like to get the docsets back, @tomerd did they break or something?

[2020-04-07 07:17] Lukasa opened #1472 "Support propagating ECN information on `AddressedEnvelope`s"
It is possible that users of datagram channels may be interested in ECN information associated with the IP packets that carry the datagrams. It's possible to obtain this information from the OS and for us to propagate it through the channel, but today we do not.

The proposal for how to do so comes in multiple parts, each of which is probably a separate chunk of work:

- [ ] Add support for `Addre

[2020-04-15 08:36] liuxuan30 commented on #1254
@tomerd why stopped? Dash is a great tool for API. would be very sorry to see NIO dropped it.

[2020-04-16 10:14] trungutt commented on #1128
Works fine for the Xcode 11.4, no need for workaround anymore

[2020-04-16 11:04] weissi opened #1479 "flaky integration test: test_02_blacklisted_errnos.sh"
[code]

in other words, we didn't crash despite the fact we should've gotten an `EFAULT` from the kernel. Probably something in the `EFAULT`-causing program isn't actually as deterministic as we think it is.

[2020-04-16 14:08] Lukasa opened #1480 "ByteBuffer should be Hashable"
It's pretty rare that it makes sense for a type to be equatable but not hashable, and yet `ByteBuffer` is just one of those types. We should provide a hashable conformance for `ByteBuffer` that behaves just like its equatable one does, by hashing the readable bytes.

[2020-04-16 17:13] trungutt commented on #1128
It seems to work without the workaround on XCode 11.4 @aciidb0mb3r

[2020-04-16 19:55] Lukasa commented on #1480
Huh, never mind, it is.

[2020-04-16 19:55] #1480 closed

[2020-04-19 15:18] bikram990 opened #1484 "Binding ClientBootstrap to a specific Interface"
### Expected behavior
_I want to bind a client socket to a particular interface._

### Actual behavior
_Currently ClientBootstrap doesn't provide any options to do so._

### Steps to reproduce

1. Create a ClientBootstrap object
2. try to bind the channel in channelInitializer

### SwiftNIO version/commit hash : 2.16.0
Tag: _2.16.0_
Commit hash: _e876fb37410e0036b98b5361bb18e6854739572b_

### Swif

[2020-04-19 15:26] Lukasa commented on #1484
Are you sure you tried to call `bind` in `channelInitializer`? That should work just fine.

[2020-04-19 15:27] bikram990 commented on #1484
Yes, I've done that. It starts failing at later states.

[2020-04-19 15:36] bikram990 commented on #1484
Basically, Bind fails if I don't register the channel and If i register the channel in channelInitializer then resolve and connect fails.

Both time I get a `NIO.ChannelError.inappropriateOperationForState` error.

[2020-04-19 18:52] Lukasa commented on #1484
Hmm, seems like we may have broken this. We may want to add support for this somewhere else: maybe in the bootstrap. @weissi thoughts here, should we fix up `bind` or get the bootstrap to DTRT?

[2020-04-20 11:06] weissi commented on #1484
@Lukasa https://github.com/apple/swift-nio/pull/1192

[2020-04-20 17:07] weissi opened #1485 "ByteBuffer should give a user an answer to the question how large the underlying allocation is"
You'd think that `buffer.capacity` gives you the answer to the following question:

However, that is not true. If you're a slice of a `ByteBuffer`, you simply can't get an answer to this question...

Consider:

[code]

`otherBuffer.capacity` is now `1`, despite the fact that it may be the last thing holding onto 1 GB of memory.

We can either repurpose `.capacity` or create a new property that giv

[2020-04-21 09:49] weissi opened #1486 "rethink, probably remove IOData"
`sendfile` is almost never useful anymore these days because it doesn't work with TLS. Also `Network.framework` doesn't support it so we should rethink that `IOData` is (at least on the socket channels) the official outbound data type.

[2020-04-21 14:28] Lukasa opened #1487 "Update the Resolver interface"
NIO has spent the majority of its lifetime with a pluggable DNS resolver via the `Resolver` protocol:

https://github.com/apple/swift-nio/blob/197664726f402a90c69d9e2fbba885fc76fa6001/Sources/NIO/Resolver.swift#L16-L49

This resolver is a vital part of our connection establishment logic which uses Happy Eyeballs v2 to race outbound TCP connections against each other. The goal is to allow an arbitr

[2020-04-22 11:19] PeterAdams-A opened #1488 "Allocation tests flakey on docker swift 5.0"
### Expected behavior
Deterministic success or fail.

### Actual behavior
I ran the docker tests of nio on swift 5.0 3 times in a row on my laptop.  2 out of 3 failed with the error

[code]
### Steps to reproduce

Run the tests -

[code]

### If possible, minimal yet complete reproducer code (or URL to code)

### SwiftNIO version/commit hash

bootstrapShortcut2 branch but I believe also true on ma

[2020-04-22 13:27] weissi commented on #1488
Thanks @PeterAdams-A . Where did you get the allocation limits from?

[2020-04-22 13:28] weissi commented on #1488
oh sorry, you had the command there.

[2020-04-22 13:44] weissi commented on #1488
@PeterAdams-A hmm, so you have one _fewer_ allocations that I would expect.  Could you give me the output of `uname -a` as well as the exact git sha?

[2020-04-22 13:45] weissi commented on #1488
And actually also the output of `swift --version` because the Swift versions change over time (unlikely tbh since you joined)

[2020-04-23 12:25] Lukasa commented on #1441
Closing in favour of #1453.

[2020-04-23 12:25] #1441 closed

[2020-04-23 16:40] bikram990 commented on #1484
@Lukasa & @weissi is there any update if this will be soon available in swift nio?

[2020-04-23 17:48] weissi commented on #1484
@bikram990 I've started work on this :)

[2020-04-23 18:07] weissi commented on #1484
@bikram990 you can track it here: https://github.com/apple/swift-nio/pull/1490

[2020-04-28 13:10] Lukasa opened #1492 "BaseSocket.swift contains var that could be let"
Swift 5.3 now warns on:

https://github.com/apple/swift-nio/blob/197664726f402a90c69d9e2fbba885fc76fa6001/Sources/NIO/BaseSocket.swift#L368

This is a `var` that is not mutated, and so can be a `let`. This never used to be caught, but it is now, and breaks downstream test cases (see apple/swift-nio-http2#197).

[2020-04-28 14:48] Yourney opened #1494 "Since assigning IP Address 0.0.0.0 as a host, I get (harmless) error at launch of server"
### Expected behavior
Working in Vapor 4.4.0, I was advised that I needed to set hostname = "0.0.0.0" to make my server visible from outside my home network (after configuring the NAT in my Switch).
That worked great! (without that, I could not call the server from outside)

### Actual behavior
After setting the hostname to "0.0.0.0", I get two errors in my log:
[code]
The errors seem harmless, bu

[2020-04-28 14:57] Lukasa commented on #1494
These logs do not come from NIO, but from the OS. Please use `feedbackassistant.apple.com` to report them.

Thanks!

Cory

[2020-04-28 14:57] #1494 closed

[2020-04-28 15:01] Yourney commented on #1494
Thanks Cory!!
I might just do that!
Wouter

[2020-04-28 17:10] Lukasa opened #1495 "Add support for writing repeated bytes into a byte buffer."
I was working on a unit test where I needed `2**24` bytes in a byte buffer. Writing this the naive way is: `buffer.writeBytes(repeatElement(0, count: 1 << 24))`. This took around 16s. I replaced this with an unsafe pointer call to `memset` and it took more like 8ms.

We could solve this with a `writeRepeatedByte(_:count:)` that hides the unsafe code.

[2020-04-30 14:24] #1492 closed

[2020-05-04 09:48] Davidde94 opened #1503 "writeWithUnsafeMutableBytes is missing a precondition"
### Expected behavior
There should be a `precondition` to crash somewhat gracefully if an invalid value (e.g. `-1`) is passed.

### Actual behavior
Ungraceful malloc crash

### Steps to reproduce
Call `writeWithUnsafeMutableBytes(minimumWritableBytes: -1)`

### SwiftNIO version/commit hash
Every commit

### Swift & OS version (output of `swift --version && uname -a`)
Every version

[2020-05-04 09:50] Davidde94 commented on #1327
Closing this - we added official 5.2 CI (with the release images) in the linked PR

[2020-05-04 09:50] #1327 closed

[2020-05-04 10:08] Davidde94 opened #1504 "isKnownUniquelyReferenced logic is duplicated multiple time in HTTPRequest/ResponseHead"
The below code block is present a couple of times through the NIO codebase. It can be safely factored out into into a function with the name: `copyStorageIfNotUniquelyReferenced`

[code]

[2020-05-04 10:51] weissi commented on #1503
We just discussed this offline. All the necessary checks are there. What happened is that we requested `-1` bytes available at minimum but then still wrote a number of bytes in the buffer.

[2020-05-04 10:52] #1503 closed

[2020-05-04 11:01] weissi commented on #1504
We should factor this one out into a function called `copyStorageIfNotUniquelyReferenced`.

[2020-05-04 11:02] weissi commented on #1504
Note, this should be restricted to `HTTPTypes.swift` and leave the `ByteBuffer` code alone where there appear to be duplications but most of them are actually slightly different.

[2020-05-04 11:05] Lukasa commented on #1504
Agreed: several of `ByteBuffer`'s usages of `isKnownUniquelyReferenced` are explicitly to perform optimised operations (e.g. in `clear`, where we want to allocate a new clean buffer without doing the copy that `self._storage.copy` requires).

[2020-05-04 11:11] weissi commented on #1504
@Lukasa the problem I could see in `ByteBuffer` is that I failed to annotate every single `isKnownUniquelyRef`'d call with `// this is necessary for correctness` vs. `// this is only an optimisation, not necessary for correctness`.

[2020-05-04 14:37] shekhar-rajak commented on #1495
Hi,

Just want to clarify. So the task here is to replace the `buffer.writeBytes(repeatElement(0, count: size))`  to `writeRepeatedByte(byte:0, count:size)` in test files, wherever it is present ?

[2020-05-04 14:41] Lukasa commented on #1495
Nope, the task is to do what @Davidde94 is doing in #1500. That said, a follow-up task once #1500 is merged could be to replace the use of that `writeBytes` pattern.

[2020-05-04 14:42] shekhar-rajak commented on #1504
Hi,

Do we need to create method only in `HTTPTypes.swift` file and use it inside there only ?

[2020-05-04 14:42] shekhar-rajak commented on #1495
Okay, Got it. Thanks!

[2020-05-04 14:46] Davidde94 commented on #1445
@weissi does this need to be reopened?

[2020-05-04 15:51] weissi commented on #1504
@shekhar-rajak yes, it can be a `private mutating func` on the struct in `HTTPTypes.swift`

[2020-05-04 16:11] Davidde94 commented on #1495
I think it makes sense to replace all uses of `memset` / repeating bytes inside one PR

[2020-05-04 16:39] weissi commented on #1445
@Davidde94 oh shit, I actually mentioned the wrong issue. I think we need a fresh one for the time out, this is actually different.

[2020-05-04 17:10] shekhar-rajak commented on #1504
Thanks @weissi , I will work on it.

[2020-05-06 14:32] gwynne opened #1509 "Integration tests can not test assertion behaviors for all of NIO"
Pretty much what the title says. The integration tests can only test the crashing-ness (or not) of assertions in a very small subset of NIO's code (and of course the unit tests can't test it at all). This should be fixed and tests added for such methods as `EventLoop.preconditionInEventLoop()` and friends.

(Filed by request of @weissi and according to remarks in #1508)

[2020-05-07 10:52] weissi commented on #1509
Correct. When I first wrote [tests_05_assertions](https://github.com/apple/swift-nio/blob/master/IntegrationTests/tests_05_assertions) I wanted to save compile time in CI by constructing a reduced NIO package (`https://github.com/apple/swift-nio/blob/master/IntegrationTests/tests_05_assertions/defines.sh`).

That was a bad idea, we should just take the 30 seconds to compile NIO and build a package

[2020-05-07 11:51] #1504 closed

[2020-05-07 12:14] #1495 closed

[2020-05-07 18:57] vlm opened #1511 "[Performance] Decoding Decodables from ByteBuffer is not zero-copy."
### Expected behavior

The `ByteBuffer`'s `getJSONDecodable` ought to be zero-copy.

### Actual behavior

The `ByteBuffer`'s `getJSONDecodable` doesn't use zero-copy flags to `getData`.

The `getData`'s `byteTransferStrategy:` option at https://github.com/apple/swift-nio/blob/eb140159386d19fa2c9439af24286982a52fb0b3/Sources/NIOFoundationCompat/ByteBuffer-foundation.swift#L109 could have been set t

[2020-05-07 19:00] vlm commented on #1511
Also since the `getData`'s result is not leaked outside of the decoder function, there's opportunity to perform zero-copy without allocating the deallocator function when constructing `Data`.

[2020-05-07 19:02] Lukasa commented on #1511
We should unconditionally use zero-copy here; copying is only used on small buffers to avoid retaining large ones for small amounts of data, and that’s not really relevant here.

[2020-05-07 19:16] Lukasa commented on #1511
I don’t think that’s entirely accurate. There is no guarantee in the `JSONDecoder` API that the passed in `Data` is not sliced to produce any output `Data` objects, at least not that I’m aware of. So we need to defend against the possibility that the `Data` we pass in may be propagated outside the function.

[2020-05-08 10:45] gautierdelorme opened #1512 "fix cores count in containers"
The current `System.coreCount` implementation relies on `_SC_NPROCESSORS_ONLN` so isn't cgroups aware which might have a bad impact for apps runnings in containers (e.g. Docker, Kubernetes, Amazon ECS...).
This issue might affect many users since SwiftNIO examples and documentation recommend the usage of `System.coreCount` to start event loops through `MultiThreadedEventLoopGroup(numberOfThreads:

[2020-05-11 06:35] Lukasa commented on #1512
I agree. More broadly, any platform that supports restricting available resources where we also expose an API to discuss those resources, our APIs should reflect the restrictions if at all possible. I can see no immediate utility in adding an API for the "true" number of cores: NIO isn't shipping a general purpose OS query API, just one that serves specific NIO use-cases, and the theoretical numbe

[2020-05-11 08:35] gautierdelorme commented on #1512
@Lukasa I think CPU stats in `/proc/stat` are shared between hosts and containers. Here is what I had in mind to calculate `System.coreCount` (if linux):

- if CFS quota enabled (`/sys/fs/cgroup/cpu/cpu.cfs_quota_us` exists and `!= -1`)
   - return `/sys/fs/cgroup/cpu/cpu.cfs_quota_us` **/** `/sys/fs/cgroup/cpu/cpu.cfs_period_us` (rounded)
- else if cpusets defined
   - return CPU count from:
[cod

[2020-05-11 09:50] Lukasa commented on #1512
I think the cpusets solution doesn't work sensibly if you've already pinned a thread to a CPU, no?

[2020-05-11 10:12] gautierdelorme commented on #1512
@Lukasa `pthread_getaffinity_np` fetches the set of CPUs available to the specified thread and `pthread_self` return the id of the current thread so we should always get the number of CPUs available for the current thread. Let me know if there are use cases where this is not what we want.
An alternative would be to parse `/sys/fs/cgroup/cpuset/cpuset.cpus`.

[2020-05-11 10:25] Lukasa commented on #1512
This is not what we want in any case where someone has already set a thread affinity. For example, NIO supports setting the thread affinity of the event loop threads.

[2020-05-11 10:53] gautierdelorme commented on #1512
Sure but within the event loop threads it seemed reasonable to me to also return only the number of CPUs available to those threads? Seems like I'm wrong so how do you feel about the other solution: parsing `/sys/fs/cgroup/cpuset/cpuset.cpus`?

[2020-05-11 10:55] Lukasa commented on #1512
I'm happy with that.

The problem is just because your current thread is pinned to a core doesn't mean new threads have to be pinned to that core. That means we don't want you to get confused about the resources available to your program.

[2020-05-11 11:09] art-3 commented on #1512
Makes sense! Thanks for bringing that up @Lukasa. 👍
I’ll start working on a fix.

[2020-05-11 11:37] gautierdelorme commented on #1512
@Lukasa Thanks for bringing that up! It makes sense. I’ll start working on a fix! 👍

[2020-05-11 12:35] gautierdelorme commented on #1512
@Lukasa Your comment made me realize the following implementation might be an issue: https://github.com/apple/swift-nio/blob/eb140159386d19fa2c9439af24286982a52fb0b3/Sources/NIO/LinuxCPUSet.swift#L29-L31

When for example containers are started with `--cpuset-cpus=3`, `System.coreCount` should return `0` but `3` is still a valid CPU id, right?

[2020-05-11 12:38] Lukasa commented on #1512
Yeah, that's correct, this precondition no longer holds. That's ok, we can just remove it, I think.

[2020-05-11 14:04] weissi commented on #1511
exactly because of what @Lukasa says, I decided not to do this but was thinking about asking the Foundation folks if they would be happy to make the guarantee that `JSONDecoder` never still references the `Data` that was passed in.

[2020-05-11 14:06] weissi opened #1514 "flaky test: SALChannelTest.testBasicConnectedChannel"
in docker (5.2):

[code]

[2020-05-13 18:14] hjuraev opened #1520 "NIOPipeBootstrap assertion failed"
### Expected behavior
Initialize NIOPipeBootstrap and setup pipeline

### Actual behavior

Assertion failed: leaked open NIOFileHandle(descriptor: 4). Call `close()` to close or `takeDescriptorOwnership()` to take ownership and close by some other means.

### Steps to reproduce

        try NIOPipeBootstrap(group: app.eventLoopGroup).channelInitializer({ channel -> EventLoopFuture<Void> in

[2020-05-14 11:05] weissi commented on #1520
We've debugged this in the Vapor discord. The respective `input` & `output` fds were kqueues, not pipes so making them non-blocking failed :)

[2020-05-14 11:13] #1520 closed

[2020-05-15 09:09] #1512 closed

[2020-05-20 12:20] weissi opened #1525 "HTTP*ResponsePart: Add an enum case for informal responses"
We need to properly handle informal responses. The rule should be:

- exactly one `.head`
- 0 or more `.informalResponse`
- 0 or more `.body`
- exactly one `.end`

Unfortunately that's SemVer major, so let's do in NIO 3.

[2020-05-22 11:14] weissi opened #1527 "use #filepath instead of #file"
Once we drop 5.0 and 5.1 support, we should migrate to `#filepath` (from `#file`).

See also: #1526

[2020-05-24 19:02] weissi opened #1528 "swift-nio repo takes too long to clone"
We've gotten more reports that `swift-nio` is slow to clone and it seems like the in-repo `gh-pages` branch is becoming a problem. See this:

[code]

So it seems that out of the 45 MB in our repo, the `gh-pages` branch makes up for everything but 11 MB. We ought to move the docs.

CC @tomerd

[2020-05-26 22:44] tomerd commented on #1528
afaik this is a result of the docsets, which is why I removed them - see https://github.com/apple/swift-nio/pull/1478 for more discussion on that

I suggest the following plan:
1. remove the docsets from the history which will help this issue
2. find a new home for docs outside gh-pages like s3 where we can also include the docsets for folks that need/want them

[2020-05-29 09:37] Lukasa opened #1535 "Flaky test: EventLoopTest.testScheduleRepeatedTaskCancelFromDifferentThread"
Seen in #1532:

[code]

We believe we fixed this in #554, but it's back here.

[2020-05-29 09:37] Lukasa commented on #1535
[Direct build log link](https://ci.swiftserver.group/job/swift-nio2-swift50-prb/2063/console).

[2020-06-01 12:02] weissi opened #1537 "remove the fullFilePath() hack in the tests"
Once we can depend on Swift 5.3 to be the oldest supported version (NIO 3+), we should remove all the

[code]

in the tests again and just use `#filePath`/`#file` where appropriate.

[2020-06-01 12:36] glbrntt commented on #1535
And again in #1526 ([logs](https://ci.swiftserver.group/job/swift-nio2-swift50-prb/2084/console))

[2020-06-01 17:00] weissi commented on #1535
So weird, #554 was believed to be fixed in August 2018. It hasn't happened since and now it's racy again? Sounds like we may have changed something?

[2020-06-02 13:48] #1535 closed

[2020-06-02 16:51] glbrntt opened #1541 "Ordering of tasks scheduled with the same deadline on `SelectableEventLoop` is undefined"
If two tasks are scheduled on an event loop with the same deadline then the order in which they fire is not guaranteed. This is unlikely to happen in the real world but it is possible. On `EmbeddedEventLoop` it is far more likely to happen as time is controlled.

We should update `SelectableEventLoop` such that scheduled tasks are ordered by their deadline and ties are broken on the order in which

[2020-06-02 17:01] weissi commented on #684
See also: https://bugs.swift.org/browse/SR-12926

[2020-06-03 08:17] Subhashini2610 opened #1542 "iOS 13 Transport cipher issue"
Certificate based socket connection via NIOTransport does not work for iOS 13 and above with the following cipher:
TLS_DHE_RSA_WITH_AES_256_GCM_SHA384
This works for iOS 12.
Please note that the cipher cannot be changed as all server side development was stopped long ago.

### Expected behavior
_Normal socket connection should be established as it works with the same cipher on iOS 12_

### Actual

[2020-06-03 08:20] Lukasa commented on #1542
[`sec_protocol_options_add_tls_ciphersuite` is deprecated](https://developer.apple.com/documentation/security/2976270-sec_protocol_options_add_tls_cip) and was replaced with [`sec_protocol_options_append_tls_ciphersuite`](https://developer.apple.com/documentation/security/3180215-sec_protocol_options_append_tls_).

In future, please only use the SwiftNIO issue tracker for issues with SwiftNIO itse

[2020-06-03 08:20] #1542 closed

[2020-06-05 10:03] weissi opened #1545 "flaky test: NIOTests.SALChannelTest testBasicConnectedChannel"
macOS CI failure

[code]

[2020-06-08 09:28] weissi commented on #1545
and again

[code]

in 5.3

[2020-06-08 09:47] weissi commented on #1484
Sorry for the massive delay @bikram990 . This should be released as 2.18.0 quite soon

[2020-06-08 09:48] bikram990 commented on #1484
No Problem, good to see that it's finally getting fixed.

[2020-06-08 10:02] weissi opened #1548 "flaky test SALChannelTest.testWritesFromWritabilityNotificationsDoNotGetLostIfWePreviouslyWroteEverything"
in docker.

[code]

[2020-06-08 17:24] weissi opened #1550 "flaky test SALChannelTest.testBasicRead"
in docker

[code]

[2020-06-08 17:25] weissi commented on #1545
related to #1548 and #1550

[2020-06-10 15:55] weissi opened #1553 "Support PipeChannels that are half-closed to start with"
This should be fairly straightforward to implement: We should have a `PipeChannel` that starts with only one file descriptor so is implicitly half-closed on the other one.

For more info see #288

[2020-06-14 10:48] weissi opened #1555 "code of conduct uses old version 1.3.0, should be updated to 1.4"
Thanks to @gwynne who made me aware that we're using the old version 1.3.0.

IMHO we should update `apple/swift-nio{*,log,metrics,...}` and `swift-server/*` to match the new CoC version.

NIO's version is slightly adapted. The CoC file is three parts:

1. specific header about the project (NIO)
2. very slightly adapted "Covenant Contributor Code of Conduct"
3. footer including where to report.

I

[2020-06-14 10:50] weissi commented on #1555
@tomerd can we just do the CoC update or who'd need to approve?

[2020-06-16 01:13] tomerd commented on #1555
@weissi I believe this needs to be aligned with https://swift.org/community/#code-of-conduct

so if there are changes required we should propose them there first and then ripple down

[2020-06-16 09:53] weissi commented on #1555
@tomerd Sounds good to me! Who's responsible for these changes for swift.org ?

[2020-06-16 17:28] tomerd commented on #1555
if there are changes required, please bring them up in an email to ted / myself and I will bring them up with the core team etc

[2020-06-16 17:28] tomerd commented on #1555
cc @gwynne

[2020-06-16 18:21] gmilos commented on #1332
We now have support for `String` and `Substring`, this covers most of the use cases and it'd be risky to support other `StringProtocol`s since the performance might be subpar (and unexpected). Let's close until there is clear use case.

[2020-06-16 18:21] #1332 closed

[2020-06-17 10:53] weissi opened #1558 "tweak the defaults for the RecvAllocator to be reasonable"
Currently, the default size for the adaptive rvc allocator is I think 64 bytes. We should probably start with something around MTU because a TLS connection will have pretty large Client/ServerHellos.

[2020-06-17 15:31] Lukasa commented on #306
@marlimox fixed this in #1210.

[2020-06-17 15:31] #306 closed

[2020-06-17 15:41] weissi commented on #1047
This is very old, we have improved a lot since. Let's close this

[2020-06-17 15:41] #1047 closed

[2020-06-17 15:42] Lukasa commented on #922
Closing for inactive.

[2020-06-17 15:42] #922 closed

[2020-06-18 08:08] PeterAdams-A commented on #1545
Two more occurrences in the last 24 hours...

2020-06-17 22:18:03.255 - Test Case '-[NIOTests.SALChannelTest testBasicConnectedChannel]' started.
2020-06-17 22:18:03.255 - /otmp/od.lYV2F3/lw.zJYfvN/9ka8-suvd91os41nv9_5-1661775/t.yTvWxE/0~Auo0bWZwwTZfcnb2Qrm-9m8J3KHcP6DOXypCi-tKufWiPNNoMi7f7QfDcb9nLAoLroGXau05jlbhhEiAF1vxdQ==/SRCROOT/Tests/NIOTests/SyscallAbstractionLayer.swift:41: error: -[NIOTest

[2020-06-18 09:49] t-ae opened #1559 "Question abount flatMapThrowing"
ELF has `map`/`flatMap`/`flatMapThrowing`.
I wonder:

1. why `flatMapThrowing` behaves like `map` rather than `flatMap`?
2. why there's no throwing `flatMap`?

There are some people confused like me.

- https://github.com/vapor/vapor/issues/2298
- https://stackoverflow.com/questions/60574239/chained-throwing-futures-in-swiftnio-vapor

`flatMapThrowing` is introduced in #760.
The author @weissi sai

[2020-06-18 10:32] weissi commented on #1559
It depends on the view point. Try implementing `flatMapThrowing` from `map` and you'll see that it's not expressible as a `map`. It works more more like a `flatMap`, you can implement `flatMapThrowing` from just `flatMap`.

`map`s usually stays on the _success path_, no matter what they do. `flatMap` can go from the success path into the success path _or_ the failure path. Therefore we named it `f

[2020-06-18 11:29] t-ae commented on #1559
I was thinking very same thing when trying Vapor 3 (There were tons of that). But that helped making code simpler, so I decided to use it.
Now, migrating to Vapor 4, I have to rewrite all of them😂

I have some code like below:

[code]

Synchronous func appears in asynchronous context.
AFAIK current API cannot handle such case as simple as this(Using `flatMap` with `do-catch` or `tryFuture`?).

[2020-06-18 12:01] weissi commented on #1559
You could add your own version `thenThrowing` that does that and deprecate it. Then your code will work but you'll get warnings and you can fix them at the end.

This should do it

[code]

[2020-06-18 12:12] t-ae commented on #1559
Unfortunately I was using`flatMap` of Vapor 3.

I know the way to define `flatMapThrowingMaybe`.
I meant to say synchronous func in asynchronous context is common case, so `flatMapThrowingMaybe` is worth having in API.

[2020-06-18 12:15] weissi commented on #1559
Well, if your function is fully synchronous (does not return a future), then `flatMapThrowing` is your function. If your function is asynchronous, it shouldn't throw (it should `return eventLoop.makeFailedFuture(error)` if something goes wrong).

If you have a `throws -> EventLoopFuture<Void>` kind of function, then I think you should fix that function to choose whether it wants to be synchronous

[2020-06-18 14:51] Davidde94 opened #1561 "`EmbeddedChannel.writeOutbound` doesn't throw if only `context.fireErrorCaught` is called"
### Expected behavior
I would have expected `writeOutbound` to have identical behaviour to `writeInbound` in that it should throw if either or both of the following are true:
- A promise is failed
- A handler calls `context.fireErrorCaught`

### Actual behavior
If the promise isn't failed but `fireErrorCaught` is called then `writeOutbound` doesn't throw, but `writeInbound` does.

### Note
This sh

[2020-06-18 17:01] #1514 closed

[2020-06-18 17:01] #1545 closed

[2020-06-18 17:01] #1548 closed

[2020-06-18 17:01] #1550 closed

[2020-06-18 17:05] t089 commented on #1561
Please correct me if I’m wrong, but I thought that `errorCaught` is explicitly only for inbound handlers and thus inbound errors. Outbound errors are only propagated through the given promise/future.

[2020-06-18 17:09] weissi commented on #1561
@t089 `errorCaught` is only served to inbound handlers indeed. `writeInbound`/`writeOutbound` are methods on `EmbeddedChannel` only that you use for testing.

Because in unit tests when making sure that something doesn't fail, you typically _also_ want to check that no errors have been delivered through the pipeline. (Most of the time in `EmbeddedChannel`s, you test handlers in isolation actually)

[2020-06-18 17:48] aciidb0mb3r opened #1563 "Provide a convenience API for dispatching blocking work"
In order to perform blocking work, you current have to either use a DispatchQueue with a promise or setup your own NIOThreadPool. It would be great if NIO can provide a convenience API for scheduling blocking work that returns a future. This could be something like:

[code]

[2020-06-18 17:50] weissi commented on #1563
Definite yes from me! We should have one for `DispatchQueue` and one for `NIOThreadPool`. Implementation looks totally fine to me, thoughts about the name @Lukasa / @glbrntt / @Davidde94 / @tanner0101  ?

[2020-06-18 18:15] t089 commented on #1561
Thanks a lot for the explanation. I missed the EmbeddedEventLoop part. Makes sense now 😀

[2020-06-19 00:06] t-ae commented on #1559
I'll rewrite all my `throws -> EventLoopFuture<Void>`s at first. Perhaps I can get some enlightenment from that.
Thank you @weissi.

[2020-06-19 00:06] #1559 closed

[2020-06-19 07:29] PeterAdams-A opened #1564 "flaky test: testInstantTCPConnectionResetThrowsError"
[code]

[2020-06-19 08:59] Lukasa commented on #1563
I've written code that's almost exactly like this in a couple of projects, with one exception: I built the function on top of an extension on `DispatchQueue`. That is, the base functionality is:

[code]

Then the composition is very straightforward, and also allows straightforward compositions of the `flatMap` set that actually pass the result of the future chain:

[code]

This allows the widest f

[2020-06-20 12:39] gmilos commented on #1334
Looks like the core of the bug is rescheduling on the `Future`'s `EventLoop`, not on the `RepeatedTask`'s `EventLoop`: https://github.com/apple/swift-nio/blob/7100980bf7d8bc1cf862c5558ad2e12cd8991661/Sources/NIO/EventLoop.swift#L148. Same issue with the cancellation few lines below: https://github.com/apple/swift-nio/blob/7100980bf7d8bc1cf862c5558ad2e12cd8991661/Sources/NIO/EventLoop.swift#L153.

[2020-06-22 08:06] glbrntt commented on #1563
+1 from me too. I'm okay dropping the `Blocking` and inferring that from `on`/`onto`.

Should we add `when{Success,Failure,Complete}` variants as well?

[2020-06-22 10:49] weissi commented on #1334
@gmilos you can do that test OR you can use `futureFromRandomEventLoop.hop(to: myPreferredEventLoop)`

[2020-06-22 10:58] weissi commented on #1563
I think we should have a word like `Blocking` or something similar in there. Otherwise it becomes _really_ confusing to the users: You must never block, unless you to a `on:`/`onto:` parameter in the `flatMap`.

[2020-06-22 11:00] ktoso commented on #1563
+1 for keeping "blocking" in the name, such things need careful consideration and spelling it out is more important than short method names IMO.

No strong feels about extension being on DispatchQueue or ELF though hm

[2020-06-22 11:03] weissi commented on #1563
I think we should do both tbh. The ELF `flatMapBlocking` extension is more important for the users but there's no reason we shouldn't also have one on `DispatchQueue`.

[2020-06-22 11:09] weissi commented on #1564
[code]

[2020-06-22 11:09] weissi commented on #1564
this is on macOS

[2020-06-22 12:17] glbrntt commented on #1563
True, good point.

[2020-06-23 13:54] weissi commented on #1097
happened just once almost a year ago. Also there were a bunch of changes in this area, let's close.

[2020-06-23 13:54] #1097 closed

[2020-06-23 17:27] gmilos opened #1568 "RepeatedTask created via scheduleRepeatedAsyncTask should terminate on ELF errors"
### Expected behavior
We'd expect that if `task` submitted to `EventLoop.scheduleRepeatedAsyncTask` returns ELF that eventually errors, the task should stop being scheduled.

That API would have number of advantages in comparison to the current one:
- it'd more closely mimick synchronous execution. Note that the `task` throwing an error (equivalent to `task` returning a failed ELF in the async flo

[2020-06-24 11:06] glbrntt commented on #1147
and again in CI 5.0:

[code]

[2020-06-24 11:32] weissi commented on #1147
heh, seems to be about once every 4 months :P

[2020-06-25 10:46] Lukasa opened #1575 "Document patterns around weak/unowned capture in futures"
A common pattern for developers coming from iOS backgrounds is to reflexively capture `self` as `weak` or `unowned` when writing `Future` callbacks. This is a defensive programming pattern inspired by the fact that most frameworks are not clear about the lifetime of closures passed into them, and so it is possible these will establish unbreakable retain cycles.

In SwiftNIO, however, the following

[2020-06-26 08:19] #1334 closed

[2020-06-28 17:13] aciidb0mb3r opened #1577 "A helper for easily unwrapping optional values in an EventLoopFuture"
I often find myself unwrapping optional values in a future but it's kind of annoying to keep writing the boilerplate code of flatMapThrowing + gaurd let + throw error. I ended up writing this extension:

[code]

And now I am able to write code that looks like:

[code]

I wonder if this helper can/should be added to NIO itself?

[2020-06-29 07:08] Lukasa commented on #1577
We've generally resisted adding too many helpers directly into NIO for this kind of thing, in part because they have a tendency to proliferate. After all, here you want to throw an error, but a nil-coalescing equivalent method could also be added (`unwrapOptional(orReplace:)`). Then we start ending up pretty deep into the flow control story.

_However_, for optional specifically I'm a bit tempted

[2020-06-29 08:02] Davidde94 commented on #1577
@Lukasa agree with your points - I'd say that if we think there's a common use case for this (or there will be) then the implementation looks clean/simple enough to get it in (probably as a "good first issue").

[2020-06-29 11:49] Davidde94 opened #1579 "MessageToByteEncoder doesn't allow mutating conformance"
When creating a `MessageToByteEncoder`, I'd expect a struct to be able to conform properly. However, if we track some state that is changed on a call to `encode()` then the function needs to be marked as mutating, but the protocol does not allow for this.

[2020-06-29 11:56] Lukasa commented on #1579
Sadly to do this is a semver major: users can no longer assume that the method won't mutate. This probably doesn't break any real code (who the heck is writing something generic over this other than us?), but still, better to be safe than sorry.

[2020-06-30 10:42] 0xTim commented on #1577
FYI Vapor has an `unwrap(or:)` function that does exactly this (and I much prefer that cleaner callsite as well)

[2020-07-09 09:15] adam-fowler opened #1586 "NIOHTTP1TestServer closes channel before .end written if "Content-Length" header exists"
### Expected behavior
Is it expected behaviour when writing a response using `NIOHTTP1TestServer` with a "Content-Length" header that it closes the channel before you get a chance to call `writeOutbound(.end(nil))`?

### Actual behavior
Randomly while running inside a docker image `writeOutbound(.end(nil))` returns a failed future with error `ChannelError.ioOnClosedChannel` if the previous `.head`

[2020-07-09 09:23] Lukasa commented on #1586
I suspect the test server isn't closing this channel, but instead that the client is closing it. This is outside of our control: the client will do that if it wants to, and we don't currently tolerate it.

I suspect it would be a good idea to add code to spot this use-case and say "well, the client may have closed this on its own so no big deal".

[2020-07-13 09:37] glbrntt opened #1589 "`ByteBuffer.clear(minimumCapacity:)` uses `_Capacity` as it's type for `minimumCapacity`"
### Expected behavior

NIO shouldn't expose `_UnderscoreInternal` types in its public API.

### Actual behavior

`ByteBuffer.clear(minimumCapacity:)` uses `_Capacity` instead of `Int`, see:

https://github.com/apple/swift-nio/blob/ee8acd9b3d0e2f00b852743f86075c35bea9e986/Sources/NIO/ByteBuffer-core.swift#L711

[2020-07-13 09:39] glbrntt commented on #1589
We should probably just deprecate it and replace it with `public mutating func clear(minimumCapacity: Int)`

[2020-07-13 09:41] Lukasa commented on #1589
Good spot

[2020-07-14 14:35] OHeroJ opened #1592 "swift-nio repo takes too long to clone"
swift-nio repo takes too long to clone

[2020-07-15 02:27] ktoso commented on #1592
How long is long?
It very could be a matter of your network, or github specifically.

For reference

Is pretty ok

[2020-07-15 07:50] keniwhat opened #1595 "HTTPDecoder crashes with nil optional"
### Expected behavior
Application should run.

NOTE: SSL connection is used.

All combinations fail on Linux.

### Actual behavior

Application crashes at line 341 in swift-nio/NIOHTTP1/HTTPDecoder with a nil optional.

### Steps to reproduce

1. Build an app on Linux use vapor-websocketkit.
2. Run app.

When using vapor web socket-kit, my swift app crashes at line 341 in swift-nio/NIOHTTP1/HTTPDe

[2020-07-15 07:56] glbrntt commented on #1592
This is a dupe of #1528 -- the `gh-pages` branch is quite large which causes _some_ slowness.

[2020-07-15 08:04] Lukasa commented on #1595
This is not possible: the `swap` function _must_ work. It is more likely that there is either a re-entrancy or threading bug.

Do you have a call stack you can provide please? If you aren't seeing one normally, you can run your process under `lldb` until it crashes, and then use `bt` to print a backtrace. Can you also provide details on how you're building your application?

[2020-07-15 08:04] ktoso commented on #1592
Ah the docs, makes sense :) +1ing that ticket

[2020-07-15 08:05] #1592 closed

[2020-07-15 18:55] tanner0101 commented on #1595
FWIW, this was originally reported here: https://github.com/vapor/websocket-kit/issues/73. If it seems like it's actually in WSKit lmk.

[2020-07-15 21:17] keniwhat commented on #1595
This was first reported against vapor/websocket-kit.  I am having trouble reproducing this issue in my latest code base, after swapping vapor/wesbsocket-kit back in.  Will backtrack and try to reproduce.

[2020-07-23 14:11] PeterAdams-A commented on #1472
Solved for swift-nio iin #1587, #1590, #1591, #1593 , #1594 and #1596.

I've made an issue in transport services - https://github.com/apple/swift-nio-transport-services/issues/100 to track adding this support there.

[2020-07-23 14:11] #1472 closed

[2020-07-26 14:00] tschuett opened #1599 "EventLoopFuture with Result<> -> Result<> closure"
I am looking for a flatMap variant where the closure takes a Result<> and returns a Result<> or an EventLoopFuture
Is this possible?
_ callback: @escaping (Result<Value,SomeError) -> EventLoopFuture<NewValue>
or
_ callback: @escaping (Result<Value,SomeError) -> Result<NewValue, SomeOtherError>
I want to propagate the error through the chain. In the former case, I would return a failed future.

[2020-07-27 09:03] glbrntt commented on #1599
You can think of there being two paths for a callback chain: a success path and a failure path.

Some functions stay on the same path while others can move between the two. `map`, for example, will only execute if you're on the success path and will guarantee that you stay on the success path. `recover` will only be executed on the failure path and guarantees that you move to the success path.

As

[2020-07-27 19:39] tschuett commented on #1599
Maybe I missed something:
`var fut = EventLoopFuture<Value>`
If `fut` failed, then I want to return a `GRPCStatus` with some callback.
If `fut` succeed, then I have some `flatMap` that will continue on the success path.

[2020-07-28 07:32] Lukasa commented on #1599
What does the success path ultimately produce? Note that in the end you'll need to have a `Future` of a single type here.

[2020-07-28 09:25] tschuett commented on #1599
I have a function that returns an `EventLoopFuture<GRPCStatus>`. I used to have a long list of flatMaps processing the result and finally return GRPCStatus(code: .ok, message: nil) unconditionally . I ignored errors for the moment. What happens, if a have an error in the middle. Can I do an early return?

[2020-07-28 09:50] glbrntt commented on #1599
If one of your `flatMap`s returns a failed future, then subsequent `flatMaps` will not be executed.

If `doSomethingElse` returns a _failed_ future then the callback containing `doAnotherThing()` will not be called. `status` will be a _failed_ future holding the error that was thrown by `doSomethingElse`.

[code]

[2020-07-28 11:34] tschuett commented on #1599
Yes, but this only works, if all intermediate Futures are of type EFT<GRPCStatus>. Right?

[2020-07-28 12:09] glbrntt commented on #1599
Is your goal to _always_ end up with an `EventLoopFuture<GRPCStatus>` in the _success_ state, irregardless of an error?

[2020-07-28 12:12] tschuett commented on #1599
Yes, but the intermediate futures could be `EFT<A>` , `EFT<B>` , and `EFT<C>` on the success path. It would end with `EFT<GRPCStatus>`

[2020-07-28 12:30] glbrntt commented on #1599
[`recover`](https://github.com/apple/swift-nio/blob/3cfb3f1d6efb05d1e93be342ea3d3e99aed00bb5/Sources/NIO/EventLoopFuture.swift#L648) will only be executed in the failure state and guarantees that you will move back to the success state:

[code]

[2020-07-28 13:34] thomasvl opened #1600 "Spin `check_no_api_breakages.sh` out and provide a common github action"
`check_no_api_breakages.sh` can be useful to projects to help ensure sure they don't accidentally break apis while adding new features.  Since it requires `jq` and a non-Xcode Swift toolchain (for `swift-api-digester` support), it isn't that easy to run on a Mac.

So the request here is to spin out the script and provide a standard GitHub action that enabled the easy wiring of this script so it co

[2020-07-28 13:48] Lukasa commented on #1600
@tomerd Does this sound like something we should be shipping?

[2020-07-29 14:09] OHeroJ commented on #1592
More than 5 minutes

[2020-07-30 04:07] kmahar opened #1601 "NIO will not build when used in command-line generated .xcodeproj"
Hey all - happened to run into this issue creating a fresh project depending on the MongoDB driver (which depends on NIO 2.0.0 up to the next major version).

Due to a SwiftPM bug which doesn't apply `cSettings` to Swift targets (see discussion [here](https://forums.swift.org/t/xcode-swiftpm-integration-ignores-csettings/38487)), the driver currently doesn't build via the Xcode SwiftPM integration

[2020-07-30 08:37] orj opened #1602 "TLS Certificate Transparency Support?"
Just a question really.  Can/does SwiftNIO support verifying Signed Certificate Timestamps for TLS connections? Thus implementing Client-side Certificate Transparency verification similar to what Apple Transport Security does?

Thanks

[2020-07-30 15:26] franck-clement-ug opened #1603 "Can't Archive Xcode project with Swift-NIO 2.20.0 dependency"
Hi !

Since the release of the version 2.20.0 yesterday, I'm experiencing issues building one of my project that includes the Swift-NIO project as an SPM dependency.

When archiving I have this issue:

`Integer literal '3735928559' overflows when stored into 'Int'`

![Capture d’écran, le 2020-07-30 à 11 28 41](https://user-images.githubusercontent.com/60363334/88942196-f1dcf980-d257-11ea-8674-1906

[2020-07-30 17:00] glbrntt commented on #1603
Thanks for reporting this, it should be fixed by #1604.

Just a note on this: you can add SwiftNIO as a dependency directly to your package and require that the version is less than 2.20.0. As long as SwiftPM can find a version of SwiftNIO which satisfies your direct requirement and gRPC Swift's version requirement on SwiftNIO then it should be fine. Of course that's not the correct solution to t

[2020-07-30 17:18] franck-clement-ug commented on #1603
@glbrntt Thanks you for the fix information.

And I'll definitely try you suggestion to workaround and explicitly set the version to 2.19.0 until fixed

[2020-07-31 08:18] PeterAdams-A commented on #1603
I have just published swift-nio 2.20.1 which should solve this issue for you.

[2020-07-31 08:18] #1603 closed

[2020-07-31 08:24] gkaindl commented on #1601
Just a quick tip for others bitten by this problem, who come here through Google search: Until this is getting addressed in a new release, you can pin NIO to 2.19.0 as workaround in your main app's `Package.swift`, even if NIO actually gets pulled in through a dependency of your main app as a sub-dependency.

[code]

Run `swift package resolve`, and you can build it again.

Sorry for adding this c

[2020-07-31 08:26] Lukasa commented on #1601
Good catch @kmahar, thanks. I think the fix is easy, one second.

[2020-07-31 08:57] #1601 closed

[2020-07-31 14:17] kmahar commented on #1601
thanks for the quick fix and release @Lukasa!

[2020-07-31 14:27] PeterAdams-A commented on #1488
These are now stable enough

[2020-07-31 14:27] #1488 closed

[2020-07-31 14:36] PeterAdams-A commented on #1243
I believe this was fixed in #1338

[2020-07-31 14:36] #1243 closed

[2020-08-02 08:08] ktoso opened #1607 "Consider additional docs around user events re "be careful with assuming ordering" etc"
### Expected behavior

The docs dont talk much about ordering between data and user events.
I had a moment of "wait a moment, I should likely watch out here..." but could not exactly remember the issue recently.

It'd be nice if the docs on functions around user events document it a bit more, e.g.

[code]

Just an idea on the docs, I'm sure the exact wording is not very good, open to ideas or wher

[2020-08-02 15:13] Lukasa commented on #1607
Does #1606 cover your needs?

[2020-08-03 01:22] ktoso commented on #1607
Yes I think that's good 👍

[2020-08-03 01:46] pokryfka opened #1608 "Consider creating public EventLoopGroupProvider type"
`EventLoopGroupProvider` type is used in a number of swift-server libraries, example from [AsyncHTTPClient](https://github.com/swift-server/async-http-client/blob/c9a9bf061d713c91ee9974fa8a6afe413acfd0e9/Sources/AsyncHTTPClient/HTTPClient.swift#L737-L743):

[code]

Currently different libraries (have to) implement (copy and paste) the same type in different namespaces.

This is a bit of a hassle a

[2020-08-03 06:32] Lukasa commented on #1608
I think that seems like a reasonable enough request. As the feature is very small, this can be something that someone in the community provides.

[2020-08-03 06:39] pokryfka commented on #1608
@Lukasa

the implementation is literally copying the example above to new namespace - hopefully for the last time!

please let me know if to create PR with the change

and if you expect any unit tests 🤔

[2020-08-03 06:41] Lukasa commented on #1608
Feel free to create the PR. I think I'd like a quick unit test that confirms that the `EventLoopGroup` you put in comes back out. This is not normally a test we'd bother writing, but it's a bad idea to have API surface that is completely unused within the project.

[2020-08-03 08:17] #1607 closed

[2020-08-03 12:25] #1608 closed

[2020-08-04 04:59] ktoso commented on #1607
Thanks folks 👍

[2020-08-04 07:16] Lukasa commented on #1602
SwiftNIO does not do TLS. [SwiftNIO SSL](https://github.com/apple/swift-nio-ssl) does. Currently that project does not validate SCTs when running on Linux, but it does do so when running on Apple platforms.

[2020-08-04 07:16] #1602 closed

[2020-08-04 07:16] Lukasa commented on #1595
Did we get anywhere here?

[2020-08-04 11:04] #1589 closed

[2020-08-04 12:17] PeterAdams-A opened #1611 "flaky-test: EventLoopTest.testMultipleShutdown"
03:04:46.619       2020-08-04 03:04:46.602 - Test Case '-[NIOTests.EventLoopTest testMultipleShutdown]' started.
03:04:46.619       2020-08-04 03:04:46.602 - Fatal error: leaking promise created at (file: "/otmp/od.5pDgAA/lw.RTsJDd/1v7v-68ck5pj0rtn6d_3-3541035/t.hz2yZS/0~5nYaaxKw8ZBxIxUfJqkrWyMJh4DCK6rYy18TXG3vHUqNR_bmwKLJhlYEJKABFXFH8No--MJEIOx2WZv654gTAA==/SRCROOT/Sources/NIO/EventLoop.swift", l

[2020-08-05 12:35] c-scalcucci opened #1612 "Poor performance of ByteBuffer."
### Expected behavior
Our team is running the same architecture, with the same objects, with the same TOS, on the same TCP connection to our core. Swift code is running on SwiftNIO and Java is running Mina.

Being pretty similar, down to the point where Netty split from Mina, I expected to see two's ByteBuffers performing at around the same cost.

### Actual behavior
Swift code is taking much, muc

[2020-08-05 12:37] Lukasa commented on #1612
#1418 is not about the performance of `ByteBuffer` but instead of `ByteBufferView`, and represents a microptimisation.

Before you go _any_ further, are you profiling in release mode (i.e. built with `swift build -c release`)? If you are not, the performance cannot possibly be comparable.

[2020-08-05 13:31] c-scalcucci commented on #1612
Going to close the issue, not quite sure why the profiler returned so much time spend in the TCP stack for v.2.14, but it's running much faster in v2.20.

Seems like now our major drag is libcrypto.

[2020-08-05 13:31] #1612 closed

[2020-08-11 07:35] lanurmi opened #1617 "NIOClientTCPBoostrap.connect() crashes when the host argument is empty"
### Expected behavior
When calling `.connect()` with an invalid hostname, I expect it to throw an error that can be caught with `try...catch`.

### Actual behavior
Calling `.connect(host: "", ...)` crashes with an `EXC_BAD_INSTRUCTION`.

### Steps to reproduce

0. Checkout swift-nio-examples
1. Call `.connect()` with an empty `host` argument, e.g. modify `swift-nio-examples/UniversalBootstrapDemo/

[2020-08-11 08:28] Lukasa commented on #1617
This is actually a Network.framework issue. You can reproduce this crash with no NIO code at all:

[code]

As it's an easy-enough-to-detect issue we can work around it, which we will do, but I also recommend filing a FeedbackAssistant report with the above code if you can verify the crash.

[2020-08-11 08:48] Lukasa commented on #1617
See apple/swift-nio-transport-services#103.

[2020-08-11 09:25] lanurmi commented on #1617
Oh, indeed, your code sample crashes as well. I filed a report through FeedbackAssistant: FB8347519.

[2020-08-12 17:49] dimitribouniol opened #1619 "Practicality issues when Binding to UNIX Domain Socket Paths"
### Expected behavior
When Binding to a UNIX Domain Socket Path, NIO doesn't claim the path if it already exists, nor does it remove the path during shut down. This means it is entirely up to the application to do this tidy work, which is impractical in the vast majority of cases. It seems that in most traditional cases (for C-based servers anyways), the server will always claim rights to a socket

[2020-08-12 18:05] tanner0101 commented on #1619
+1 to ServerBootstrap handling this

[2020-08-13 08:08] Lukasa commented on #1619
Yup, I agree that both of these are worth implementing.

[2020-08-13 13:07] sveamarcus opened #1620 "NonBlockingFileIO should return FileRegion from read/write function as well"
https://github.com/apple/swift-nio/blob/a0f6a48ec0f52af49cdf8274757a2bd1ec9f3295/Sources/NIO/NonBlockingFileIO.swift#L494

After discussion with @Lukasa on Discord, it's been shown that the function should not return FileRegion as can be seen from the comments in #975. Hence, just a nit to remove FileRegion from the function docs return type.

[2020-08-13 13:08] Lukasa commented on #1620
Sorry, I wasn't clear: I think this function _should_ have returned `FileRegion`. Ideally we'd add a version of this that does.

[2020-08-13 13:10] sveamarcus commented on #1620
I stand corrected 👍

Sorry for any confusion.

[2020-08-16 17:08] gwynne commented on #1528
Can this potentially get some attention in the near-ish future? 😕

[2020-08-17 21:35] tomerd commented on #1528
hey @gwynne sorry for the delay. this is a bit more involved than originally seemed, but we are working to remove the docs from the repo.

[2020-08-21 23:18] hieunc278 opened #1623 "Could not connect TCP Sever at simulator"
Expected behavior

Connect to TCP server at simulator with TCP Client successful

Actual behavior

Failed to connect TCP server at simulator with TCP Client.

The error message show as "2020-08-22 05:55:15.948928+0700 iDine[8523:266860] XPC connection interrupted
2020-08-22 05:57:04.736866+0700 iDine[8523:266862] [ServicesDaemonManager] interruptionHandler is called. -[FontServicesDaemonManager co

[2020-08-27 14:09] Lukasa commented on #1623
Dupe of apple/swift-nio-transport-services#104

[2020-08-27 14:09] #1623 closed

[2020-08-27 14:11] Lukasa commented on #1617
Resolved in the new release of swift-nio-transport-services.

[2020-08-27 14:11] #1617 closed

[2020-08-27 14:11] #1599 closed

[2020-08-27 14:11] #1595 closed

[2020-08-31 22:28] hieunc278 opened #1626 "Could not connect to local server from iOS simulator"
### Expected behavior
app run on iOS simulator could connect local server on host successful

### Actual behavior
app run on iOS simulator could not connect local server on host. but localhost server is connected by cURL properly

### Steps to reproduce

1. Run server on host ( use Netty )
2. Run iOS App on simulator.
3. Connect to local server from simulator.

### If possible, minimal yet complet

[2020-09-02 08:54] glbrntt commented on #1626
I'm not able to reproduce this using netcat to listen for connections. `NIO.ChannelError error 0.` seems to be a connect timeout; are you sure your host/port are correct?

[2020-09-03 14:27] gcjenkinson commented on #1485
I've created a pull request for this issue as an introductory task for myself (being unfamiliar with both Swift and SwiftNIO). It should be vaguely sane and at the very least  will allow be to iron out any workflow/process misunderstanding before tackling something more challenging.

[2020-09-03 22:34] hieunc278 commented on #1626
Dear @glbrntt ,

Thanks for your feedback.

I think host/port information is correct, because I used cURL to make the connection and found that i could connect to server successfully.

And when I ran debug with SwiftNIO, I saw that dns was resolved successful, but it could not connect anyway.

I'm a little confuse as you think, because this is normal case. Do you have any idea about enable more lo

[2020-09-07 10:17] Lukasa commented on #1626
You cannot have run cURL from inside the simulator, so the network topology doesn't match. Can you please try using Safari **from within the simulator** to confirm whether you can reach the Netty service?

Can you also please say what the host and port you're using are?

[2020-09-07 10:23] Davidde94 commented on #1626
To clarify, if you attempt to connect to `localhost` from within the simulator, you will connect to the simulator, not macOS. This is likely why it isn't working. Cory's suggestion above will help show this, as entering `localhost` in safari will also try to connect to the simulator.

Think of the simulator as any other VM/container. If you open up a docker container and run `curl localhost`, you'

[2020-09-07 12:58] PeterAdams-A commented on #1626
I've failed to reproduce your problem too.

I ran NIOEchoServer on the Mac host (bound to 0.0.0.0:9999)
I ran an application with your above code in the iOS simulator (iPhone 11 Pro).  For IP I used IP address associated with the Mac hosts ethernet adapter.

I did change the `try channel.closeFuture.wait()` to `try channel.close().wait()` to close from the client side.

I also added a `writeAndFlu

[2020-09-08 23:03] hieunc278 commented on #1626
Dear @Lukasa , @Davidde94 , @PeterAdams-A ,

Thank you all for your feedbacks.

Based on your comments, I have checked again would like have some feedbacks also :

1. At server side, I bind localhost/9090 as hort/port information.
2. When I tried access localhost:9090 with Safari in simulator, it displayed "Safari could not open the page because the server stopped responding", because I saw except

[2020-09-09 08:16] Lukasa commented on #1626
In your `catch let error` block, can you please print the error? That is, do `print("\(error)")`? That will give us a better idea of what the error is. Please do _not_ use `localizedDescription`.

[2020-09-09 23:04] hieunc278 commented on #1626
Dear Mr. @Lukasa,

Thanks for your feedback.

This is error message when I changed as your suggestion.

"2020-09-10 06:01:59.522621+0700 iDine[25475:1153690] XPC connection interrupted
Error: connectTimeout(NIO.TimeAmount(nanoseconds: 10000000000))
Client connection closed"

[2020-09-10 07:02] Lukasa commented on #1626
Ok so this is a connect timeout. That implies that the port is firewalled off, or that nothing is listening there. Can you please print the string values of `host` and `port` as well?

[2020-09-11 22:53] hieunc278 commented on #1626
Dear @Lukasa

Thank you so much for your supports

Yes, server side listen at port 9090 with host is : localhost. This is code at server side :

            ServerBootstrap b = new ServerBootstrap();
            b.localAddress("localhost", 9090);
            b.group(bossGroup, workerGroup)
                    .channel(NioServerSocketChannel.class)
                    .childHandler(new ChannelIniti

[2020-09-14 07:06] Lukasa commented on #1626
Can you show me what's in `TCPClientHandler`, please?

[2020-09-15 21:46] hieunc278 commented on #1626
Dear @Lukasa ,

Thanks for your supports.

I would like to share TCPClientHandler as below. Could you please review it ?

//
//  TCPClientHandler.swift
//  iDine
//
//  Created by Mac on 8/9/20.
//  Copyright © 2020 dth. All rights reserved.
//

import Foundation
import NIO

class TCPClientHandler: ChannelInboundHandler {
    typealias InboundIn = ByteBuffer
    typealias OutboundOut = ByteBuffer

[2020-09-16 08:37] Lukasa commented on #1626
Can you also show me your setup code where you call `TCPClient.init()` and `TCPClient.start`?

[2020-09-16 22:19] hieunc278 commented on #1626
Dear @Lukasa ,

Yes, here it is :

                        let client = TCPClient(host: "localhost", port: 9090)
                        do {
                            try client.start()
                        } catch let error {
                            print("Error: \(error)")
                            client.stop()
                        }

[2020-09-17 11:14] Lukasa commented on #1626
Instead of using a Netty server, can you use `netcat`? Try starting a netcat server with `nc -l 127.0.0.1 9090` and then making the connection from the simulator.

[2020-09-17 23:06] hieunc278 commented on #1626
Dear @Lukasa ,

Thanks for your supports.

I tested with nectar as you suggest and I'm afraid of the result is the same.

I think this issue is not come from swift-nio library, I have actually not found the root cause.

[2020-09-18 08:11] PeterAdams-A commented on #1626
Maybe try rerunning using your non-local IP address (ie  192.168.0.101 in your listing above) everywhere instead of localhost/127.0.0.1 and see if that makes any difference.

[2020-09-20 06:59] hieunc278 commented on #1626
Dear @PeterAdams-A,

Thanks for your feedback. I actually tried with your suggestion before and the result is the same. So I little confuse with this test flow as well

[2020-09-22 08:51] gcjenkinson commented on #1056
I've started investigating this. I see a check in `kevent_internal()` of `ts.tv_sec & 0xFFFFFFFF00000000) != 0)` this makes sense to me as the callweheel structure (at least in FreeBSD) works on a time value specified in 32.32. Though when I create an event I can only create values < 2^30 seconds (I'll keep investigating to reconcile the two). Either way though this is a kernel restriction on the

[2020-09-22 10:43] #1558 closed

[2020-09-22 14:30] #1619 closed

[2020-09-22 15:13] dimitribouniol commented on #1619
Thank you @AndriusA, @Lukasa!

[2020-09-22 15:46] Lukasa commented on #1620
After some discussion with @AndriusA we've come to the conclusion that there is probably limited utility in adding the `FileRegion` to the return value, so we've agreed to just fix up the documentation.

[2020-09-23 16:30] gcjenkinson commented on #1577
I have been working up the following:

[code]

In Rust you'd be able to get a default value for the type, but as that's not available in Swift (?) I'm assuming a fixed value and  a generated value 'orElse' cover most of what you'd want.

[2020-09-23 16:31] Lukasa commented on #1577
Yup. Default values are not a thing in Swift.

[2020-09-24 10:30] purkylin opened #1648 "How to read SocketAddress from ByteBuffer?"
I have a ChannelInboundHandler, and want to read ip address from the ByteBuffer, can someone give me some code conduct?

[2020-09-24 10:32] Lukasa commented on #1648
Can the IP address be IPv4 _or_ IPv6, or must it be one or the other? What format is it in: packed binary, dotted-decimal, colon-separated IPv6?

[2020-09-24 10:37] purkylin commented on #1648
@Lukasa
+------+----------+----------+
| ATYP | BND.ADDR | BND.PORT |
+------+----------+----------+
|  1   | Variable |    2     |
+------+----------+----------+

ATYP
1: IPV4, follow 4 bytes
4: IPV6, follow 16 bytes

[2020-09-24 11:17] Lukasa commented on #1648
Ok, those are packed representations. I am assuming network byte order here.

What data type would you like to end up having? `SocketAddress`?

[2020-09-24 11:28] purkylin commented on #1648
Yes, I want SocketAddress type

[2020-09-24 11:41] Lukasa commented on #1648
I haven't tested it, but this code should work:

[code]

[2020-09-24 11:42] Lukasa opened #1649 "Provide helper to create SocketAddress from packed byte representation"
We have helpers to create `SocketAddress` objects from string representations of IP addresses, but it would be good if we had helpers to create them from packed bytes as well. An example algorithm that we could repurpose is in #1648.

[2020-09-24 11:43] Lukasa opened #1650 "Provide IPAddress type"
If you want to work with a complete socket address type including port, we have a helper in `SocketAddress`. However, the moment you want to talk only about an IP address we force you to hold an `in_addr` or `in_addr6` structure: hardly the friendliest versions of these data types.

We should provide a helpful wrapper `IPAddress` type that can be converted into those types as needed. This would be

[2020-09-25 07:21] MrLotU opened #1655 "Consider adding EventLoopGroupProvider.eventLoopGroup and EventLoopGroupProvider.syncShutDownIfNotShared"
In NIO 2.21.0 a new enum `EventLoopGroupProvider` was introduced for easy passing around of EventLoopGroups in third party libraries.

This has been a great tool in lots of places, but still leaves the following code in nearly all client-libraries:
[code]
or something very similar. And along with this "setup" code almost all these blocks also come with a similar switch statement to shut down the E

[2020-09-25 07:25] Lukasa commented on #1655
I think the computed property seems sensible, and we should definitely add that. I am less confident about adding the `createNew` stanza: it excessively privileges `MultiThreadedEventLoopGroup`, which is not necessarily a good default in some platform situations. For now I think leaving that out, but adding the shutdown computed property seems sensible to me.

[2020-09-25 07:41] MrLotU commented on #1655
Thanks! I will open up a PR :)

[2020-09-26 11:05] #1648 closed

[2020-09-28 16:08] gcjenkinson commented on #1563
Just to clarify, the issue here is that you can't invoke a blocking callback from `whenSuccess()` and so on?

[2020-09-28 16:38] glbrntt commented on #1563
Correct, we don't want to do any blocking work on the event loop.

[2020-09-30 12:47] #1577 closed

[2020-09-30 16:04] #1563 closed

[2020-10-02 07:33] Onno113 commented on #1128
With XCode 12.0 I still see this compiler error for UI test targets as already perfectly described in an earlier comment: https://github.com/apple/swift-nio/issues/1128#issuecomment-588481616

I can also still reproduce the compiler error it with Xcode 12.0 with the example project running CMD + U with the UI test scheme from the comment: https://github.com/apple/swift-nio/issues/1128#issuecomment

[2020-10-04 07:04] hieunc278 commented on #1626
Dear @Lukasa , @PeterAdams-A ,

As I ran example that shipped together with SwiftSocket ( https://github.com/swiftsocket/SwiftSocket ), I saw that it could connect and send data normal, so I think it has not any issues at backend or network interface. And the issue is cause from SwiftNIO actually

[2020-10-05 06:44] Lukasa commented on #1626
Hmm, there are many differences between us and SwiftSocket, including that we support IPv6 and SwiftSocket doesn't, as well as the fact that we resolve DNS with `getaddrinfo` instead of with `gethostbyname`. Any of these could be relevant effects.

[2020-10-07 22:08] hieunc278 commented on #1626
Dear @Lukasa ,

Thanks for your feedback.

Yes, I tested with SwiftSocket to make sure that endpoint is running properly only, and I know lots of different between that two library as well.

Anyway, it's hard to believe that it has the basic case at my environment like that.

[2020-10-07 22:59] hieunc278 commented on #1626
Dear @Lukasa ,

As I debug, I saw that it ran to beginConnecting method, so I think host was resolved properly. It seems that its issue while connecting to target and I saw "ioOnClosedChannel" message while connecting to target.

Do you have any idea about enable full log from swift nio to determine exact reason ?

[2020-10-08 08:11] Lukasa commented on #1626
`ioOnClosedChannel` is a different message altogether. This implies that the remote peer is _closing_ the connection. Can you use something like `tcpdump` to look at the packets on the server side?

[2020-10-08 10:37] #1436 closed

[2020-10-12 09:21] Extollite opened #1671 "Channel doesn't work in Testflight."
### Expected behavior
Once I bind socket there will be reads in channel.
### Actual behavior
No reads in channel.

### Steps to reproduce

1. Create iOS app with UDPEcho in it.
2. Archive it and distribute via test flight.
3. Install app
4. Open app, then close and kill it.
5. Uninstall app.
6. Install it again.
7. Run server in app.
8. No reads in channel.

### If possible, minimal yet complete r

[2020-10-12 09:47] glbrntt commented on #1671
What happens the second time you run the server? Does the server successfully bind or do you get an error?

[2020-10-12 09:59] Extollite commented on #1671
Yes, it does.
[code]

[2020-10-12 12:56] glbrntt commented on #1671
[code]

Can you print the `error` (i.e. not `error.localizedDescription`)?

[2020-10-12 13:10] Extollite commented on #1671
I get this after starting the server and then trying to run again.
```bind(descriptor:ptr:bytes:): Address already in use (errno: 48)```

[2020-10-12 13:42] glbrntt commented on #1671
I think this is expected: the socket is still bound to "0.0.0.0:9999" from the first instance of the app. That it works on the simulator and not a real device is a quirk of the simulator, I suspect.

[2020-10-12 13:46] Extollite commented on #1671
Error is not the issue, issue is that when I try to connect to this socket from other device there is no incoming packets. I can connect with nc -u IP 9999 to this socket, but I don't get any echo response.

[2020-10-12 15:36] compnerd opened #1673 "C system types are exposed, which may be incompatible"
The C system types are not guaranteed to be identical across all systems.  Windows exposes this issue when trying to build all the public interfaces which use the system defined interfaces.  The following (potentially incomplete) list of interfaces are the ones that currently show up:

- sockaddr_un
- sockaddr_in6
- sockaddr_in
- sockaddr
- in_addr
- linger

[2020-10-12 20:47] compnerd commented on #1673
I suppose that adding in `tcp_info` and `tcp_connection_info` to the list would be nice as well.  I'd like to expose `TCP_INFO_V0` so that Windows can also query the additional information about the TCP connection.

[2020-10-13 07:53] Lukasa commented on #1673
Thanks for this! In general these types are going to fall into a few categories. Some types may even be in more than one!

1. Things that need a proper Swift type.

    In this category is, for example, `in_addr` and `in6_addr` (#1650). These types desperately want a better, pure-Swift replacement that can have some semantic behaviours, rather than their fairly useless C-level counterparts. For th

[2020-10-13 08:00] Lukasa commented on #1671
The error _is_ the issue: if the bind fails, you will never get reads, as the connection has not occurred.

On your bootstrap set `.channelOption(.socketOption(.so_reuseaddr), 1)`. This should help.

[2020-10-13 08:43] Lukasa commented on #1671
Sorry, I see you set that already.

It is essentially impossible to see a way for an app that is _uninstalled_ and _reinstalled_ to lead to a port conflict. Can you arrange for the button to guarantee it only ever creates one server (that is, it prevents being pressed twice)? I see no way you can be having state from the previous run affect the new one if you are actually killing and uninstalling

[2020-10-13 08:43] Extollite commented on #1671
I have that in code I send.
Maybe I'm not clear enough.
What I'm doing is distributing my app via TestFlight to my iPhone.
Once I open my app and click run button I don't get any errors, but when I try to connect to this socket from my computer with `nc -u IP 9999` I get connected but when I type something I don't get any echo response.

When I click run button again, without turning off the app,

[2020-10-13 08:46] Extollite commented on #1671
For some reason when I update my app with Testflight and run it, it works, but when I do fresh install my UDP server don't get any packets.

[2020-10-13 09:07] Lukasa commented on #1671
I'd just like to summarise my understanding so I know we're on the same page:

1. On real phones, the `bind` call succeeds.
2. Sometimes it sends echo packets back.
3. Sometimes it doesn't send _any_ packets back.

Is that right? Or does it _never_ get packets back.

[2020-10-13 09:17] Extollite commented on #1671
Never sends packet back. But the problem appears only in Testflight, because when I just use Xcode to run it on phone it works all right.

[2020-10-13 09:19] Lukasa commented on #1671
Are the IP addresses the same in both cases?

[2020-10-13 09:20] Extollite commented on #1671
Yes

[2020-10-13 09:24] Lukasa commented on #1671
Should they be? When plugged in to Xcode your phone has an extra IP address that belongs to the USB connection. Are you sure your computer and phone are on the same network, and is that IP address the one for that network?

[2020-10-13 09:26] Extollite commented on #1671
But they are still connected to same local network, and once again I don't have any issue while running from Xcode via USB. The issue appears only in Testflight, when they are still in same network.

[2020-10-13 09:50] Lukasa commented on #1671
Yes, I agree they're connected to the same local network. My question is whether you are using an address on that local network to try to connect, or whether you're using the network over USB.

[2020-10-13 09:53] Extollite commented on #1671
The local network address.

[2020-10-13 09:53] Davidde94 commented on #1671
What about if you run the debug version of the app that was installed by Xcode, but *not* while the device is plugged into your Mac? The app should still run without a problem.

[2020-10-13 09:54] Davidde94 commented on #1671
Another thing we could try, archiving and distributing over TestFlight will build your app in release mode. Let's try doing a release-mode build and installing via Xcode.

[2020-10-13 10:00] Extollite commented on #1671
In both cases it works, I will setup some local server and try to distribute it ad hoc.

[2020-10-13 10:33] Extollite commented on #1671
Ok, so I distributed it ad hoc in release mode and it is not working. Any idea why it stop to work after archiving?

[2020-10-13 10:42] Davidde94 commented on #1671
Just to confirm, you've changed "Build and Run" inside Xcode to use your release configuration, instead of debug, and it still works when installing the app via a USB cable?

[2020-10-13 10:49] Extollite commented on #1671
![Zrzut ekranu 2020-10-13 o 12 49 12](https://user-images.githubusercontent.com/42713788/95851440-8385de80-0d52-11eb-98b7-a01fbed51a74.png)
Yes

[2020-10-13 10:55] Extollite commented on #1671
Ok I found out, that turning off `Rebuild from Bitcode` while distributing ad hoc fixes issue.

[2020-10-13 11:07] Extollite commented on #1671
Ok, so looks like setting **Build Settings > Build Options > Enable Bitcode** to **No** fixes issue. Still no idea why it is like that.

[2020-10-13 13:43] Extollite commented on #1671
And I was wrong, something bugged and now it is same all over again. After archiving it stops to work.

[2020-10-13 16:54] compnerd commented on #1673
I don't think that the `linger` type is behind guards.  That said, its just a matter of exposing the typealias, and the structure itself is opaque, so its not _terrible_ but, I would rather discuss that before making the types public (which I've tried to avoid as much as possible).

[2020-10-14 07:27] Lukasa commented on #1673
Sorry, I wasn't saying linger was behind a guard but that it potentially _should_ be, if no equivalent socket operation existed on Windows.

[2020-10-14 21:00] compnerd commented on #1673
I think that's where the difference in the view is.  I think it would be best if we avoided leaking platform types wherever possible.  In the case of linger, since it's an opaque pointer, I don't think it matters too much, but anywhere where the user can interact with the type, we should wrap to help ensure that writing against NIO gives you some amount of independence from the underlying platform

[2020-10-15 09:02] Lukasa commented on #1673
I mean, we can do that, but at a certain point we're just lying to ourselves. NIO defining `struct Linger` that looks exactly like C's `struct { } linger` is not really helping anyone achieve platform independence, not least because there's nothing we can do to compute on it.

In my view NIO should be conceptualising of things in layers. There is a low-level system layer where we allow users to es

[2020-10-15 13:38] Davidde94 commented on #1671
@Extollite your link directs to an empty file, any chance you have a basic repo up on Github that I could take a look at?

[2020-10-15 14:17] Extollite commented on #1671
Ok, I did this one fast for testing https://github.com/Extollite/TestUDP.
I still experience same issue.

[2020-10-16 12:47] Davidde94 commented on #1671
@Extollite you're intentionally using `DatagramBootstrap` instead of `ServerBootstrap` right?

[2020-10-16 14:26] Davidde94 commented on #1671
@Extollite thanks for the sample. I've built, archived, and distributed to my own phone *with* bitcode enabled, and the app works as expected...

I did notice something interesting however. The app didn't work until I had granted permission to discover devices over the local network. I wonder perhaps if this is turned off on your device? I appreciate that you've said that it sometimes works, but t

[2020-10-16 14:33] Davidde94 commented on #1671
We think this might be an Xcode bug, which version of Xcode are you using?

[2020-10-16 15:20] Extollite commented on #1671
@Davidde94 yes, the latest one.
I found this https://stackoverflow.com/a/64242745. I added this class to my project and look like it is working now.
Thank you for info about this Network thing!

[2020-10-16 15:21] #1671 closed

[2020-10-19 10:30] purkylin opened #1680 "Sync execute task"
I have a handler to deal with request:

[code]

How to guard above code sync execute, otherwise decrypt will failed as wrong iv.

[2020-10-19 15:38] abidon opened #1681 "Typo in IdleChannelHandler is assigning a scheduled task to the wrong member field"
By browsing the code I think I found a typo in `IdleChannelHandler.makeAllTimeoutTask` (see [here](https://github.com/apple/swift-nio/blob/2.23.0/Sources/NIO/ChannelHandlers.swift#L302-L310)).

When makeAllTimeoutTask is rescheduling, the resulting `Scheduled<T>` is assigned to `scheduledReaderTask` instead of `scheduledAllTask`.

[2020-10-19 16:31] Lukasa commented on #1681
Yup, looks like a typo to me. I think it ought to be possible to reproduce a bug there in a unit test, which would make a nice contribution along with a fix. Do you think you could do that?

[2020-10-21 07:58] PeterAdams-A commented on #1680
I'm not quite sure what you mean - do you mean you're queuing the decrypt to another event loop?  if so they should by default execute in the order you add them.

[2020-10-21 08:01] Lukasa commented on #1680
Also within the same event loop, so long as there are no calls out of this channel handler between `decrypt` and `iv += 1`.

[2020-10-21 18:46] Lukasa commented on #1487
One thing we should aim to provide is an implementation that maps an arbitrary [`ServiceDiscovery` implementation](https://swift.org/blog/swift-service-discovery/) to a new `Resolver`.

[2020-10-23 10:43] xsscx opened #1682 "NIO - malloc: pointer being freed was not allocated"
### Expected behavior
No Crash

### Actual behavior
Crash

### Steps to reproduce
release

### If possible, minimal yet complete reproducer code (or URL to code)
N/A

_[anything to help us reproducing the issue]_
N/A

### SwiftNIO version/commit hash
Apple Swift version 5.3 (swiftlang-1200.0.29.2 clang-1200.0.30.1)
Target: x86_64-apple-darwin19.6.0
Darwin xsss-Mac-mini.local 19.6.0 Darwin Kernel V

[2020-10-23 11:31] Lukasa commented on #1682
If we zoom in on the base of the call stack that crashed:

[code]

The object being freed here is a `Data` object from `Foundation`. NIO does not allocate or use these objects, so this cannot be any of NIO's state that is broken. That suggests that the object was allocated by Proxyman. If it's possible to derive a reproduction case I'd try running it under Thread Sanitizer and Address Sanitizer. M

[2020-10-23 13:13] xsscx commented on #1682
Hello and Good Day!

Thank You very much for providing sunlight on this issue and correcting my assumptions. I'm sorry to have increased the Noise level. I'm pasting in the link to the Bug Report in ProxyMan

https://github.com/ProxymanApp/Proxyman/issues/668

I'll get to work on debugging with your suggestions and paste back any results. Hopefully the developers will see this too.

Thank you agai

[2020-10-23 14:19] #1682 closed

[2020-10-28 04:10] purkylin commented on #1680
Thanks, it's my mistake. That should be sync

[2020-10-28 04:10] #1680 closed

[2020-10-29 21:15] iychche opened #1685 "Support for SwiftNIO on iOS"
We are using SwiftNIO on iOS to implement a rsocket-swift library. This will support bi-directional communication on a websocket connection. We came across the following issue:

https://github.com/apple/swift-nio/issues/130

The issue seems to indicate that SwiftNIO uses POSIX networking which does not activate the cellular radio or on-demand VPN. However, the issue is from 2018. Has this been res

[2020-10-30 07:25] Lukasa commented on #1685
Yes, swift-nio-transport-services wraps Network.framework, which takes care of dealing with the complex networking situation on iOS. That’s the recommended way to run on iOS.

[2020-10-30 07:25] #1685 closed

[2020-11-03 10:54] weissi commented on #1541
We have to fix this. In the old days where we had only _in N nanoseconds_ API, this was probably okay(ish) because it's impossible to get a clash in the real world (because you'd need to get to equal values back from `DispatchTime.now()` in a row. Even in a tight loop, that's not possible with the time resolution of today's CPUs.

Just as a quick test:

[code]

[code]

so the closest I could get t

[2020-11-10 16:13] thomasvl commented on #1600
Any word on exposing this for other projects to use?

[2020-11-10 16:52] Lukasa commented on #1600
ping @tomerd

[2020-11-11 03:59] tomerd commented on #1600
Sorry for the delay, I have not seen this until now for some reason. my suggestion on this would be to have this integrated in to SwiftPM rather than ship as a separate script. There is actually already a JIRA for this: https://bugs.swift.org/browse/SR-10540, if you are interested in helping out this could be a fun project

[2020-11-12 11:01] matejukmar opened #1688 "Invalid data (type) passed to channelRead in ChannelInboundHandler causing crash"
I have set up custom websocket NIO chat server which also accepts also HTTP requests. I have two types of `ChannelInboundHandler` one with `typealias InboundIn = HTTPServerRequestPart` and the other with `typealias InboundIn = WebSocketFrame`

The crash occurs in `HTTPServerRequestPart` type of `ChannelInboundHandler` in this function:
[code]

Crash occurs when calling `self.unwrapInboundIn(data)`

[2020-11-12 11:23] Lukasa commented on #1688
This is intentional: we'd generally prefer you to remove the channel handler and replace it with another one than to try to conditionalise your handlers.

This can happen if you are not removing your handlers fast enough from the pipeline. Can you show me your upgrade code?

[2020-11-13 14:30] Lukasa opened #1689 "[Feature Proposal] Sampling pipeline tracing functionality"
When running NIO applications in production it is possible to encounter rare, probabilistic issues. These issues happen with relatively low frequency and are, with the information available to the application developer, unpredictable. Generally they are the result of unforeseen interactions of components in a fairly complex system, often triggered by unexpected or unusual timing or asynchrony beha

[2020-11-13 14:43] PeterAdams-A commented on #1689
Seems like an interesting idea.  Need to make the performance great.

On the inbound side presumably user could get something similar by collecting a stack trace on event.

Could consider offering other cheaper things like simple event counts which might be revealing?

[2020-11-13 14:44] Lukasa commented on #1689
Stack traces can lose delays and other things, and may not be cheaper to gather.

[2020-11-13 14:50] avolokhov commented on #1689
If the error happens every once in a million interactions and tracing is set to 1/5000, the probability of accidentally catching it is impossibly low. Is there any chance to make it event-driven? Something like an in-memory ringbuffer of preconfigured size collecting the trace and a method that can dump it if exception/error/suspicion is caught?

[2020-11-13 15:29] Lukasa commented on #1689
Yes, in principle, but I don't want to make it the default. The reason I'm nervous is that the cost is not just the I/O of hitting the logging system, it's also the cost of formatting the logs. That can potentially be horrendously expensive, and logging this to a ring buffer is not going to make it vastly cheaper. A likely API model would be that you'd supply a function we handed the logs to, and

[2020-11-13 15:36] avolokhov commented on #1689
Fair point re: probabilities. On Logging side, I think the general direction for Logging is to get Logging events off thread as fast as possible, so formatting and I/O is done asynchronously. For unfrequent errors if we're logging at least one log line per transaction, the overhead of logging on errors will become negligible.
But you're right about scaffolding - once we have _a_ way to get the dat

[2020-11-14 05:11] dimitribouniol opened #1690 "TimeAmount does not support +=, -=, etc..."
### Expected behavior
Sometimes it is useful to manipulate time amounts when building up a delay for `.scheduleTask()` for instance, and if that iteration fails, we would want to `delay += .milliseconds(5)` to add 5 milliseconds to our delay and try again.

### Actual behavior
You would get a lovely `Referencing operator function '+=' on 'FloatingPoint' requires that 'TimeAmount' conform to 'Float

[2020-11-14 07:25] Lukasa commented on #1690
I think an `AdditiveArithmetic` conformance isn’t unreasonable here.

[2020-11-17 10:40] glbrntt commented on #1689
I assume you mean `ChannelHandlerContext` rather than `ChannelHandler` here.

---

Yes, having an overall picture of events as the flow through the pipeline could be incredibly valuable. I have found when diagnosing issues in a NIO stack that often a lot of time is spent trying to triangulate where issues are (which is difficult when the NIO provided handlers don't emit logs). As an example, I bel

[2020-11-17 10:42] Lukasa commented on #1689
I am...nervous about that? That may want to be chosen by the individual child channels. It's a bit tricky as we don't have a way to "register" a child channel with its parent.

The reason I'm nervous about it is that it can lead to bad outcomes. For example, a grpc client that opens a single HTTP/2 connection for the entirety of its lifetime rolls the dice exactly once. If it hits, it logs _all tr

[2020-11-17 11:08] glbrntt commented on #1689
Oh, that's sort of what I was digging at, in what cases would the child channel would be configured. I.e. if the http/2 connection channel got lucky, would the http/2 stream channels on that connection all be traced or would each roll a dice? What if the connection channel was unlucky, would we still roll a dice and log just at the stream channel level?

[2020-11-17 11:09] Lukasa commented on #1689
The easiest thing (and probably the right thing to do, coincidentally) is to have all channels roll separately, even when they are child channels.

[2020-11-17 11:41] avolokhov commented on #1689
Imagine NIO handlers were emitting normal log events with some requestId-ish sampling key with logging backend filtering out not sampled events early in the pipeline. Would it solve the same problem?
Sampling outside of NIO framework would potentially allow us to tweak sampling rate of the live instance (which can be super useful when an error is happening on only a subset of the fleet).

[2020-11-17 13:18] Lukasa commented on #1689
The sampling rate can be configurable at Channel creation time, which allows on-the-fly sample rate tweaking.

Doing this anywhere else risks swamping the logging backend, I think.

[2020-11-17 13:49] ayshiff commented on #1649
@Lukasa Can I work on this ?

[2020-11-17 14:47] Lukasa commented on #1649
Absolutely.

[2020-11-17 15:30] #1690 closed

[2020-11-17 15:52] dimitribouniol commented on #1690
@joshrutkowski @Lukasa Thank you both for getting this in so quickly!

[2020-11-21 08:33] bdkjones opened #1693 "Arm64 Architecture Missing"
I rely on Swift-NIO in my app. I'm installing it via the Swift Package Manager in Xcode 12.2 on Big Sur 11.0.1 running on a 13" M1 MacBook Pro.

When I attempt to build, Xcode informs me that it can't find the `arm64` architecture for Swift-NIO:

<img width="347" alt="Screen Shot 2020-11-21 at 00 18 07" src="https://user-images.githubusercontent.com/926566/99871618-ef006e80-2b90-11eb-8a9e-2e6d5458

[2020-11-21 12:32] Lukasa commented on #1693
SwiftNIO is shipped as source-only: we don’t ship binaries. Our source supports arm64, but whether or not the arm64 version is available is not up to us: your software needs to build it locally.

How is your build system set up? Are you targetting both architectures? It may be worth clearing out your DerivedData folder and performing a complete rebuild.

[2020-11-21 12:32] Lukasa commented on #1693
As you also commented [on the forums](https://forums.swift.org/t/xcode-12-2-spm-swift-nio-fails-to-build-for-apple-silicon-arm64/42197/2) I’m going to close this to centralise conversation there.

[2020-11-21 12:32] #1693 closed

[2020-11-24 07:13] purkylin opened #1694 "Add a replace decoder or replace handler function"
To implement a custom protocol, you may have many states and each state require a decoder. I thinks it will be very convenient to replace below code:

[code]

[2020-11-27 10:18] #1649 closed

[2020-11-30 14:35] PeterAdams-A opened #1697 "Avoid allocating when changing EventLoopFuture to Void type."
### Expected behavior
No Allocation

### Actual behavior
Allocation

### Steps to reproduce

Code like the following allocates

`return streamPromise.futureResult.map { _ in }`

The purpose of this code is to convert and EventLoopFuture<Something> into an EventLoopFuture<Void>

### If possible, minimal yet complete reproducer code (or URL to code)

`return streamPromise.futureResult.map { _ in }`

[2020-12-16 20:52] rauhul opened #1705 "NIO target declares unused dependencies"
The `NIO` target declares dependencies on `CNIOAtomics` and `CNIOSHA1` but doesn't appear to use any symbols from them. These extra dependencies should probably be removed.

[2021-01-02 21:53] MaxDesiatov commented on #1128
Still happening with Xcode 12.2 and Xcode 12.3 for me. Here's a test run where it appears https://github.com/TokamakUI/TokamakVapor/runs/1637655163

[2021-01-05 10:12] weissi commented on #1128
@MaxDesiatov I just opened your test run and from what I can tell, the failure is

[code]

which looks like a _different_ compiler bug, no?

FWIW, this bug (`error: Missing required module ‘CNIOAtomics’`) is supposed to be fixed in Xcode 11.3.1.

@MaxDesiatov Can you confirm that the bug you're facing is the small method list error followed by a compiler crash?

[2021-01-05 10:33] MaxDesiatov commented on #1128
Yes, that's correct. Apologies for spamming this issue then. I think I was redirected here from somewhere else that described having "small method list" error and linked to here as something that helped in resolving that error.

[2021-01-05 10:47] weissi commented on #1128
@MaxDesiatov don't apologise! Do you happen to already have a Swift bug (Feedback reporter or bugs.swift.org) or Xcode bug (Feedback reporter) that I could look into?

[2021-01-05 11:01] MaxDesiatov commented on #1128
Thanks! I've filed https://bugs.swift.org/browse/SR-14013.

[2021-01-07 00:37] mlilback opened #1714 "ByteToMessageDecoder needs documentation update for #1426"
The documentation for ByteToMessageDecoder says

#1426 added a default implementation of `decodeLast` that calls `decode`. This documentation needs to be updated appropriately.

[2021-01-07 08:14] Lukasa commented on #1714
Yup, seems right. Would you like to make a patch to amend that?

[2021-01-07 14:06] mlilback commented on #1714
I started to, but was unsure of how to do it (as a trained copy editor, I'm a perfectionist). Less than 10 hours with nio, after almost 30 years of using blocking sockets, makes me hesitant. I was stumbling around for most of that until I switched to reading Netty documentation/example. I do plan on contributing doc and bug fixes once I have a handle on everything.
 Just not yet.

[2021-01-07 19:09] Lukasa commented on #1714
So I think the documentation alone is wrong. This means we can simply amend the documentation comment. It lives here: https://github.com/apple/swift-nio/blob/8ea391a77d62953c6cbb56b94717b144b62edec8/Sources/NIO/Codec.swift#L63

I think at this stage the change can simply be to say "may implement two methods: `decode` and `decodeLast`. Implementations _must_ implement `decode`: if they do not imple

[2021-01-08 17:11] weissi commented on #1564
dupe of #1180

[2021-01-08 17:11] #1564 closed

[2021-01-08 17:11] weissi commented on #1180
- Seen again 2020-08-21 (by @PeterAdams-A )
- Seen again 2021-01-08 (by @weissi )

[code]

[2021-01-08 18:54] weissi opened #1717 "EmbeddedChannel writeInbound/Outbound return buffer state which can be expensive"
EmbeddedChannel writeInbound/Outbound always return the state of the inbound/outbound buffer. That can be expensive because we may need to do an Array copy (from the CircularBuffer that holds the data).

Given that we almost never use the return value, the default should be to return nothing. We can provide a specialised function that returns the buffer state (or a property that allows to access t

[2021-01-13 07:49] Lukasa commented on #1147
CI on 5.3:

[code]

[2021-01-13 08:09] #1705 closed

[2021-01-16 12:41] weissi opened #1722 "rewrite the chat server example to use synchronisation that is obvious rather than the hacks we do"
Rewrite the chat server example to use synchronisation that is obvious rather than the hacks we do.

See [here](https://forums.swift.org/t/cant-get-writeandflush-to-send-bytes/43878/6).

[2021-01-19 15:30] Jinxiansen opened #1724 "How to use SwiftNIO to parse multiple files uploaded from html?"
Hello! This is my HTML sample code:
[code]

I want to use SwiftNIO as the server, add a post method **/upload** API to receive files uploaded from html, but the current received is a **ByteBuffer or Data** data, the size of the data data is multiple files I uploaded The sum of the sizes; I want to read Data and store it according to the name, but I did not find how to parse this Data in sections t

[2021-01-19 16:50] weissi commented on #1724
Thanks for your question! SwiftNIO does not provide functionality like this itself. SwiftNIO does support HTTP but it only supports the HTTP wire protocol and seems like you're looking for a fully fledged web framework (with support for APIs, routing, uploads, ...). We would recommend you pick one of the Swift web frameworks that are implemented using SwiftNIO. For example [Vapor](https://github.c

[2021-01-19 16:50] #1724 closed

[2021-01-20 00:17] Jinxiansen commented on #1724
@weissi
Thank you very much. You are right, but Vapor framework is too heavy for my needs, I will refer to its code.

[2021-01-20 11:47] Davidde94 commented on #1626
@hieunc278 are you still struggling with this?

[2021-01-20 12:57] Davidde94 commented on #1694
@purkylin could you expand a little on when you might want to do this?

[2021-01-20 15:00] weissi commented on #1724
@Jinxiansen I see. You could also try more lightweight frameworks like https://github.com/Macro-swift/MacroExpress ?

[2021-01-20 15:08] weissi commented on #1724
CC @helje5 the author of MacroExpress

[2021-01-20 15:13] helje5 commented on #1724
Hi. MacroExpress has bodyParser implementations for text, url-form-encoded and json, but I don't do multipart/form-data yet. That's primarily because I didn't need it yet, I might just add at least a basic implementation in the next few days :-)

[2021-01-20 15:38] Jinxiansen commented on #1724
@helje5 @weissi

Great! Very happy to meet you here!👏  I have seen MacroExpress a few days ago, but it cannot meet my needs.

[code]

Because I want to use the above code to select multiple files of any type in `html`, and then call the `/upload` interface to save multiple files to the specified directory.

I saw a method like ```app.on(.POST, "upload", body: .stream) { req in ... }``` in **Vapor*

[2021-01-20 18:44] weissi commented on #1626
FWIW, this `tcpdump` command should help:

    sudo tcpdump -X -i lo0 '' 'port 9090'

@hieunc278 run that on your Mac, then start the server and run the client in the Simulator. After that you can paste the output into this.

[2021-01-21 08:13] purkylin commented on #1694
I want to implement the [socks5 protocol](https://tools.ietf.org/html/rfc1928).
Firstly, write a decoder to parse header:

	|VER | NMETHODS | METHODS  |

Secondly, write another decoder to replace previous one, which used to parse cmd

	|VER | CMD |  RSV  | ATYP | DST.ADDR | DST.PORT |

Finally, relay request.

If the proxy has auth, I should write an auth decoder.

[2021-01-21 09:50] Lukasa commented on #1694
Can I recommend not splitting those into separate channel handlers but instead having a single SOCKS handler that manages all of this? I suggest this because transforming the channel pipeline can often be a bit fraught: you need to add buffering and other things to handle the questions of how things are ordered, and where the data ends up. If it's possible to implement an entire protocol in a sing

[2021-01-21 14:55] adriantabirta opened #1730 "How about http3?"
I was investigating http3/QUIC possibilities. Cannot find any examples of http3 stream api. Maybe in this repo will be ok to add it?

[2021-01-21 22:59] hieunc278 commented on #1626
@Davidde94, @weissi :

Thanks for your feedbacks.

Let me check again then let you know the result

[2021-01-22 09:09] purkylin commented on #1694
If I use only  one decoder and one hander, I should change the decoder's state in the hander.

[2021-01-23 04:59] #1694 closed

[2021-01-24 13:50] PeterAdams-A commented on #1730
What did you have in mind - are you thinking of doing a full implementation in swift?

Note that HTTP/2 has it's own repo.

[2021-01-24 15:29] Lukasa commented on #1730
HTTP/3 and QUIC are definitely things we’re interested in. But they’re a non-trivial amount of work. The easiest thing to do in the near future is to bind a third-party library.

[2021-01-24 16:41] adriantabirta commented on #1730
As I have found on the internet today everyone have own version of QUIC, to be able to test in on device I can use Cronet framework, very basic, have no features like streaming. I understand that this is huge amount of work but maybe...

[2021-01-30 01:27] hieunc278 commented on #1626
Dear All,

I just don't know why but now I could connect to local server from iOS Simulator, so I would like to close this

[2021-02-02 23:47] hieunc278 commented on #1626
Currently, when I connect to local server from Simulator, at server side, channelActive is fired, but not fired at client side

Mr. @weissi

Here is tcp dump content, could you please review it then let me know if it has any issues ?

06:45:04.670909 IP 192.168.0.102.60973 > 192.168.0.102.9093: Flags [F.], seq 1, ack 1, win 6379, options [nop,nop,TS val 546759263 ecr 546679203], length 0
	0x0000:

[2021-02-03 09:56] weissi commented on #1626
@hieunc278 are you sure you got the pcap with `sudo tcpdump -X -i lo0 '' 'port 9090'` ? Because I see ports 9093 an 60973 and IP addresses 192.168.0.102 only. Also there is no connection establishment in there.

What we should see is traffic from and to 127.0.0.1 (localhost, both the Mac and the Simulator) and for each item, one of the ports should be `9090`. Also we should see a `S` flag (which s

[2021-02-06 23:45] hieunc278 commented on #1626
Dear @weissi,

Thank you for your very details information with your patient.

Actually I have just checked again, and found that it did not any issues with the connection between client( inside iOS Simulator ) and server ( host machine ), and the issue related to Protobuf decoder and encoder.

Now I could receive message normally.

[2021-02-07 00:22] #1626 closed

[2021-02-13 07:13] buttaface opened #1748 "Several SALChannelTest cases fail consistently on linux x86_64"
### Expected behavior
All tests to pass on Fedora Core 33, as they did on Ubuntu 20.04 over the last several months.

### Actual behavior
Only the SALChannel tests fail, mostly with this error message `unexpected syscall whenReady(NIO.SelectorStrategy.now)`, which is some kind of race? I don't know if this is specific to Fedora, as I've since deleted my Ubuntu VPS. I see these errors occasionally

[2021-02-16 12:12] weissi commented on #1748
Thank you for reporting this, I will look into it!

[2021-02-16 13:39] buttaface commented on #1748
@tachoknight, can you reproduce or have any input?

[2021-02-16 13:40] weissi commented on #1748
I can repro (on Linux but not on macOS)

[2021-02-16 13:41] buttaface commented on #1748
Which distro, Ubuntu?

[2021-02-16 13:42] weissi commented on #1748
@buttaface yes, I'm using the `swift:5.3` docker image which is ubuntu.

[2021-02-16 13:43] buttaface commented on #1748
Great, I was worried this would be a heisenbug. At least it's consistently reproducible on linux, even though it would come and go on Android AArch64.

[2021-02-16 14:03] weissi commented on #1748
@buttaface oops, found the bug. Making a PR right now, explanation in the PR.

[2021-02-17 08:33] #1748 closed

[2021-02-17 09:31] weissi commented on #1748
hey @buttaface , the fix now got merged to `main`. Would you mind trying again to verify that this actually fixes it for you too?

[2021-02-17 16:07] buttaface commented on #1748
Yep, it's fixed now.

[2021-02-17 19:00] weissi commented on #1748
@buttaface fab, thank you!

[2021-02-19 17:51] weissi opened #1756 "NIO doesn't necessarily send ECONNRESET and other errors on `reset()` through pipeline"
In a few cases (at least), NIO doesn't send ECONNRESET and other errors on `reset()` through the pipeline.

Two scenarios are known:

- async connect
  * `channelActive`
  * receive EOF w/ half-closure on
  * `EPOLLHUP`

needs more investigation. Thanks to @fabianfett for mentioning that connect errors aren't necessarily surfaced.

[2021-02-20 12:40] 6epreu commented on #1257
I would assume no and if that's the case, can you try @_implementationOnly import NIO?
We will still have a look into why it fails to compile.

Could somebody provide an example how to use this import?
I have approximatelly the same situation. Im developing the xcframework which force me to compile with BUILD_LIBRARY_FOR_DISTRIBUTION=yes

My dependencies added over cocoapods but I did not call any

[2021-02-21 19:01] weissi commented on #1257
@6epreu You should be able to get this to work if you do `@_implementationOnly import GRPC...` instead of just `import GRPC...` and you should build NIO & GRPC not in library evolution mode.

So in short:
- Only do `@_implementationOnly import GRPC...` / `NIO` and other things that you want to import but should remain an _implementation detail_ of your library
- compile your framework with "Build

[2021-02-23 07:56] hassila opened #1761 "[Linux] evaluate io_uring() as alternative async I/o mechanism"
Stumbled across another (new) async I/o interface that seems worthwhile considering for best possible performance on Linux. See some background here:

https://lwn.net/Articles/810414/
https://kernel.dk/io_uring.pdf

And one simple test vs epoll with performance numbers:
https://github.com/frevib/io_uring-echo-server/blob/io-uring-op-provide-buffers/benchmarks/benchmarks.md

Is this something of in

[2021-02-23 08:04] hassila commented on #1761
Here are some results from netty who adopted it:
https://github.com/netty/netty/issues/10622#issuecomment-701241587

[2021-02-23 09:00] PeterAdams-A commented on #1761
Thanks for the heads up @hassila.  io_uring has been on our radar for a while.  Unfortunately it's yet to reach the top of our list as we are busy with many other things.  We agree that it is likely to lead to improved performance on linux.

If you feel so inclined we'd welcome any code contributions in this direction.

[2021-02-23 16:56] hassila commented on #1761
Thanks @PeterAdams-A - I could have a look, it seems Ubuntu 20.04 has a fresh enough kernel that supports it (even if performance of io_uring seems to have improved quite a bit further with more recent ones than 5.4 that Ubuntu uses, but it should be usable for bringup).

Just a few basic initial questions (I'm sure I'd need some handholding on best integration with existing code-base):

- Looking

[2021-02-23 17:42] Lukasa commented on #1761
Selecting between them should just be configuration. They can hook in underneath `SelectableEventLoop`, I suspect. Swift does not have a preprocessor in the traditional sense so it cannot use `#if`-based feature detection.

There's no problem with relying on this library _iff_ its absence can be tolerated on systems that do not have iouring.

We have an existing performance test suite, and it shou

[2021-02-23 21:26] patrickfreed opened #1765 "Move general purpose data structures to separate product or package"
There are a number of general purpose data structures included in SwiftNIO that would be useful in projects that don't require the rest of SwiftNIO itself (e.g. `ByteBuffer`). To avoid having to pull in all of NIO as a dependency just to use these structures, it would be nice if they were contained in their own smaller product or package, similar to `NIOConcurrencyHelpers`.

Personally, this would

[2021-02-24 07:19] 6epreu commented on #1257
@weissi thanks for explanation

I have added this to Podfile of my Framework and also @_implementationOnly import should be used where necessary

`
post_install do |installer|
  installer.pods_project.targets.each do |target|
    puts "#{target.name}"
    if target.name == "gRPC-Swift"
        || target.name == "SwiftNIO"
        || target.name == "SwiftNIOConcurrencyHelpers"
        || target.nam

[2021-02-24 07:43] Lukasa commented on #1765
I am disinclined to want to do this for PriorityQueue. PriorityQueue is not API in NIO today, and I don’t really want to draw an API boundary around it.

For CircularBuffer and ByteBuffer there is something to be said for this idea. I’d be open to pulling each of those out to their own library target and product, though I don’t want to put them in another package. @weissi how do you feel about tha

[2021-02-24 08:17] hassila commented on #1761
Exposing io_uring should probably be done in the context of https://github.com/apple/swift-system ?

It mentions SwiftNIO as one consumer, but doesn't seem like it is currently used - ok to add it as a dependency?

[2021-02-24 08:33] Lukasa commented on #1761
It is not ok to add it as a dependency, unfortunately. Until it tags 1.0 adding it as a dependency will immediately cause dependency hell if anyone else in the ecosystem depends on it.

We expose our system calls through our own internal abstraction layer: https://github.com/apple/swift-nio/blob/main/Sources/NIO/Linux.swift.

[2021-02-24 08:45] hassila commented on #1761
Ok, that's alright. I'll just make shims and interfaces analogous to what's already in place then.

[2021-02-24 10:43] weissi commented on #1257
@6epreu very cool! Thanks for reporting back!

[2021-02-24 13:40] andrewcb opened #1768 "Impossible to use ChannelOptions.socketOption(.so_rcvtimeo)"
### Expected behavior
I expect it to be possible to configure a TCP connection's receive timeout using the SO_RCVTIMEO option using `ClientBootstrap's `.channelOption` modifier.

### Actual behavior
While `ChannelOptions.socketOption(.so_rcvtimeo)` exists, it is not usable, because its required argument type is the 16-byte `timeval` structure, however, its argument type,
`SocketOption.Value`, is C

[2021-02-24 13:52] Lukasa commented on #1768
Sadly, ChannelOption-based socket options are a bad fit for this particular socket option. You can use [`SocketOptionProvider`](https://github.com/apple/swift-nio/blob/9b230f89a412663901fa06fc214eaa69204def1e/Sources/NIO/SocketOptionProvider.swift#L42) instead, though it lacks a convenient shorthand for `SO_RCVTIMEO`. We'd happily accept a patch that adds such a shorthand, looking roughly like: ht

[2021-02-24 15:55] hassila commented on #1761
Having spent some time now looking at how Swift interacts with C and what support there is in the SPM - I haven't figured out any good way to do that - except manually loading it with dlopen() and using dlsym() to resolve relevant symbols. Is that an acceptable approach (works for me)? I plan on having the implementation fall back to epoll with a warning if io_uring is specified but not available.

[2021-02-24 15:57] Lukasa commented on #1761
Yeah, I think we'd have to use `dlopen` and `dlsym`. @weissi do you have any objections to that approach?

[2021-02-24 16:31] weissi commented on #1761
I'm fine with `dlopen`/`dlsym` or invoking the syscalls directly using [`syscall`](https://man7.org/linux/man-pages/man2/syscall.2.html) (returns `ENOSYS` if unimplemented).

Is the plan to ship the relevant `io_uring` headers (for `struct io_uring_params`/`struct io_sqring_offsets`/`struct io_cqring_offsets`) in NIO itself?

The other question is if we target [`liburing`](https://git.kernel.dk/cg

[2021-02-24 16:33] Lukasa commented on #1761
@weissi See the discussion above. I think targeting liburing is sensible.

[2021-02-24 17:14] hassila commented on #1761
Agree, it seems that liburing (also written by Jens Axboe) removes a reasonable amount of boilerplate that otherwise would be reimplemented as discussed above.

With regard to the headers, I had planned on including them such as:
`// Pull in io_uring if it's availble (Linux kernel 5.1+ systems, better performance with 5.11+)`
`#if __has_include(<liburing/io_uring.h>)`
`#include <liburing/io_uring.

[2021-02-24 17:26] Lukasa commented on #1761
I think as a first pass we can require that to get a NIO that supports io_uring you need to build on a system with liburing development headers. If we find that this leads to unsatisfactory outcomes we can always change the behaviour later.

[2021-02-26 10:47] hassila commented on #1761
Ok, some initial work done:
- Build with liburing (headers + dynamic loading in place) if available, exposing in CNIOLinux.h (implemented in shims.c)
- Run into slight problem that some of the API of liburing is defined as static inline functions in the header (so cannot dlsym those), but so far all of them seems to resolve down to atomics which should be available at link time and I believe we ca

[2021-02-26 11:43] weissi commented on #1761
First of all, thank you so much for driving this forward, this is super valuable! Leaving some comments inline.

But `static inline` functions won't necessarily have any symbols at all. They may only exist either as inlined pieces of code. If Swift's clang importer can't import these, then we'd need to "wrap" them in a regular C function and we could stub them out if uring isn't available (exactly

[2021-02-27 14:17] hassila commented on #1761
Yeah, I think that'd be alright.

I think maybe going after the Selector instead may be the right level, will follow up in slack instead as you suggested, just joined there now.

I'll focus on getting the epoll/kqueue replacement up first before looking at outbound as a POC.

Super, thanks, will follow up there!